$def with (urlapp)

$var urlapp: $urlapp

	<div id="information-sitemap" class="container">
  <ul class="breadcrumb">
        <li><a href="https://rekords.net/"><i class="fa fa-home"></i></a></li>
        <li><a href="https://rekords.net/index.php?route=information/sitemap">Site Map</a></li>
      </ul>
  <div class="row">
                <div id="content" class="col-sm-12">
      <h1>Site Map</h1>
      <div class="row">
        <div class="col-sm-6">
          <ul>
                        <li><a href="https://rekords.net/index.php?route=product/category&amp;path=396">Vinyl</a>
                            <ul>
                                <li><a href="https://rekords.net/index.php?route=product/category&amp;path=396_325">New Vinyl</a>
                                    <ul>
                                        <li><a href="https://rekords.net/index.php?route=product/category&amp;path=396_325_326">Dansk Hip Hop</a></li>
                                        <li><a href="https://rekords.net/index.php?route=product/category&amp;path=396_325_452">Funk / Soul</a></li>
                                        <li><a href="https://rekords.net/index.php?route=product/category&amp;path=396_325_328">Hip Hop</a></li>
                                        <li><a href="https://rekords.net/index.php?route=product/category&amp;path=396_325_467">Jazz</a></li>
                                        <li><a href="https://rekords.net/index.php?route=product/category&amp;path=396_325_466">Reggae</a></li>
                                        <li><a href="https://rekords.net/index.php?route=product/category&amp;path=396_325_478">World &amp; Other</a></li>
                                        <li><a href="https://rekords.net/index.php?route=product/category&amp;path=396_325_329">Beats</a></li>
                                      </ul>
                                  </li>
                                <li><a href="https://rekords.net/index.php?route=product/category&amp;path=396_323">Used Vinyl</a>
                                    <ul>
                                        <li><a href="https://rekords.net/index.php?route=product/category&amp;path=396_323_74">Hip Hop (Albums)</a></li>
                                        <li><a href="https://rekords.net/index.php?route=product/category&amp;path=396_323_75">Hip Hop (EPs &amp; Singles)</a></li>
                                        <li><a href="https://rekords.net/index.php?route=product/category&amp;path=396_323_70">Dansk Hip Hop (Albums)</a></li>
                                        <li><a href="https://rekords.net/index.php?route=product/category&amp;path=396_323_71">Dansk Hip Hop (EP'er &amp; Singler)</a></li>
                                        <li><a href="https://rekords.net/index.php?route=product/category&amp;path=396_323_277">Beats</a></li>
                                        <li><a href="https://rekords.net/index.php?route=product/category&amp;path=396_323_483">Swedish &amp; Norwegian Hip Hop</a></li>
                                        <li><a href="https://rekords.net/index.php?route=product/category&amp;path=396_323_419">DJ Tools</a></li>
                                        <li><a href="https://rekords.net/index.php?route=product/category&amp;path=396_323_310">Electro &amp; Ol School Hip Hop</a></li>
                                        <li><a href="https://rekords.net/index.php?route=product/category&amp;path=396_323_470">Electronic</a></li>
                                        <li><a href="https://rekords.net/index.php?route=product/category&amp;path=396_323_469">Funk / Soul / Disco</a></li>
                                        <li><a href="https://rekords.net/index.php?route=product/category&amp;path=396_323_468">Jazz</a></li>
                                        <li><a href="https://rekords.net/index.php?route=product/category&amp;path=396_323_473">Library</a></li>
                                        <li><a href="https://rekords.net/index.php?route=product/category&amp;path=396_323_472">Rock &amp; Pop</a></li>
                                        <li><a href="https://rekords.net/index.php?route=product/category&amp;path=396_323_471">World &amp; Other</a></li>
                                        <li><a href="https://rekords.net/index.php?route=product/category&amp;path=396_323_402">Other Genres</a></li>
                                        <li><a href="https://rekords.net/index.php?route=product/category&amp;path=396_323_422">Reggae / Dancehall / Ragga Hip Hop</a></li>
                                      </ul>
                                  </li>
                              </ul>
                          </li>
                        <li><a href="https://rekords.net/index.php?route=product/category&amp;path=395">Tapes</a>
                            <ul>
                                <li><a href="https://rekords.net/index.php?route=product/category&amp;path=395_348">New Hip Hop Tapes</a>
                                  </li>
                                <li><a href="https://rekords.net/index.php?route=product/category&amp;path=395_318">Used Hip Hop Tapes</a>
                                  </li>
                              </ul>
                          </li>
                        <li><a href="https://rekords.net/index.php?route=product/category&amp;path=155">CD &amp; DVD</a>
                            <ul>
                                <li><a href="https://rekords.net/index.php?route=product/category&amp;path=155_73">US / EU / UK etc.</a>
                                  </li>
                                <li><a href="https://rekords.net/index.php?route=product/category&amp;path=155_72">Scandinavian Albums, EPs &amp; Compilations</a>
                                  </li>
                                <li><a href="https://rekords.net/index.php?route=product/category&amp;path=155_252">Scandinavian Singles</a>
                                  </li>
                              </ul>
                          </li>
                        <li><a href="https://rekords.net/index.php?route=product/category&amp;path=442">Merch &amp; Clothing</a>
                            <ul>
                                <li><a href="https://rekords.net/index.php?route=product/category&amp;path=442_488">Den Gale Pose</a>
                                  </li>
                                <li><a href="https://rekords.net/index.php?route=product/category&amp;path=442_457">Rekords</a>
                                  </li>
                              </ul>
                          </li>
                      </ul>
        </div>
        <div class="col-sm-6">
          <ul>
            <li><a href="https://rekords.net/index.php?route=product/special">Specials</a></li>
            <li><a href="https://rekords.net/index.php?route=account/account">My Account</a>
              <ul>
                <li><a href="https://rekords.net/index.php?route=account/edit">Edit your account information</a></li>
                <li><a href="https://rekords.net/index.php?route=account/password">Change your password</a></li>
                <li><a href="https://rekords.net/index.php?route=account/address">Address</a></li>
                <li><a href="https://rekords.net/index.php?route=account/order">Order History</a></li>
                <li><a href="https://rekords.net/index.php?route=account/download">Downloads</a></li>
              </ul>
            </li>
            <li><a href="https://rekords.net/index.php?route=account/order">View Cart</a></li>
            <li><a href="https://rekords.net/index.php?route=checkout/checkout">Checkout</a></li>
            <li><a href="https://rekords.net/index.php?route=product/search">Search</a></li>
            <li>Information
              <ul>
                                <li><a href="https://rekords.net/index.php?route=information/information&amp;information_id=7">Shop &amp; Opening Hours</a></li>
                                <li><a href="https://rekords.net/index.php?route=information/information&amp;information_id=4">About Us</a></li>
                                <li><a href="https://rekords.net/index.php?route=information/information&amp;information_id=3">Privacy Policy</a></li>
                                <li><a href="https://rekords.net/index.php?route=information/information&amp;information_id=5">Terms &amp; Conditions</a></li>
                                <li><a href="https://rekords.net/index.php?route=information/contact">Contact Us</a></li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
      </div>
    </div>
</div>