$def with (urlapp)

$var urlapp: $urlapp
<div class="container">
	<ul class="breadcrumb">
     
		<li>
			<a href="https://rekords.net/">
				<i class="fa fa-home"></i>
			</a>
		</li>
     
		<li>
			<a href="https://rekords.net/index.php?route=account/account">Account</a>
		</li>
     
		<li>
			<a href="https://rekords.net/index.php?route=extension/module/isenselabs_gdpr">GDPR Tools</a>
		</li>
     
	</ul>
	<div class="row">   
		<div id="content" class="col-sm-12"> 
			<h2>Data Rectification</h2>
			<p>You can use the links below to update your account data if it is not accurate.</p>
			<ul class="list-unstyled">
				<li>
					<a href="https://rekords.net/index.php?route=account/edit">Edit your account information</a>
				</li>
				<li>
					<a href="https://rekords.net/index.php?route=account/password">Change your password</a>
				</li>
				<li>
					<a href="https://rekords.net/index.php?route=account/address">Address</a>
				</li>
				<li>
					<a href="https://rekords.net/index.php?route=account/newsletter">Subscribe / unsubscribe to newsletter</a>
				</li>
			</ul>

			<h2>Data Portability</h2>
			<p>You can use the links below to download all the data we store and use for a better experience in our store.</p>
				<ul class="list-unstyled">
					<li>
						<a href="https://rekords.net/index.php?route=extension/module/isenselabs_gdpr/download_gdpr_requests">GDPR requests</a>
					</li>
					<li>
						<a href="https://rekords.net/index.php?route=extension/module/isenselabs_gdpr/download_personal_info">Personal information</a>
					</li>
					<li>
						<a href="https://rekords.net/index.php?route=extension/module/isenselabs_gdpr/download_addresses">Saved addreses</a>*
					</li>
					<li>
						<a href="https://rekords.net/index.php?route=extension/module/isenselabs_gdpr/download_orders">Orders</a>
					</li>
				</ul>
     	
				<h2>Access to Personal Data</h2>
				<p>You can use the link below to request a report with all personal information that that we store for you.</p>
				<ul class="list-unstyled">
					<li>
						<a href="https://rekords.net/index.php?route=extension/module/isenselabs_gdpr/personal_data_request">Request a report</a>
					</li>
				</ul>
    
				<h2>Right to be Forgotten</h2>
				<p>Use this option if you want to remove your personal and other data from our store. Keep in mind that <strong>this process will delete your account, so you will no longer be able to access or use it anymore</strong>.</p>
				<ul class="list-unstyled">
					<li>
						<a href="https://rekords.net/index.php?route=extension/module/isenselabs_gdpr/deletion_request">Request personal data deletion</a>
					</li>
				</ul>
     
		</div>
    </div>
</div>
