$def with (urlapp)

$var urlapp: $urlapp

<div id="product-category" class="container">
  <ul class="breadcrumb">
        <li><a href="https://rekords.net/"><i class="fa fa-home"></i></a></li>
        <li><a href="https://rekords.net/index.php?route=product/category&amp;path=396">Vinyl</a></li>
        <li><a href="https://rekords.net/index.php?route=product/category&amp;path=396_325">New Vinyl</a></li>
        <li><a href="https://rekords.net/index.php?route=product/category&amp;path=396_325_478">World &amp; Other</a></li>
      </ul>
  <div class="row"><aside id="column-left" class="col-sm-3 hidden-xs">
    <div class="list-group">
     
  <a href="https://rekords.net/index.php?route=product/category&amp;path=396" class="list-group-item active">Vinyl</a> 
        <a href="https://rekords.net/index.php?route=product/category&amp;path=396_325" class="list-group-item active">&nbsp;&nbsp;&nbsp;- New Vinyl</a> 
       
  <a href="https://rekords.net/index.php?route=product/category&amp;path=396_323" class="list-group-item">&nbsp;&nbsp;&nbsp;- Used Vinyl</a>
             <a href="https://rekords.net/index.php?route=product/category&amp;path=395" class="list-group-item">Tapes</a>
       <a href="https://rekords.net/index.php?route=product/category&amp;path=155" class="list-group-item">CD &amp; DVD</a>
       <a href="https://rekords.net/index.php?route=product/category&amp;path=442" class="list-group-item">Merch &amp; Clothing</a>
    </div>

    <div class="swiper-viewport">
  <div id="banner0" class="swiper-container swiper-container-horizontal swiper-container-fade">
    <div class="swiper-wrapper"></div>
  </div>
</div> </aside>

                <div id="content" class="col-sm-9">
      <h2>World &amp; Other</h2>
                        <div class="row">
        <div class="col-md-2 col-sm-6 hidden-xs">
          <div class="btn-group btn-group-sm">
            <button type="button" id="list-view" class="btn btn-default" data-toggle="tooltip" title="" data-original-title="List"><i class="fa fa-th-list"></i></button>
            <button type="button" id="grid-view" class="btn btn-default active" data-toggle="tooltip" title="" data-original-title="Grid"><i class="fa fa-th"></i></button>
          </div>
        </div>
        <div class="col-md-3 col-sm-6">
        </div>
        <div class="col-md-4 col-xs-6">
          <div class="form-group input-group input-group-sm">
            <label class="input-group-addon" for="input-sort">Sort By:</label>
            <select id="input-sort" class="form-control" onchange="location = this.value;">
              
              
              
                                          
              
              
              <option value="https://rekords.net/index.php?route=product/category&amp;path=396_325_478&amp;sort=p.sort_order&amp;order=ASC" selected="selected">Default</option>
              
              
              
                                                        
              
              
              <option value="https://rekords.net/index.php?route=product/category&amp;path=396_325_478&amp;sort=pd.name&amp;order=ASC">Name (A - Z)</option>
              
              
              
                                                        
              
              
              <option value="https://rekords.net/index.php?route=product/category&amp;path=396_325_478&amp;sort=pd.name&amp;order=DESC">Name (Z - A)</option>
              
              
              
                                                        
              
              
              <option value="https://rekords.net/index.php?route=product/category&amp;path=396_325_478&amp;sort=p.price&amp;order=ASC">Price (Low &gt; High)</option>
              
              
              
                                                        
              
              
              <option value="https://rekords.net/index.php?route=product/category&amp;path=396_325_478&amp;sort=p.price&amp;order=DESC">Price (High &gt; Low)</option>
              
              
              
                                                        
              
              
              <option value="https://rekords.net/index.php?route=product/category&amp;path=396_325_478&amp;sort=rating&amp;order=DESC">Rating (Highest)</option>
              
              
              
                                                        
              
              
              <option value="https://rekords.net/index.php?route=product/category&amp;path=396_325_478&amp;sort=rating&amp;order=ASC">Rating (Lowest)</option>
              
              
              
                                                        
              
              
              <option value="https://rekords.net/index.php?route=product/category&amp;path=396_325_478&amp;sort=p.model&amp;order=ASC">Model (A - Z)</option>
              
              
              
                                                        
              
              
              <option value="https://rekords.net/index.php?route=product/category&amp;path=396_325_478&amp;sort=p.model&amp;order=DESC">Model (Z - A)</option>
              
              
              
                                        
            
            
            </select>
          </div>
        </div>
        <div class="col-md-3 col-xs-6">
          <div class="form-group input-group input-group-sm">
            <label class="input-group-addon" for="input-limit">Show:</label>
            <select id="input-limit" class="form-control" onchange="location = this.value;">
              
              
              
                                          
              
              
              <option value="https://rekords.net/index.php?route=product/category&amp;path=396_325_478&amp;limit=15" selected="selected">15</option>
              
              
              
                                                        
              
              
              <option value="https://rekords.net/index.php?route=product/category&amp;path=396_325_478&amp;limit=25">25</option>
              
              
              
                                                        
              
              
              <option value="https://rekords.net/index.php?route=product/category&amp;path=396_325_478&amp;limit=50">50</option>
              
              
              
                                                        
              
              
              <option value="https://rekords.net/index.php?route=product/category&amp;path=396_325_478&amp;limit=75">75</option>
              
              
              
                                                        
              
              
              <option value="https://rekords.net/index.php?route=product/category&amp;path=396_325_478&amp;limit=100">100</option>
              
              
              
                                        
            
            
            </select>
          </div>
        </div>
      </div>
      <div class="row">         <div class="product-layout product-grid col-lg-4 col-md-4 col-sm-6 col-xs-12">
          <div class="product-thumb">
            <div class="image" id="image-31465"><a href="https://rekords.net/index.php?route=product/product&amp;product_id=31465"><img src="https://rekords.net/image/cache/data/31465-228x228.jpg" alt="Luis Perez - Ipan In Xiktli Metzli, México Mágico Cósmico, En El Ombligo De La Luna., LP, Reissue" title="Luis Perez - Ipan In Xiktli Metzli, México Mágico Cósmico, En El Ombligo De La Luna., LP, Reissue" class="img-responsive"></a></div>
            <div>
              <div class="caption">
                <h4><a href="https://rekords.net/index.php?route=product/product&amp;product_id=31465">Luis Perez - Ipan In Xiktli Metzli, México Mágico Cósmico, En El Ombligo De La Luna., LP, Reissue</a></h4>
                <p>In 1981, the Mexican government became very interested Luis Pérez Ixoneztli's work and sponsored the production of what became the first recording of the fusion of native mexican instruments with electronics – entitled ‘Ipan In Xiktli Metztli,’ in the Nahuatl language, or ‘En el Ombligo de la Luna’ in Spanish… ‘In the Navel of the Moon.’ The impact of this recording and subsequent performances among media, ethnomusicologists and audiences alike established Luis Perez ‘Ixoneztli’ as a precursor to a new musical genre followed by a generation of young Mexican musicians – Ethno-Rock, Ethno-Jazz, Ethno-Experimental and the like. ‘El Ombligo de la Luna’ reaches us from deep in the past but it also exists entirely outside of time, as Luis Pérez ‘Ixoneztli’’s offering to the world – the soul of Mexico channeled through the hands of a master musician.
</p>
		    								<p>Catalog#: MRBLP154</p>
												<p>Press: UK</p>
												<p>Year: 2018</p>
												<p>Condition: NEW</p>
				                                <p class="price">                   DKK210.00
                                                   </p></div>
              <div class="button-group">
                <button type="button" id="button-cart-31465" onclick="cart.add('31465', '1');"><i class="fa fa-shopping-cart"></i> <span class="hidden-xs hidden-sm hidden-md">Add to Cart</span></button>
              </div>
            </div> 
 </div>
        </div>
                <div class="product-layout product-grid col-lg-4 col-md-4 col-sm-6 col-xs-12">
          <div class="product-thumb">
            <div class="image" id="image-31455"><a href="https://rekords.net/index.php?route=product/product&amp;product_id=31455"><img src="https://rekords.net/image/cache/data/31455-228x228.jpg" alt="Os Novos Bahianos - É Ferro Na Boneca!, LP, Reissue" title="Os Novos Bahianos - É Ferro Na Boneca!, LP, Reissue" class="img-responsive"></a></div>
            <div>
              <div class="caption">
                <h4><a href="https://rekords.net/index.php?route=product/product&amp;product_id=31455">Os Novos Bahianos - É Ferro Na Boneca!, LP, Reissue</a></h4>
                <p>The debut album from the legendary Brazilian group, Os Novos Bahianos. Official Mr Bongo reissue. Originally released by RGE in 1970 in Brazil, ‘É Ferro Na Boneca!’ features 13- songs composed by Luiz Galvão and Moraes Moreira. This record shows the roots of the group, moving through psychedelics, edgey pop, rock and Tropicália. After writing ‘É Ferro Na Boneca!’ their music began to move towards MPB due to the influence of João Gilberto, who began working with the group. In 1972 they released their incredible ‘Acabou Chorare’ LP, which came top of Rolling Stone Magazine’s list of 100 Greatest Brazilian Records (published in 2007).
</p>
		    								<p>Catalog#: MRBLP196</p>
												<p>Press: US</p>
												<p>Year: 2019</p>
												<p>Condition: NEW</p>
				                                <p class="price">                   DKK200.00
                                                   </p></div>
              <div class="button-group">
                <button type="button" id="button-cart-31455" onclick="cart.add('31455', '1');"><i class="fa fa-shopping-cart"></i> <span class="hidden-xs hidden-sm hidden-md">Add to Cart</span></button>
              </div>
            </div> 
 </div>
        </div>
                <div class="product-layout product-grid col-lg-4 col-md-4 col-sm-6 col-xs-12">
          <div class="product-thumb">
            <div class="image" id="image-31461"><a href="https://rekords.net/index.php?route=product/product&amp;product_id=31461"><img src="https://rekords.net/image/cache/data/31461-228x228.jpg" alt="Tom Zé - Estudando O Samba, LP, Reissue" title="Tom Zé - Estudando O Samba, LP, Reissue" class="img-responsive"></a></div>
            <div>
              <div class="caption">
                <h4><a href="https://rekords.net/index.php?route=product/product&amp;product_id=31461">Tom Zé - Estudando O Samba, LP, Reissue</a></h4>
                <p>One of Ze’s finest albums in our opinion, originally released by Continental Brazil in 1976 – a tough one to find at a good price in its original form now. ‘Estudando do Samba’ (or ‘Studying The Samba’) is a post-Tropicalia studio experimentation laiden with layers of hypnotic percussion, effects &amp; samples that deconstructs the ‘samba’ form. Recorded during what was arguably his most creative period. David Byrne found the record in Rio in the late 90’s and included several songs on his Tom Ze collection for Luaka Bop a few years later. At that time Tom was not recording or touring much; playing low-key shows in Sao Paulo and contemplating a move back to Irará to work at a service station owned by one of his cousins. Byrne’s project helped to reignite his career and he hasn’t looked back since.
</p>
		    								<p>Catalog#: MRBLP190</p>
												<p>Press: UK</p>
												<p>Year: 2019</p>
												<p>Condition: NEW</p>
				                                <p class="price">                   DKK200.00
                                                   </p></div>
              <div class="button-group">
                <button type="button" id="button-cart-31461" onclick="cart.add('31461', '1');"><i class="fa fa-shopping-cart"></i> <span class="hidden-xs hidden-sm hidden-md">Add to Cart</span></button>
              </div>
            </div> 
 </div>
        </div>
                <div class="product-layout product-grid col-lg-4 col-md-4 col-sm-6 col-xs-12">
          <div class="product-thumb">
            <div class="image" id="image-31458"><a href="https://rekords.net/index.php?route=product/product&amp;product_id=31458"><img src="https://rekords.net/image/cache/data/31458-228x228.jpg" alt="Toquinho - Toquinho, LP, Reissue" title="Toquinho - Toquinho, LP, Reissue" class="img-responsive"></a></div>
            <div>
              <div class="caption">
                <h4><a href="https://rekords.net/index.php?route=product/product&amp;product_id=31458">Toquinho - Toquinho, LP, Reissue</a></h4>
                <p>Brazilian guitarist and singer Toquinho (real name Antônio Pecci Filho) was born in Sao Paulo, Brazil in the 1940’s. His first major hit single was ‘Que Maravilha’, as featured here, that he wrote with Jorge Ben. This album also features ‘Zana’ and the ultra-famous ‘Carolina Carol Bela’, also written with Ben. Toquinho had a prolific career releasing a huge number of albums and writing on even more. He released many records with Vinicius De Moraes during the 70’s. ‘Carolina Carol Bela’ was sampled by DJ Marky on his drum n bass hit ‘LK’ – the track that launched the sound of Brazilian drum n bass outside of Brazil.
</p>
		    								<p>Catalog#: MRBLP186</p>
												<p>Press: UK</p>
												<p>Year: 2018</p>
												<p>Condition: NEW</p>
				                                <p class="price">                   DKK200.00
                                                   </p></div>
              <div class="button-group">
                <button type="button" id="button-cart-31458" onclick="cart.add('31458', '1');"><i class="fa fa-shopping-cart"></i> <span class="hidden-xs hidden-sm hidden-md">Add to Cart</span></button>
              </div>
            </div> 
 </div>
        </div>
                <div class="product-layout product-grid col-lg-4 col-md-4 col-sm-6 col-xs-12">
          <div class="product-thumb">
            <div class="image" id="image-31476"><a href="https://rekords.net/index.php?route=product/product&amp;product_id=31476"><img src="https://rekords.net/image/cache/data/31476-228x228.jpg" alt="Tuhaf - Gölgeden, 12” EP" title="Tuhaf - Gölgeden, 12” EP" class="img-responsive"></a></div>
            <div>
              <div class="caption">
                <h4><a href="https://rekords.net/index.php?route=product/product&amp;product_id=31476">Tuhaf - Gölgeden, 12” EP</a></h4>
                <p>&nbsp;6 track EP by Turkish psych rock band Tuhaf based in Copenhagen, Denmark. Limited to 200 copies. Released by Luk Røven Records.</p>
		    												<p>Press: Denmark</p>
												<p>Year: 2020</p>
												<p>Condition: NEW</p>
				                                <p class="price">                   DKK150.00
                                                   </p></div>
              <div class="button-group">
                <button type="button" id="button-cart-31476" onclick="cart.add('31476', '1');"><i class="fa fa-shopping-cart"></i> <span class="hidden-xs hidden-sm hidden-md">Add to Cart</span></button>
              </div>
            </div> 
 </div>
        </div>
         </div>
      <div class="row">
        <div class="col-sm-6 text-left"></div>
        <div class="col-sm-6 text-right">Showing 1 to 5 of 5 (1 Pages)</div>
      </div>
                  </div>
    </div>
</div>