$def with (urlapp)

$var urlapp: $urlapp


	<div id="content" class="col-sm-12">
		<h1>Privacy Policy</h1>
		<p style="margin-bottom: 0cm; line-height: 13px;">
			<font face="Cambria, serif">
				<b>Introduction</b>
			</font>
		</p>
		<p style="margin-bottom: 0cm; line-height: 13px;">
			<font face="Cambria, serif">
				<b>
					<br>
				</b>
			</font>
		</p>
		<p style="margin-bottom: 0cm; line-height: 13px;">
			<font face="Cambria, serif">Thank you for your interest in Rekords.net. It's important for us to respect the privacy of our customers. In our Privacy Policy you can read about what data is collected from you.
			</font>
		</p>
		<p style="margin-bottom: 0cm; line-height: 13px;">
			<font face="Cambria, serif">
				<br>
			</font>
		</p>
		<p style="margin-bottom: 0cm; line-height: 13px;">
			<font face="Cambria, serif">Please read the policy carefully and feel free to contact us if you have any questions or concerns.
			</font>
		</p>
		<p style="margin-bottom: 0cm; line-height: 13px;">
			<font face="Cambria, serif">
				<br>
			</font>
		</p>
		<p style="margin-bottom: 0cm; line-height: 13px;">
			<font face="Cambria, serif">Upon agreeing to the following privacy policy, you consent to Rekords collectiong, processing and using your personal data in compliance with data protection laws.
			</font>
		</p>
		<p style="margin-bottom: 0cm; line-height: 13px;">
			<br>
		</p>
		<p style="margin-bottom: 0cm; line-height: 13px;">
			<font face="Cambria, serif">
				<b>Who we are?</b>
			</font>
		</p>
		<p style="margin-bottom: 0cm; line-height: 13px;">
			<br>
		</p>
		<p style="margin-bottom: 0cm; line-height: 13px;">The controller of the processing of your personal data is Jakob Hejnfelt Andersen, CEO of Rekords, Bragesgade 1, 2200 København N, VAT ID DK 34 92 77 82.
		</p>
		<p style="margin-bottom: 0cm; line-height: 13px;">
			<br>
		</p>
		<p style="margin-bottom: 0cm; line-height: 13px;">If you would like to object to the collection, processing or use of your data by Rekords, you can send your objection via email or letter using the following contact data:
		</p>
		<p style="margin-bottom: 0cm; line-height: 13px;">Rekords
		</p>
		<p style="margin-bottom: 0cm; line-height: 13px;">Bragesgade 1
		</p>
		<p style="margin-bottom: 0cm; line-height: 13px;">2200 Copenhagen N
		</p>
		<p style="margin-bottom: 0cm; line-height: 13px;">Denmark
		</p>
		<p style="margin-bottom: 0cm; line-height: 13px;">Telephone: +45 30 20 51 45
		</p>
		<p style="margin-bottom: 0cm; line-height: 13px;">Email: rekords@rekords.net
		</p>
		<p style="margin-bottom: 0cm; line-height: 13px;">
			<br>
		</p>
		<p style="margin-bottom: 0cm; line-height: 13px;">Futhermose, you can receive information on the data we store at any time and free of charge in the GDPR Tools.
		</p>
		<p style="margin-bottom: 0cm; line-height: 13px;">
			<br>
		</p>
		<p style="margin-bottom: 0cm; line-height: 13px;">
			<font face="Cambria, serif">
				<b>What information do we collect?</b>
			</font>
		</p>
		<p style="margin-bottom: 0cm; line-height: 13px;">
			<font face="Cambria, serif">
				<b>
					<br>
				</b>
			</font>
		</p>
		<p style="margin-bottom: 0cm; line-height: 13px;">
			<font face="Cambria, serif">When you register as a user, place an order on the webshop or when you contact us through the contact formular, we collect the information you provide to us; Name, address, email and phone number.
			</font>
		</p>
		<p style="margin-bottom: 0cm; line-height: 13px;">
			<br>
		</p>
		<p style="margin-bottom: 0cm; line-height: 13px;">
			<font face="Cambria, serif">
				<b>How do we use personal information?</b>
			</font>
		</p>
		<p style="margin-bottom: 0cm; line-height: 13px;">
			<font face="Cambria, serif">
				<b>
					<br>
				</b>
			</font>
		</p>
		<p style="margin-bottom: 0cm; line-height: 13px;">
			<font face="Cambria, serif">Your personal data is only used when needed for us to to provide you with the service you paid for / asked for. Which is when we ship products to you and if we need to contact you.</font>
		</p>
		<p style="margin-bottom: 0cm; line-height: 13px;">
			<br>
		</p>
		<p style="margin-bottom: 0cm; line-height: 13px;">
			<font face="Cambria, serif">
				<b>When do we share personal data?</b>
			</font>
		</p>
		<p style="margin-bottom: 0cm; line-height: 13px;">
			<font face="Cambria, serif">
				<b>
					<br>
				</b>
			</font>
		</p>
		<p style="margin-bottom: 0cm; line-height: 13px;">
			<font face="Cambria, serif">We share your personal data with the shipping company you choose when you place an order. If you decide to pay by PayPal, your data will be transfered to&nbsp;PayPal (Europe) S.à r.l. et Cie, S.C.A., 22-24 Boulevard Royal, L-2449 Luxembourg.</font>
		</p>
		<p style="margin-bottom: 0cm; line-height: 13px;">
			<br>
		</p>
		<p style="margin-bottom: 0cm; line-height: 13px;">
			<font face="Cambria, serif">
				<b>How long do we keep your personal data for?</b>
			</font>
		</p>
		<p style="margin-bottom: 0cm; line-height: 13px;">
			<font face="Cambria, serif">
				<b>
					<br>
				</b>
			</font>
		</p>
		<p style="margin-bottom: 0cm; line-height: 13px;">
			<font face="Cambria, serif">We keep your personal data stored for as long as its legally required for us to. Remember its always possible to erase your data, see below!
			</font>
		</p>
		<p style="margin-bottom: 0cm; line-height: 13px;">
			<font face="Cambria, serif">
				<br>
			</font>
		</p>
		<p style="margin-bottom: 0cm; line-height: 13px;">
			<font face="Cambria, serif">
				<b>Your rights in relation to personal data</b>
			</font>
		</p>
		<p style="margin-bottom: 0cm; line-height: 13px;">
			<font face="Cambria, serif">
				<b>
					<br>
				</b>
			</font>
		</p>
		<p style="margin-bottom: 0cm; line-height: 13px;">
			<font face="Cambria, serif">You have the right to access, edit and delete your personl data at any time. This can be done through the GDPR Tools.
			</font>
		</p>
		<p style="margin-bottom: 0cm; line-height: 13px;">
			<font face="Cambria, serif">
				<br>
			</font>
		</p>
		<p style="margin-bottom: 0cm; line-height: 13px;">
			<font face="Cambria, serif">If you feel that we are not handling your personal data in compliance with the law, please feel free to contact us and we will sort it out.
			</font>
		</p>
		<p style="margin-bottom: 0cm; line-height: 13px;">
			<font face="Cambria, serif">
				<br>
			</font>
		</p>
		<p style="margin-bottom: 0cm; line-height: 13px;">
			<font face="Cambria, serif">You also have the right to lodge a complaint with Datatilsynet:
			</font>
		</p>
		<p style="margin-bottom: 0cm; line-height: 13px;">
			<font face="Cambria, serif">Datatilsynet&nbsp;
			</font>
		</p>
		<p style="margin-bottom: 0cm; line-height: 13px;">
			<font face="Cambria, serif">Borgergade 28&nbsp;
			</font>
		</p>
		<p style="margin-bottom: 0cm; line-height: 13px;">
			<font face="Cambria, serif">1300 København K&nbsp;
			</font>
		</p>
		<p style="margin-bottom: 0cm; line-height: 13px;">
			<font face="Cambria, serif">Telefon: 33 19 32 00
			</font>
		</p>
		<p style="margin-bottom: 0cm; line-height: 13px;">
			<font face="Cambria, serif">
			</font>
		</p>
		<p style="margin-bottom: 0cm; line-height: 13px;">
			<font face="Cambria, serif">www.datatilsynet.dk
			</font>
		</p>
	</div>
