$def with (urlapp)

$var urlapp: $urlapp

<div id="product-product" class="container">
	<ul class="breadcrumb">
		<li>
			<a href="https://rekords.net/">
				<i class="fa fa-home"></i>
			</a>
		</li>
        <li>
			<a href="https://rekords.net/index.php?route=product/category&amp;path=396">Vinyl</a>
		</li>
        <li>
			<a href="https://rekords.net/index.php?route=product/category&amp;path=396_325">New Vinyl</a>
		</li>
        <li>
			<a href="https://rekords.net/index.php?route=product/category&amp;path=396_325_326">Dansk Hip Hop</a>
		</li>
        <li>
			<a href="https://rekords.net/index.php?route=product/product&amp;product_id=25194">Asger B - Erfaringers Begyndelse, LP</a>
		</li>
	</ul>
	<div class="row">
		<div id="content" class="col-sm-12">
			<div class="row">                        
				<div class="col-sm-8">          
					<ul class="thumbnails">
						<li>
							<a class="thumbnail" href="https://rekords.net/image/cache/data/25194-500x500.jpg" title="Asger B - Erfaringers Begyndelse, LP">
								<img src="https://rekords.net/image/cache/data/25194-228x228.jpg" title="Asger B - Erfaringers Begyndelse, LP" alt="Asger B - Erfaringers Begyndelse, LP">
							</a>
						</li>
                    </ul>
					<div class="tab-content">
						<h1>Asger B - Erfaringers Begyndelse, LP</h1>
						<ul class="list-unstyled">
							<li>Label: 
								<a href="https://rekords.net/index.php?route=product/manufacturer/info&amp;manufacturer_id=718">Rekords Records</a>
							</li>
							<li>Catalog#: REKREC007</li>
							<li>Press: Denmark</li>
							<li>Year: 2018</li>
							<li>Condition: NEW</li>			
							<li>Availability: In Stock</li>
						</ul>
						<ul class="list-unstyled">
							<li>
								<span style="text-decoration: line-through;">DKK150.00</span>
							</li>
							<li>
								<h2>DKK100.00</h2>
							</li>
                        </ul>
						<div id="product">  
							<div class="form-group">
								<label class="control-label" for="input-quantity">Qty</label>
								<input type="text" name="quantity" value="1" size="2" id="input-quantity" class="form-control">
								<input type="hidden" name="product_id" value="25194">             <br>
								<button type="button" id="button-cart" data-loading-text="Loading..." class="btn btn-primary btn-lg btn-block">Add to Cart</button>
							</div>
						</div>
                        <div class="tab-pane" id="tab-review">
							<form class="form-horizontal" id="form-review">
								<div id="review">
									<p>There are no reviews for this product.</p>
								</div>
								<h2>Write a review</h2>
								<div class="form-group required">
									<div class="col-sm-12">
										<label class="control-label" for="input-name">Your Name</label>
										<input type="text" name="name" value="" id="input-name" class="form-control">
									</div>
								</div>
								<div class="form-group required">
									<div class="col-sm-12">
										<label class="control-label" for="input-review">Your Review</label>
										<textarea name="text" rows="5" id="input-review" class="form-control"></textarea>
										<div class="help-block">
											<span class="text-danger">Note:</span> HTML is not translated!
										</div>
									</div>
								</div>
								<div class="form-group required">
									<div class="col-sm-12">
										<label class="control-label">Rating</label>
										&nbsp;&nbsp;&nbsp; Bad&nbsp;
										<input type="radio" name="rating" value="1">
										&nbsp;
										<input type="radio" name="rating" value="2">
										&nbsp;
										<input type="radio" name="rating" value="3">
										&nbsp;
										<input type="radio" name="rating" value="4">
										&nbsp;
										<input type="radio" name="rating" value="5">
										&nbsp;Good
									</div>
								</div>
								<fieldset>
									<legend>Captcha</legend>
									<div class="form-group required">
										<label class="col-sm-2 control-label">Please complete the captcha validation below</label>
										<div class="col-sm-10">
											<div class="g-recaptcha" data-sitekey="6Lca338UAAAAAIJJXOoddXwzQMPG8iKZLwdMjA5a">
												<div style="width: 304px; height: 78px;">
													<div>
														<iframe src="https://www.google.com/recaptcha/api2/anchor?ar=1&amp;k=6Lca338UAAAAAIJJXOoddXwzQMPG8iKZLwdMjA5a&amp;co=aHR0cHM6Ly9yZWtvcmRzLm5ldDo0NDM.&amp;hl=fr&amp;v=HYx6hBAtwYatsD8qzq7tXNTk&amp;size=normal&amp;cb=21gceqm3hzl8" role="presentation" name="a-66tav984xnhn" scrolling="no" sandbox="allow-forms allow-popups allow-same-origin allow-scripts allow-top-navigation allow-modals allow-popups-to-escape-sandbox allow-storage-access-by-user-activation" width="304" height="78" frameborder="0"></iframe>
													</div>
													<textarea id="g-recaptcha-response" name="g-recaptcha-response" class="g-recaptcha-response" style="width: 250px; height: 40px; border: 1px solid rgb(193, 193, 193); margin: 10px 25px; padding: 0px; resize: none; display: none;"></textarea>
												</div>
												<iframe style="display: none;"></iframe>
											</div>
										</div>
									</div>
								</fieldset>

								<div class="buttons clearfix">
									<div class="pull-right">
										<button type="button" id="button-review" data-loading-text="Loading..." class="btn btn-primary">Continue</button>
									</div>
								</div>
                             </form>
						</div>
					</div>

				</div>
                <div class="col-sm-4">
 
					<div class="tab-pane active" id="tab-description">
						<p>Asger B er klar med sit debut album ’Erfaringers Begyndelse’</p>

						<p>Det udkommer både digitalt og på vinyl d. 29.06.18</p>

						<p><strong>Asger B</strong>’s solide flow og knivskarpe lyrik, bliver akkompagneret af sprøde, jazzede, 90’er inspireret beats fra <strong>Otesla</strong>, som har produceret hele albummet.</p>

						<p>Med en god forståelse for det musikalske aspekt i kunsten, levere Asger B en række tankevækkende og vedkommende tekster og sange der bærer præg af en dyb seriøsitet, men også et meget optimistisk syn på verdens situationen, og et gennemgående fokus på vores potientiale for at forbedre tilværelsen for os selv og vores omgivelser.</p>

						<p>
							<iframe allow="autoplay; encrypted-media" allowfullscreen="" src="https://www.youtube.com/embed/V0SXs8K_EWg" width="560" height="315" frameborder="0"></iframe>
						</p>

						<p><br>
							<b>Tracklist</b><br><br>
							A1: Intro<br><br>
							A2: Den Forandring<br><br>
							A3: Mælk<br><br>
							A4: Fuck Op<br>
							<br>
							A5: Erfaringers Begyndelse<br>
							<br>
							A6: Vant Til<br>
							<br>
							B1: Drivkraft<br>
							<br>
							B2: Klar Til<br>
							<br>
							B3: Inspiration<br>
							<br>
							B4: Lang Vej<br>
							<br>
							B5: Mærk Efter<br>
							<i>Featuring - Jens Essens</i><br>
							<br>
							B6: Troperne<br>
							&nbsp;
						</p>

						<p>&nbsp;</p>
					</div>
				</div>
			</div>
	
		</div>
    </div>
</div>