$def with (urlapp)

$var urlapp: $urlapp

	<div id="content" class="col-sm-12">
		<h2>SALE</h2>
			<div class="row">
				<div class="col-md-2 col-sm-6 hidden-xs">
					<div class="btn-group btn-group-sm">
						<button type="button" id="list-view" class="btn btn-default" data-toggle="tooltip" title="" data-original-title="List">
							<i class="fa fa-th-list"></i>
						</button>
						<button type="button" id="grid-view" class="btn btn-default active" data-toggle="tooltip" title="" data-original-title="Grid">
							<i class="fa fa-th"></i>
						</button>
					</div>
				</div>
				<div class="col-md-3 col-sm-6">
				</div>
				<div class="col-md-4 col-xs-6">
					<div class="form-group input-group input-group-sm">
						<label class="input-group-addon" for="input-sort">Sort By:</label>
						<select id="input-sort" class="form-control" onchange="location = this.value;">
						  <option value="https://rekords.net/index.php?route=product/special&amp;sort=p.sort_order&amp;order=ASC" selected="selected">Default</option>                 
						  <option value="https://rekords.net/index.php?route=product/special&amp;sort=pd.name&amp;order=ASC">Name (A - Z)</option>                                         
						  <option value="https://rekords.net/index.php?route=product/special&amp;sort=pd.name&amp;order=DESC">Name (Z - A)</option>                                       
						  <option value="https://rekords.net/index.php?route=product/special&amp;sort=ps.price&amp;order=ASC">Price (Low &gt; High)</option>                                          
						  <option value="https://rekords.net/index.php?route=product/special&amp;sort=ps.price&amp;order=DESC">Price (High &gt; Low)</option>                                         
						  <option value="https://rekords.net/index.php?route=product/special&amp;sort=rating&amp;order=DESC">Rating (Highest)</option>                                         
						  <option value="https://rekords.net/index.php?route=product/special&amp;sort=rating&amp;order=ASC">Rating (Lowest)</option>                                        
						  <option value="https://rekords.net/index.php?route=product/special&amp;sort=p.model&amp;order=ASC">Model (A - Z)</option>                                       
						  <option value="https://rekords.net/index.php?route=product/special&amp;sort=p.model&amp;order=DESC">Model (Z - A)</option>                       
						</select>
					 </div>
				</div>
				<div class="col-md-3 col-xs-6">
					<div class="form-group input-group input-group-sm">
						<label class="input-group-addon" for="input-limit">Show:</label>
						<select id="input-limit" class="form-control" onchange="location = this.value;">
              
													  
							<option value="https://rekords.net/index.php?route=product/special&amp;limit=15" selected="selected">15</option>
							<option value="https://rekords.net/index.php?route=product/special&amp;limit=25">25</option>                                         
							<option value="https://rekords.net/index.php?route=product/special&amp;limit=50">50</option>                                           
							<option value="https://rekords.net/index.php?route=product/special&amp;limit=75">75</option>                                         
							<option value="https://rekords.net/index.php?route=product/special&amp;limit=100">100</option>                          
						</select>
					</div>
				</div>
			</div>
			<div class="row">  
				<div class="product-layout product-grid col-lg-3 col-md-3 col-sm-6 col-xs-12">
					<div class="product-thumb">
						<div class="image" id="image-29656">
							<a href="https://rekords.net/index.php?route=product/product&amp;product_id=29656">
								<img src="https://rekords.net/image/cache/data/29656-228x228.jpg" alt="7 9 13 - Bank Under Bordet, 12&quot;, EP" title="7 9 13 - Bank Under Bordet, 12&quot;, EP" class="img-responsive"></a>
						</div>
						<div>
							<div class="caption">
								<h4>
									<a href="https://rekords.net/index.php?route=product/product&amp;product_id=29656">7 9 13 - Bank Under Bordet, 12", EP</a>
								</h4>
								<p></p>
								<p>Catalog#: ODD 002</p>
								<p>Product Code: Denmark</p>
								<p>Year: 2002</p>
								<p>Condition: NEW</p>
				                <p class="price">  <span class="price-new">DKK20.00</span> <span class="price-old">DKK100.00</span>  </p>
                            </div>
							<div class="button-group">
								<button type="button" id="button-cart-29656" onclick="cart.add('29656', '1');">
									<i class="fa fa-shopping-cart"></i> 
									<span class="hidden-xs hidden-sm hidden-md">Add to Cart</span>
								</button>
							</div>
						</div>
					</div>
				</div>
                <div class="product-layout product-grid col-lg-3 col-md-3 col-sm-6 col-xs-12">
					<div class="product-thumb">
						<div class="image" id="image-17739">
							<a href="https://rekords.net/index.php?route=product/product&amp;product_id=17739">
								<img src="https://rekords.net/image/cache/data/17739-228x228.jpg" alt="9th Wonder &amp; Nas - God's Stepson Instrumentals, 2xLP, Unofficial Release" title="9th Wonder &amp; Nas - God's Stepson Instrumentals, 2xLP, Unofficial Release" class="img-responsive"></a>
						</div>
						<div>
							<div class="caption">
								<h4>
									<a href="https://rekords.net/index.php?route=product/product&amp;product_id=17739">9th Wonder &amp; Nas - God's Stepson Instrumentals, 2xLP, Unofficial Release</a>
								</h4>
								<p>9Th Wonder instrumentals for his Nas Gods Son remix LP.
								</p>
								<p>Catalog#: HHS-006</p>
								<p>Product Code: US</p>
								<p>Year: 2004</p>
								<p>Condition: Used: EX/Generic</p>
				                 <p class="price">  <span class="price-new">DKK100.00</span> <span class="price-old">DKK150.00</span>  </p>
                            </div>
							<div class="button-group">
								<button type="button" id="button-cart-17739" onclick="cart.add('17739', '1');">
									<i class="fa fa-shopping-cart"></i> 
									<span class="hidden-xs hidden-sm hidden-md">Add to Cart</span>
								</button>
							</div>
						</div>
					</div>
				</div>
                <div class="product-layout product-grid col-lg-3 col-md-3 col-sm-6 col-xs-12">
					<div class="product-thumb">
						<div class="image" id="image-20181">
							<a href="https://rekords.net/index.php?route=product/product&amp;product_id=20181">
								<img src="https://rekords.net/image/cache/data/20181-228x228.jpg" alt="AF Stitt &amp; Wildchild - The Countdown, 12&quot;" title="AF Stitt &amp; Wildchild - The Countdown, 12&quot;" class="img-responsive"></a>
						</div>
						<div>
							<div class="caption">
								<h4>
									<a href="https://rekords.net/index.php?route=product/product&amp;product_id=20181">AF Stitt &amp; Wildchild - The Countdown, 12"</a>
								</h4>
								<p>French 12 inch feat. Wildchild.</p>
								<p>Catalog#: GUIDA 01</p>
								<p>Product Code: France</p>
								<p>Year: 2008</p>
								<p>Condition: Used: VG+/VG+</p>
				                <p class="price">  <span class="price-new">DKK35.00</span> <span class="price-old">DKK80.00</span>  </p>
                            </div>
							<div class="button-group">
								<button type="button" id="button-cart-20181" onclick="cart.add('20181', '1');">
									<i class="fa fa-shopping-cart"></i> 
									<span class="hidden-xs hidden-sm hidden-md">Add to Cart</span>
								</button>
							</div>
						</div>
					</div>
				</div>
                <div class="product-layout product-grid col-lg-3 col-md-3 col-sm-6 col-xs-12">
					<div class="product-thumb">
						<div class="image" id="image-25194">
							<a href="https://rekords.net/index.php?route=product/product&amp;product_id=25194">
								<img src="https://rekords.net/image/cache/data/25194-228x228.jpg" alt="Asger B - Erfaringers Begyndelse, LP" title="Asger B - Erfaringers Begyndelse, LP" class="img-responsive"></a>
						</div>
						<div>
							<div class="caption">
								<h4>
									<a href="https://rekords.net/index.php?route=product/product&amp;product_id=25194">Asger B - Erfaringers Begyndelse, LP</a>
								</h4>
								<p>Asger B er klar med sit debut album ’Erfaringers Begyndelse’</p>
								<p>Catalog#: REKREC007</p>
								<p>Product Code: Denmark</p>
								<p>Year: 2018</p>
								<p>Condition: NEW</p>
				                <p class="price">  
									<span class="price-new">DKK100.00</span> 
									<span class="price-old">DKK150.00</span> 
								</p>
                            </div>
							<div class="button-group">
								<button type="button" id="button-cart-25194" onclick="cart.add('25194', '1');">
									<i class="fa fa-shopping-cart"></i> 
									<span class="hidden-xs hidden-sm hidden-md">Add to Cart</span>
								</button>
							</div>
						</div>
					</div>
				</div>
                <div class="product-layout product-grid col-lg-3 col-md-3 col-sm-6 col-xs-12">
					<div class="product-thumb">
						<div class="image" id="image-19178">
							<a href="https://rekords.net/index.php?route=product/product&amp;product_id=19178">
								<img src="https://rekords.net/image/cache/data/19178-228x228.jpg" alt="AZ - Gimme Yours, 12&quot;, 33 ⅓ RPM, Promo, Test Pressing" title="AZ - Gimme Yours, 12&quot;, 33 ⅓ RPM, Promo, Test Pressing" class="img-responsive"></a>
						</div>
						<div>
							<div class="caption">
								<h4>
								<a href="https://rekords.net/index.php?route=product/product&amp;product_id=19178">AZ - Gimme Yours, 12", 33 ⅓ RPM, Promo, Test Pressing</a>
								</h4>
								<p>Rare test pressing!</p>
								<p>Catalog#: AZ-02, AZ-02</p>
								<p>Product Code: US</p>
								<p>Year: 1995</p>
								<p>Condition: Used: VG+/Ge</p>
				                <p class="price">  <span class="price-new">DKK200.00</span> <span class="price-old">DKK300.00</span>  </p>
                            </div>
							<div class="button-group">
								<button type="button" id="button-cart-19178" onclick="cart.add('19178', '1');">
									<i class="fa fa-shopping-cart"></i> 
									<span class="hidden-xs hidden-sm hidden-md">Add to Cart</span>
								</button>
							</div>
						</div>
					</div>
				</div>
                <div class="product-layout product-grid col-lg-3 col-md-3 col-sm-6 col-xs-12">
					<div class="product-thumb">
						<div class="image" id="image-8712">
							<a href="https://rekords.net/index.php?route=product/product&amp;product_id=8712">
								<img src="https://rekords.net/image/cache/data/8712-228x228.jpg" alt="Boulevard Connection, The - Live From Copenhagen, 12&quot;, Promo" title="Boulevard Connection, The - Live From Copenhagen, 12&quot;, Promo" class="img-responsive"></a>
						</div>
						<div>
							<div class="caption">
								<h4>
									<a href="https://rekords.net/index.php?route=product/product&amp;product_id=8712">Boulevard Connection, The - Live From Copenhagen, 12", Promo</a>
								</h4>
								<p>&nbsp;</p>
								<p>Catalog#: none</p>
								<p>Product Code: Denmark</p>
								<p>Year: 2000</p>
								<p>Condition: Used: VG+/Ge</p>
				                <p class="price"> 
									<span class="price-new">DKK100.00</span>
									<span class="price-old">DKK150.00</span>  
								</p>
                            </div>
							<div class="button-group">
								<button type="button" id="button-cart-8712" onclick="cart.add('8712', '1');">
									<i class="fa fa-shopping-cart"></i> 
									<span class="hidden-xs hidden-sm hidden-md">Add to Cart</span>
								</button>
							</div>
						</div>
					</div>
				</div>
                <div class="product-layout product-grid col-lg-3 col-md-3 col-sm-6 col-xs-12">
					<div class="product-thumb">
						<div class="image" id="image-13190">
							<a href="https://rekords.net/index.php?route=product/product&amp;product_id=13190">
								<img src="https://rekords.net/image/cache/data/13190-228x228.jpg" alt="Braille - Hip Hop Music, 12&quot;, 33 ⅓ RPM" title="Braille - Hip Hop Music, 12&quot;, 33 ⅓ RPM" class="img-responsive"></a>
						</div>
						<div>
							<div class="caption">
								<h4>
									<a href="https://rekords.net/index.php?route=product/product&amp;product_id=13190">Braille - Hip Hop Music, 12", 33 ⅓ RPM</a>
								</h4>
								<p>Cover still in shrinkwrap.</p>
								<p>Catalog#: SB05002</p>
								<p>Product Code: US</p>
								<p>Year: 2005</p>
								<p>Condition: Used: VG+/NM</p>
				                <p class="price">  <span class="price-new">DKK35.00</span> <span class="price-old">DKK50.00</span>  </p>
                            </div>
							<div class="button-group">
								<button type="button" id="button-cart-13190" onclick="cart.add('13190', '1');">
									<i class="fa fa-shopping-cart"></i> 
									<span class="hidden-xs hidden-sm hidden-md">Add to Cart</span>
								</button>
							</div>
						</div>
					</div>
				</div>
                <div class="product-layout product-grid col-lg-3 col-md-3 col-sm-6 col-xs-12">
					<div class="product-thumb">
						<div class="image" id="image-18944">
							<a href="https://rekords.net/index.php?route=product/product&amp;product_id=18944">
								<img src="https://rekords.net/image/cache/data/18944-228x228.jpg" alt="Brainsick - Stick To The Plan / Swirving To The Music, 12&quot;, 33 ⅓ RPM" title="Brainsick - Stick To The Plan / Swirving To The Music, 12&quot;, 33 ⅓ RPM" class="img-responsive"></a>
						</div>
						<div>
						<div class="caption">
							<h4>
								<a href="https://rekords.net/index.php?route=product/product&amp;product_id=18944">Brainsick - Stick To The Plan / Swirving To The Music, 12", 33 ⅓ RPM</a>
							</h4>
							<p>Original US.</p>
							<p>Catalog#: BSE-001</p>
							<p>Product Code: US</p>
							<p>Year: 1996</p>
							<p>Condition: Used: VG+/Ge</p>
				            <p class="price">  <span class="price-new">DKK60.00</span> <span class="price-old">DKK100.00</span>  </p>
                        </div>
						<div class="button-group">
							<button type="button" id="button-cart-18944" onclick="cart.add('18944', '1');">
								<i class="fa fa-shopping-cart"></i>
								<span class="hidden-xs hidden-sm hidden-md">Add to Cart</span>
							</button>
						</div>
					</div>
				</div>
			</div>
            <div class="product-layout product-grid col-lg-3 col-md-3 col-sm-6 col-xs-12">
				<div class="product-thumb">
					<div class="image" id="image-24578">
						<a href="https://rekords.net/index.php?route=product/product&amp;product_id=24578">
							<img src="https://rekords.net/image/cache/data/24578-228x228.jpg" alt="Brun - Voksenswag, LP" title="Brun - Voksenswag, LP" class="img-responsive"></a>
					</div>
					<div>
						<div class="caption">
							<h4>
								<a href="https://rekords.net/index.php?route=product/product&amp;product_id=24578">Brun - Voksenswag, LP</a>
							</h4>
							<p>Gæstes af Ham Den Lange og Lex L. Trykt i 100 eksemplarer.</p>
							<p>Product Code: Denmark</p>
							<p>Year: 2018</p>
							<p>Condition: NEW</p>
				            <p class="price">  <span class="price-new">DKK100.00</span> <span class="price-old">DKK200.00</span>
							</p>
                        </div>
						<div class="button-group">
							<button type="button" id="button-cart-24578" onclick="cart.add('24578', '1');">
								<i class="fa fa-shopping-cart"></i> 
								<span class="hidden-xs hidden-sm hidden-md">Add to Cart</span>
							</button>
						</div>
					</div>
				</div>
			</div>
            <div class="product-layout product-grid col-lg-3 col-md-3 col-sm-6 col-xs-12">
				<div class="product-thumb">
					<div class="image" id="image-16011">
						<a href="https://rekords.net/index.php?route=product/product&amp;product_id=16011">
							<img src="https://rekords.net/image/cache/data/16011-228x228.jpg" alt="Cadence Weapon - Afterparty Babies, 2xLP, Album" title="Cadence Weapon - Afterparty Babies, 2xLP, Album" class="img-responsive"></a>
					</div>
					<div>
					<div class="caption">
						<h4>
							<a href="https://rekords.net/index.php?route=product/product&amp;product_id=16011">Cadence Weapon - Afterparty Babies, 2xLP, Album</a>
						</h4>
						<p>&nbsp;</p>
						<p>Catalog#: 86876-1</p>
						<p>Product Code: Canada</p>
						<p>Year: 2008</p>
						<p>Condition: Used: VG+/VG</p>
				        <p class="price">  
							<span class="price-new">DKK40.00</span> 
							<span class="price-old">DKK80.00</span>
						</p>
                    </div>
					<div class="button-group">
						<button type="button" id="button-cart-16011" onclick="cart.add('16011', '1');">
							<i class="fa fa-shopping-cart"></i> 
							<span class="hidden-xs hidden-sm hidden-md">Add to Cart</span>
						</button>
              </div>
            </div>
          </div>
        </div>
        <div class="product-layout product-grid col-lg-3 col-md-3 col-sm-6 col-xs-12">
			<div class="product-thumb">
				<div class="image" id="image-19496">
					<a href="https://rekords.net/index.php?route=product/product&amp;product_id=19496">
						<img src="https://rekords.net/image/cache/data/19496-228x228.jpg" alt="Cage - Radiohead, 12&quot;, 33 ⅓ RPM, Reissue" title="Cage - Radiohead, 12&quot;, 33 ⅓ RPM, Reissue" class="img-responsive"></a>
				</div>
				<div>
					<div class="caption">
						<h4>
							<a href="https://rekords.net/index.php?route=product/product&amp;product_id=19496">Cage - Radiohead, 12", 33 ⅓ RPM, Reissue</a>
						</h4>
						<p>US Reissue with orange label.</p>
						<p>Catalog#: FE-007</p>
						<p>Product Code: US</p>
						<p>Condition: Used: VG+/Ge</p>
				        <p class="price"> 
							<span class="price-new">DKK80.00</span>
							<span class="price-old">DKK100.00</span>
						</p>
                    </div>
					<div class="button-group">
						<button type="button" id="button-cart-19496" onclick="cart.add('19496', '1');">
							<i class="fa fa-shopping-cart"></i>
							<span class="hidden-xs hidden-sm hidden-md">Add to Cart</span>
						</button>
					</div>
				</div>
			</div>
        </div>
        <div class="product-layout product-grid col-lg-3 col-md-3 col-sm-6 col-xs-12">
			<div class="product-thumb">
				<div class="image" id="image-29627">
					<a href="https://rekords.net/index.php?route=product/product&amp;product_id=29627">
						<img src="https://rekords.net/image/cache/data/29627-228x228.jpg" alt="Chance The Rapper (Instrumentality) - The Retro Pack, 2xLP" title="Chance The Rapper (Instrumentality) - The Retro Pack, 2xLP" class="img-responsive"></a>
				</div>
				<div>
					<div class="caption">
						<h4>
							<a href="https://rekords.net/index.php?route=product/product&amp;product_id=29627">Chance The Rapper (Instrumentality) - The Retro Pack, 2xLP</a>
						</h4>
						<p>Early Chance The Rapper material with the duo Instrumentality which consisted of him and J-Emcee.
						</p>
						<p>Catalog#: CTRRETROSCHOOL2009</p>
						<p>Product Code: Europe</p>
						<p>Year: 2018</p>
						<p>Condition: NEW</p>
						<p class="price"> 
							<span class="price-new">DKK100.00</span> 
							<span class="price-old">DKK170.00</span>
						</p>
                    </div>
					<div class="button-group">
						<button type="button" id="button-cart-29627" onclick="cart.add('29627', '1');">
							<i class="fa fa-shopping-cart"></i>
							<span class="hidden-xs hidden-sm hidden-md">Add to Cart</span>
						</button>
					</div>
				</div>
			</div>
        </div>
        <div class="product-layout product-grid col-lg-3 col-md-3 col-sm-6 col-xs-12">
			<div class="product-thumb">
				<div class="image" id="image-29631">
					<a href="https://rekords.net/index.php?route=product/product&amp;product_id=29631">
						<img src="https://rekords.net/image/cache/data/29631-228x228.jpg" alt="Chance The Rapper (Instrumentality) - The Unreleased Collection 2012 (Vol. 1), LP" title="Chance The Rapper (Instrumentality) - The Unreleased Collection 2012 (Vol. 1), LP" class="img-responsive"></a>
				</div>
				<div>
					<div class="caption">
						<h4>
							<a href="https://rekords.net/index.php?route=product/product&amp;product_id=29631">Chance The Rapper (Instrumentality) - The Unreleased Collection 2012 (Vol. 1), LP</a>
						</h4>
						<p>Before Chance The Rapper became famous, he was known as Chano, and was part of the hip hop duo "Instrumentality". This album brings to you some of the lost tapes.
						</p>
						<p>Catalog#: CHANCEUNRELEASEDVOL1</p>
						<p>Product Code: Europe</p>
						<p>Year: 2018</p>
						<p>Condition: NEW</p>
				        <p class="price">  
							<span class="price-new">DKK100.00</span>
							<span class="price-old">DKK150.00</span> 					
						</p>
                    </div>
					<div class="button-group">
                <button type="button" id="button-cart-29631" onclick="cart.add('29631', '1');">
				<i class="fa fa-shopping-cart"></i> 
				<span class="hidden-xs hidden-sm hidden-md">Add to Cart</span>
				</button>
              </div>
            </div>
          </div>
        </div>
		<div class="product-layout product-grid col-lg-3 col-md-3 col-sm-6 col-xs-12">
			<div class="product-thumb">
				<div class="image" id="image-29634">
					<a href="https://rekords.net/index.php?route=product/product&amp;product_id=29634">
						<img src="https://rekords.net/image/cache/data/29634-228x228.jpg" alt="Chance The Rapper (Instrumentality) - The Unreleased Collection 2012 (Vol. 2), 3xLP" title="Chance The Rapper (Instrumentality) - The Unreleased Collection 2012 (Vol. 2), 3xLP" class="img-responsive"></a>
				</div>
				<div>
					<div class="caption">
						<h4>
							<a href="https://rekords.net/index.php?route=product/product&amp;product_id=29634">Chance The Rapper (Instrumentality) - The Unreleased Collection 2012 (Vol. 2), 3xLP</a>
						</h4>
						<p>Before Chance The Rapper became famous, he was known as Chano, and was part of the hip hop duo "Instrumentality". This album brings to you some of the lost tapes.</p>
						<p>Catalog#: CHANCEUNRELEASEDVOL2</p>
						<p>Product Code: Europe</p>
						<p>Year: 2018</p>
						<p>Condition: NEW</p>
				        <p class="price"> 
							<span class="price-new">DKK100.00</span>
							<span class="price-old">DKK200.00</span>
						</p>
                    </div>
					<div class="button-group">
						<button type="button" id="button-cart-29634" onclick="cart.add('29634', '1');">
							<i class="fa fa-shopping-cart"></i> 
							<span class="hidden-xs hidden-sm hidden-md">Add to Cart</span>
						</button>
					</div>
				</div>
			</div>
        </div>
        <div class="product-layout product-grid col-lg-3 col-md-3 col-sm-6 col-xs-12">
			<div class="product-thumb">
				<div class="image" id="image-29635">
					<a href="https://rekords.net/index.php?route=product/product&amp;product_id=29635">
						<img src="https://rekords.net/image/cache/data/29635-228x228.jpg" alt="Chance The Rapper (Instrumentality) - The Unreleased Collection 2012 (Vol. 3), 2xLP" title="Chance The Rapper (Instrumentality) - The Unreleased Collection 2012 (Vol. 3), 2xLP" class="img-responsive"></a>
				</div>
				<div>
					<div class="caption">
						<h4>
							<a href="https://rekords.net/index.php?route=product/product&amp;product_id=29635">Chance The Rapper (Instrumentality) - The Unreleased Collection 2012 (Vol. 3), 2xLP</a>
						</h4>
						<p>Before Chance The Rapper became famous, he was known as Chano, and was part of the hip hop duo "Instrumentality". This album brings to you some of the lost tapes.</p>
						<p>Catalog#: CHANCEUNRELEASEDVOL3</p>
						<p>Product Code: Europe</p>
						<p>Year: 2018</p>
						<p>Condition: NEW</p>
				        <p class="price"> 
						<span class="price-new">DKK100.00</span>
						<span class="price-old">DKK200.00</span>  
						</p>
					</div>
					<div class="button-group">
						<button type="button" id="button-cart-29635" onclick="cart.add('29635', '1');">
							<i class="fa fa-shopping-cart"></i> 
							<span class="hidden-xs hidden-sm hidden-md">Add to Cart</span>
						</button>
					</div>
				</div>
			</div>
        </div>
    </div>
	<div class="row">
		<div class="col-sm-6 text-left">
			<ul class="pagination">
				<li class="active">
					<span>1</span>
				</li>
				<li>
					<a href="https://rekords.net/index.php?route=product/special&amp;page=2">2</a>
				</li>
				<li>
					<a href="https://rekords.net/index.php?route=product/special&amp;page=3">3</a>
				</li>
				<li>
					<a href="https://rekords.net/index.php?route=product/special&amp;page=4">4</a>
				</li>
				<li>
					<a href="https://rekords.net/index.php?route=product/special&amp;page=5">5</a>
				</li>
				<li>
					<a href="https://rekords.net/index.php?route=product/special&amp;page=6">6</a>
				</li>
				<li>
					<a href="https://rekords.net/index.php?route=product/special&amp;page=7">7</a>
				</li>
				<li>
					<a href="https://rekords.net/index.php?route=product/special&amp;page=8">8</a>
				</li>
				<li>
					<a href="https://rekords.net/index.php?route=product/special&amp;page=9">9</a>
				</li>
				<li>
					<a href="https://rekords.net/index.php?route=product/special&amp;page=2">&gt;</a>
				</li>
				<li>
					<a href="https://rekords.net/index.php?route=product/special&amp;page=9">&gt;|</a>
				</li>
			</ul>
		</div>
		<div class="col-sm-6 text-right">Showing 1 to 15 of 126 (9 Pages)</div>
	</div>
 </div>
				