$def with (urlapp)

$var urlapp: $urlapp

<div id="product-category" class="container">
	<ul class="breadcrumb">
		<li>
			<a href="https://rekords.net/">
				<i class="fa fa-home"></i>
			</a>
		</li>
		<li>
			<a href="https://rekords.net/index.php?route=product/category&amp;path=395">Tapes</a>
		</li>
		<li>
			<a href="https://rekords.net/index.php?route=product/category&amp;path=395_318">Used Hip Hop Tapes</a>
		</li>
    </ul>
	<div class="row">
		<aside id="column-left" class="col-sm-3 hidden-xs">
			<div class="list-group">
				<a href="https://rekords.net/index.php?route=product/category&amp;path=396" class="list-group-item">Vinyl</a>
       
				<a href="https://rekords.net/index.php?route=product/category&amp;path=395" class="list-group-item active">Tapes</a> 
       
				<a href="https://rekords.net/index.php?route=product/category&amp;path=395_348" class="list-group-item">&nbsp;&nbsp;&nbsp;- New Hip Hop Tapes</a>
				<a href="https://rekords.net/index.php?route=product/category&amp;path=395_318" class="list-group-item active">&nbsp;&nbsp;&nbsp;- Used Hip Hop Tapes</a> 
				<a href="https://rekords.net/index.php?route=product/category&amp;path=155" class="list-group-item">CD &amp; DVD</a>
				<a href="https://rekords.net/index.php?route=product/category&amp;path=442" class="list-group-item">Merch &amp; Clothing</a>
			</div>

			<div class="swiper-viewport">
				<div id="banner0" class="swiper-container swiper-container-horizontal swiper-container-fade">
					<div class="swiper-wrapper"></div>
				</div>
			</div> 
		</aside>

		<div id="content" class="col-sm-9">
			<h2>Used Hip Hop Tapes</h2>
			<div class="row">
				<div class="col-md-2 col-sm-6 hidden-xs">
					<div class="btn-group btn-group-sm">
						<button type="button" id="list-view" class="btn btn-default" data-toggle="tooltip" title="" data-original-title="List">
							<i class="fa fa-th-list"></i>
						</button>
						<button type="button" id="grid-view" class="btn btn-default active" data-toggle="tooltip" title="" data-original-title="Grid">
							<i class="fa fa-th"></i>
						</button>
					</div>
				</div>
				<div class="col-md-3 col-sm-6">
				</div>
				<div class="col-md-4 col-xs-6">
					<div class="form-group input-group input-group-sm">
						<label class="input-group-addon" for="input-sort">Sort By:</label>
						<select id="input-sort" class="form-control" onchange="location = this.value;">
							  
							  <option value="https://rekords.net/index.php?route=product/category&amp;path=395_318&amp;sort=p.sort_order&amp;order=ASC" selected="selected">Default</option>
							  
							  <option value="https://rekords.net/index.php?route=product/category&amp;path=395_318&amp;sort=pd.name&amp;order=ASC">Name (A - Z)</option>
							  
							  <option value="https://rekords.net/index.php?route=product/category&amp;path=395_318&amp;sort=pd.name&amp;order=DESC">Name (Z - A)</option>
							  
							  <option value="https://rekords.net/index.php?route=product/category&amp;path=395_318&amp;sort=p.price&amp;order=ASC">Price (Low &gt; High)</option>
							  
							  <option value="https://rekords.net/index.php?route=product/category&amp;path=395_318&amp;sort=p.price&amp;order=DESC">Price (High &gt; Low)</option>
							  
							  <option value="https://rekords.net/index.php?route=product/category&amp;path=395_318&amp;sort=rating&amp;order=DESC">Rating (Highest)</option>
							  
							  <option value="https://rekords.net/index.php?route=product/category&amp;path=395_318&amp;sort=rating&amp;order=ASC">Rating (Lowest)</option>
							  
							  <option value="https://rekords.net/index.php?route=product/category&amp;path=395_318&amp;sort=p.model&amp;order=ASC">Model (A - Z)</option>
							  
							  
							  <option value="https://rekords.net/index.php?route=product/category&amp;path=395_318&amp;sort=p.model&amp;order=DESC">Model (Z - A)</option>
           
            
						</select>
					</div>
				</div>
				<div class="col-md-3 col-xs-6">
					<div class="form-group input-group input-group-sm">
						<label class="input-group-addon" for="input-limit">Show:</label>
						<select id="input-limit" class="form-control" onchange="location = this.value;">
              
							<option value="https://rekords.net/index.php?route=product/category&amp;path=395_318&amp;limit=15" selected="selected">15</option>
						 
							<option value="https://rekords.net/index.php?route=product/category&amp;path=395_318&amp;limit=25">25</option>
							
							<option value="https://rekords.net/index.php?route=product/category&amp;path=395_318&amp;limit=50">50</option>
						 
							<option value="https://rekords.net/index.php?route=product/category&amp;path=395_318&amp;limit=75">75</option>
							 
							<option value="https://rekords.net/index.php?route=product/category&amp;path=395_318&amp;limit=100">100</option>
           
						</select>
					</div>
				</div>
			</div>
			<div class="row">         <div class="product-layout product-grid col-lg-4 col-md-4 col-sm-6 col-xs-12">
				<div class="product-thumb">
					<div class="image" id="image-19655">
						<a href="https://rekords.net/index.php?route=product/product&amp;product_id=19655">
							<img src="https://rekords.net/image/cache/data/19655-228x228.jpg" alt="5 Cent - Tha Flava', Cassette, Maxi-Single" title="5 Cent - Tha Flava', Cassette, Maxi-Single" class="img-responsive">
						</a>
					</div>
					<div>
						<div class="caption">
							<h4>
								<a href="https://rekords.net/index.php?route=product/product&amp;product_id=19655">5 Cent - Tha Flava', Cassette, Maxi-Single</a>
							</h4>
							<p>New &amp; Sealed Copy!</p>
		    				<p>Catalog#: RR20034</p>
							<p>Press: US</p>
							<p>Year: 1994</p>
							<p>Condition: Used: M/M</p>
							<p class="price">                   DKK50.00</p>
						</div>
						<div class="button-group">
							<button type="button" id="button-cart-19655" onclick="cart.add('19655', '1');">
								<i class="fa fa-shopping-cart"></i>
									<span class="hidden-xs hidden-sm hidden-md">Add to Cart</span>
							</button>
						</div>
					</div> 
				</div>
			</div>
			<div class="product-layout product-grid col-lg-4 col-md-4 col-sm-6 col-xs-12">
				<div class="product-thumb">
					<div class="image" id="image-30752">
						<a href="https://rekords.net/index.php?route=product/product&amp;product_id=30752">
							<img src="https://rekords.net/image/cache/data/30752-228x228.jpg" alt="A-Trak &amp; QBert - Bucktooth Wizards, Cassette" title="A-Trak &amp; QBert - Bucktooth Wizards, Cassette" class="img-responsive">
						</a>
					</div>
					<div>
						<div class="caption">
							<h4>
								<a href="https://rekords.net/index.php?route=product/product&amp;product_id=30752">A-Trak &amp; QBert - Bucktooth Wizards, Cassette</a>
							</h4>
							<p>Tape and j card a bit worn, but plays no problem.</p>
							<p>Press: US</p>
							<p>Year: 1997</p>
							<p>Condition: VG/VG</p>
							<p class="price">                   DKK150.00 </p>
						</div>
						<div class="button-group">
							<button type="button" id="button-cart-30752" onclick="cart.add('30752', '1');">
								<i class="fa fa-shopping-cart"></i> 
									<span class="hidden-xs hidden-sm hidden-md">Add to Cart</span>
							</button>
						</div>
					</div> 
				</div>
			</div>
			<div class="product-layout product-grid col-lg-4 col-md-4 col-sm-6 col-xs-12">
				<div class="product-thumb">
					<div class="image" id="image-19658">
						<a href="https://rekords.net/index.php?route=product/product&amp;product_id=19658">
							<img src="https://rekords.net/image/cache/data/19658-228x228.jpg" alt="Ant Banks Presents T.W.D.Y. - Lead The Way, Cassette, Album" title="Ant Banks Presents T.W.D.Y. - Lead The Way, Cassette, Album" class="img-responsive">
						</a>
					</div>
					<div>
						<div class="caption">
							<h4>
								<a href="https://rekords.net/index.php?route=product/product&amp;product_id=19658">Ant Banks Presents T.W.D.Y. - Lead The Way, Cassette, Album</a>
							</h4>
							<p>New &amp; Sealed Copy! Feat. Too Short, Ice T, King T, Cold 187um, Kokane and more!</p>
							<p>Catalog#: 206 579 003 4</p>
							<p>Press: US</p>
							<p>Year: 2000</p>
							<p>Condition: Used: M/M</p>
							<p class="price">                   DKK150.00 </p>
						</div>
						<div class="button-group">
							<button type="button" id="button-cart-19658" onclick="cart.add('19658', '1');">
								<i class="fa fa-shopping-cart"></i> 
									<span class="hidden-xs hidden-sm hidden-md">Add to Cart</span>
							</button>
						</div>
					</div> 
				</div>
			</div>
			<div class="product-layout product-grid col-lg-4 col-md-4 col-sm-6 col-xs-12">
				<div class="product-thumb">
					<div class="image" id="image-23803">
						<a href="https://rekords.net/index.php?route=product/product&amp;product_id=23803">
							<img src="https://rekords.net/image/cache/data/23803-228x228.jpg" alt="Backyard - Real Niggaz, Cassette" title="Backyard - Real Niggaz, Cassette" class="img-responsive">
						</a>
					</div>
					<div>
						<div class="caption">
							<h4>
								<a href="https://rekords.net/index.php?route=product/product&amp;product_id=23803">Backyard - Real Niggaz, Cassette</a>
							</h4>
							<p></p>
							<p>Catalog#: SBC709</p>
							<p>Press: US</p>
							<p>Year: 1994</p>
							<p>Condition: Used: VG+/VG+</p>
							<p class="price">                   DKK150.00</p>
						</div>
						<div class="button-group">
							<button type="button" id="button-cart-23803" onclick="cart.add('23803', '1');">
								<i class="fa fa-shopping-cart"></i> 
									<span class="hidden-xs hidden-sm hidden-md">Add to Cart</span>
							</button>
						</div>
					</div> 
				</div>
			</div>
			<div class="product-layout product-grid col-lg-4 col-md-4 col-sm-6 col-xs-12">
				<div class="product-thumb">
					<div class="image" id="image-19660">
						<a href="https://rekords.net/index.php?route=product/product&amp;product_id=19660">
							<img src="https://rekords.net/image/cache/data/19660-228x228.jpg" alt="Baka Boyz - Thump'n Quick Mix's, Cassette" title="Baka Boyz - Thump'n Quick Mix's, Cassette" class="img-responsive">
						</a>
					</div>
					<div>
						<div class="caption">
							<h4>
								<a href="https://rekords.net/index.php?route=product/product&amp;product_id=19660">Baka Boyz - Thump'n Quick Mix's, Cassette</a>
							</h4>
							<p>New &amp; Sealed Copy!</p>
							<p>Catalog#: THC 4800</p>
							<p>Press: US</p>
							<p>Year: 1995</p>
							<p>Condition: Used: M/M</p>
							<p class="price">                   DKK150.00 </p>
						</div>
						<div class="button-group">
							<button type="button" id="button-cart-19660" onclick="cart.add('19660', '1');">
								<i class="fa fa-shopping-cart"></i>
									<span class="hidden-xs hidden-sm hidden-md">Add to Cart</span>
							</button>
						</div>
					</div> 
				</div>
			</div>
			<div class="product-layout product-grid col-lg-4 col-md-4 col-sm-6 col-xs-12">
				<div class="product-thumb">
					<div class="image" id="image-19661">
						<a href="https://rekords.net/index.php?route=product/product&amp;product_id=19661">
							<img src="https://rekords.net/image/cache/data/19661-228x228.jpg" alt="Baka Boyz - Thump'n Quick Mix's, Cassette" title="Baka Boyz - Thump'n Quick Mix's, Cassette" class="img-responsive">
						</a>
					</div>
					<div>
						<div class="caption">
							<h4>
								<a href="https://rekords.net/index.php?route=product/product&amp;product_id=19661">Baka Boyz - Thump'n Quick Mix's, Cassette</a>
							</h4>
							<p>New &amp; Sealed Copy!</p>
							<p>Catalog#: THC 4800</p>
							<p>Press: US</p>
							<p>Year: 1995</p>
							<p>Condition: Used: M/M</p>
							<p class="price">                   DKK150.00</p>
							
						</div>
						<div class="button-group">
							<button type="button" id="button-cart-19661" onclick="cart.add('19661', '1');">
								<i class="fa fa-shopping-cart"></i> 
									<span class="hidden-xs hidden-sm hidden-md">Add to Cart</span>
							</button>
						</div>
					</div> 
				</div>
			</div>
			<div class="product-layout product-grid col-lg-4 col-md-4 col-sm-6 col-xs-12">
				<div class="product-thumb">
					<div class="image" id="image-19662">
						<a href="https://rekords.net/index.php?route=product/product&amp;product_id=19662">
							<img src="https://rekords.net/image/cache/data/19662-228x228.jpg" alt="Be Gee - Black Gorilla Mila Tactics, Cassette, Album" title="Be Gee - Black Gorilla Mila Tactics, Cassette, Album" class="img-responsive">
						</a>
					</div>
					<div>
						<div class="caption">
							<h4>
								<a href="https://rekords.net/index.php?route=product/product&amp;product_id=19662">Be Gee - Black Gorilla Mila Tactics, Cassette, Album</a>
							</h4>
							<p>Writing on J-Card.</p>
							<p>Catalog#: LEE-9669</p>
							<p>Press: US</p>
							<p>Year: 1996</p>
							<p>Condition: Used: VG+/VG</p>
							<p class="price">                   DKK80.00</p>
						</div>
						<div class="button-group">
							<button type="button" id="button-cart-19662" onclick="cart.add('19662', '1');">
								<i class="fa fa-shopping-cart"></i>
									<span class="hidden-xs hidden-sm hidden-md">Add to Cart</span>
							</button>
						</div>
					</div> 
				</div>
			</div>
			<div class="product-layout product-grid col-lg-4 col-md-4 col-sm-6 col-xs-12">
				<div class="product-thumb">
					<div class="image" id="image-26440">
						<a href="https://rekords.net/index.php?route=product/product&amp;product_id=26440">
							<img src="https://rekords.net/image/cache/data/26440-228x228.jpg" alt="Beat Around The Bush - Skatten, Bomben Og Kongen, Cassette" title="Beat Around The Bush - Skatten, Bomben Og Kongen, Cassette" class="img-responsive">
						</a>
					</div>
					<div>
						<div class="caption">
							<h4>
								<a href="https://rekords.net/index.php?route=product/product&amp;product_id=26440">Beat Around The Bush - Skatten, Bomben Og Kongen, Cassette</a>
							</h4>
							<p>Beat Around The Bush aka Kongehuset</p>
							<p>Press: Denmark</p>
							<p>Year: 1995</p>
							<p>Condition: Used: VG+/VG+</p>
							<p class="price">                   DKK300.00 </p>
						</div>
						<div class="button-group">
							<button type="button" id="button-cart-26440" onclick="cart.add('26440', '1');">
								<i class="fa fa-shopping-cart"></i> 
									<span class="hidden-xs hidden-sm hidden-md">Add to Cart</span>
							</button>
						</div>
					</div> 
				</div>
			</div>
			<div class="product-layout product-grid col-lg-4 col-md-4 col-sm-6 col-xs-12">
				<div class="product-thumb">
					<div class="image" id="image-30754">
						<a href="https://rekords.net/index.php?route=product/product&amp;product_id=30754">
							<img src="https://rekords.net/image/cache/data/30754-228x228.jpg" alt="Boogie Down Productions - Criminal Minded, Cassette, Reissue" title="Boogie Down Productions - Criminal Minded, Cassette, Reissue" class="img-responsive">
						</a>
						<img style="position:absolute; top: 20px; left:20%; max-width: 60%; overflow:hidden;" src="https://rekords.net/image/catalog/widsoldout_228x110.png" class="img-responsive">
					</div>
					<div>
						<div class="caption">
							<h4>
								<a href="https://rekords.net/index.php?route=product/product&amp;product_id=30754">Boogie Down Productions - Criminal Minded, Cassette, Reissue</a>
							</h4>
							<p>US reissue.</p>
							<p>Catalog#: SHC 5255</p>
							<p>Press: US</p>
							<p>Year: 1991</p>
							<p>Condition: VG+/NM</p>
							<p class="price">                   DKK80.00</p>
						</div>
						<div class="button-group">
							<button type="button" id="button-cart-30754" onclick="cart.add('30754', '1');" disabled="" style="background: rgb(98, 98, 98) url(&quot;&quot;) no-repeat scroll right top;">
								<i class="fa fa-shopping-cart"></i> 
									<span class="hidden-xs hidden-sm hidden-md">Sold Out</span>
							</button>
						</div>
					</div> 
				</div>
			</div>
			<div class="product-layout product-grid col-lg-4 col-md-4 col-sm-6 col-xs-12">
				<div class="product-thumb">
					<div class="image" id="image-23804">
						<a href="https://rekords.net/index.php?route=product/product&amp;product_id=23804">
							<img src="https://rekords.net/image/data/23804.jpg" alt="Bored Stiff - Rappers, Cassette, Single" title="Bored Stiff - Rappers, Cassette, Single" class="img-responsive">
						</a>
						<img style="position:absolute; top: 20px; left:20%; max-width: 60%; overflow:hidden;" src="https://rekords.net/image/catalog/widsoldout_228x110.png" class="img-responsive">
					</div>
					<div>
						<div class="caption">
							<h4>
								<a href="https://rekords.net/index.php?route=product/product&amp;product_id=23804">Bored Stiff - Rappers, Cassette, Single</a>
							</h4>
							<p>Tape only, no j card</p>

		    				<p>Catalog#: 4152896778</p>
							<p>Press: US</p>
							<p>Condition: Used: VG+/No</p>
							<p class="price">                   DKK150.00</p>
						</div>
						<div class="button-group">
							<button type="button" id="button-cart-23804" onclick="cart.add('23804', '1');" disabled="" style="background: rgb(98, 98, 98) url(&quot;&quot;) no-repeat scroll right top;">
								<i class="fa fa-shopping-cart"></i>
									<span class="hidden-xs hidden-sm hidden-md">Sold Out</span>
							</button>
						</div>
					</div> 
				</div>
			</div>
			<div class="product-layout product-grid col-lg-4 col-md-4 col-sm-6 col-xs-12">
				<div class="product-thumb">
					<div class="image" id="image-19667">
						<a href="https://rekords.net/index.php?route=product/product&amp;product_id=19667">
							<img src="https://rekords.net/image/cache/data/19667-228x228.jpg" alt="C-Bo - The Final Chapter, Cassette, Album" title="C-Bo - The Final Chapter, Cassette, Album" class="img-responsive">
						</a>
					</div>
					<div>
						<div class="caption">
							<h4>
								<a href="https://rekords.net/index.php?route=product/product&amp;product_id=19667">C-Bo - The Final Chapter, Cassette, Album</a>
							</h4>
							<p>New &amp; Sealed Copy! Light cracks in plastic cover.</p>
							<p>Catalog#: 7243 8 47206 4 3, 7243 8 47206 4 3</p>
							<p>Press: US</p>
							<p>Year: 1999</p>
							<p>Condition: Used: M/M</p>
							<p class="price">                   DKK80.00 </p>
						</div>
						<div class="button-group">
							<button type="button" id="button-cart-19667" onclick="cart.add('19667', '1');">
								<i class="fa fa-shopping-cart"></i> 
									<span class="hidden-xs hidden-sm hidden-md">Add to Cart</span>
							</button>
						</div>
					</div> 
				</div>
			</div>
			<div class="product-layout product-grid col-lg-4 col-md-4 col-sm-6 col-xs-12">
				<div class="product-thumb">
					<div class="image" id="image-19668">
						<a href="https://rekords.net/index.php?route=product/product&amp;product_id=19668">
							<img src="https://rekords.net/image/cache/data/19668-228x228.jpg" alt="Chubb Rock - Yabadabadoo / I'm Too Much, Cassette, Single" title="Chubb Rock - Yabadabadoo / I'm Too Much, Cassette, Single" class="img-responsive">
						</a>
					</div>
					<div>
						<div class="caption">
							<h4>
								<a href="https://rekords.net/index.php?route=product/product&amp;product_id=19668">Chubb Rock - Yabadabadoo / I'm Too Much, Cassette, Single</a>
							</h4>
							<p>New &amp; Sealed Copy!</p>
		    				<p>Catalog#: 4-66349</p>
							<p>Press: US</p>
							<p>Year: 1992</p>
							<p>Condition: Used: M/M</p>
							<p class="price">                   DKK60.00 </p>
						</div>
						<div class="button-group">
							<button type="button" id="button-cart-19668" onclick="cart.add('19668', '1');">
								<i class="fa fa-shopping-cart"></i>
									<span class="hidden-xs hidden-sm hidden-md">Add to Cart</span>
							</button>
						</div>
					</div> 
				</div>
			</div>
			<div class="product-layout product-grid col-lg-4 col-md-4 col-sm-6 col-xs-12">
				<div class="product-thumb">
					<div class="image" id="image-26442">
						<a href="https://rekords.net/index.php?route=product/product&amp;product_id=26442">
							<img src="https://rekords.net/image/cache/data/26442-228x228.jpg" alt="Cut Chemist meets Shortkut - Live At The Future Primitive Soundsession Volume One, Cassette" title="Cut Chemist meets Shortkut - Live At The Future Primitive Soundsession Volume One, Cassette" class="img-responsive">
						</a>
					</div>
					<div>
						<div class="caption">
							<h4>
								<a href="https://rekords.net/index.php?route=product/product&amp;product_id=26442">Cut Chemist meets Shortkut - Live At The Future Primitive Soundsession Volume One, Cassette</a>
							</h4>
							<p>Miscoloring tape, but plays perfect. No j card. </p>
							<p>Catalog#: FPSS-001</p>
							<p>Press: US</p>
							<p>Year: 1998</p>
							<p>Condition: Used: VG/No </p>
							<p class="price">                   DKK60.00  </p>
						</div>
						<div class="button-group">
							<button type="button" id="button-cart-26442" onclick="cart.add('26442', '1');">
								<i class="fa fa-shopping-cart"></i> 
									<span class="hidden-xs hidden-sm hidden-md">Add to Cart</span>
							</button>
						</div>
					</div> 
				</div>
			</div>
			<div class="product-layout product-grid col-lg-4 col-md-4 col-sm-6 col-xs-12">
				<div class="product-thumb">
					<div class="image" id="image-30757">
						<a href="https://rekords.net/index.php?route=product/product&amp;product_id=30757">
							<img src="https://rekords.net/image/cache/data/30757-228x228.jpg" alt="D.J. Jazzy Jeff &amp; The Fresh Prince - And In This Corner..., Cassette" title="D.J. Jazzy Jeff &amp; The Fresh Prince - And In This Corner..., Cassette" class="img-responsive">
						</a>
					</div>
					<div>
						<div class="caption">
							<h4>
								<a href="https://rekords.net/index.php?route=product/product&amp;product_id=30757">D.J. Jazzy Jeff &amp; The Fresh Prince - And In This Corner..., Cassette</a>
							</h4>
							<p>Turkish pressing.</p>
							<p>Catalog#: 1188-4-J</p>
							<p>Press: Turkey</p>
							<p>Year: 1989</p>
							<p>Condition: VG+/VG+</p>
							<p class="price">                   DKK50.00</p>
						</div>
						<div class="button-group">
							<button type="button" id="button-cart-30757" onclick="cart.add('30757', '1');">
								<i class="fa fa-shopping-cart"></i> 
									<span class="hidden-xs hidden-sm hidden-md">Add to Cart</span>
							</button>
						</div>
					</div> 
				</div>
			</div>
			<div class="product-layout product-grid col-lg-4 col-md-4 col-sm-6 col-xs-12">
				<div class="product-thumb">
					<div class="image" id="image-19675">
						<a href="https://rekords.net/index.php?route=product/product&amp;product_id=19675">
							<img src="https://rekords.net/image/cache/data/19675-228x228.jpg" alt="Dame Grease - Dame Grease's &quot;Live On Lenox Ave.&quot; The Album, Cassette, Compilation" title="Dame Grease - Dame Grease's &quot;Live On Lenox Ave.&quot; The Album, Cassette, Compilation" class="img-responsive">
						</a>
					</div>
					<div>
						<div class="caption">
							<h4>
								<a href="https://rekords.net/index.php?route=product/product&amp;product_id=19675">Dame Grease - Dame Grease's "Live On Lenox Ave." The Album, Cassette, Compilation</a>
							</h4>
							<p>New &amp; Sealed Copy With Hype sticker!</p>
							<p>Catalog#: P4 50112, P4 50112</p>
							<p>Press: US</p>
							<p>Year: 2000</p>
							<p>Condition: Used: M/M</p>
							<p class="price">                   DKK80.00</p>
						</div>
						<div class="button-group">
							<button type="button" id="button-cart-19675" onclick="cart.add('19675', '1');">
								<i class="fa fa-shopping-cart"></i>
									<span class="hidden-xs hidden-sm hidden-md">Add to Cart</span>
							</button>
						</div>
					</div> 
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-6 text-left">
				<ul class="pagination">
					<li class="active">
						<span>1</span>
					</li>
					<li>
						<a href="https://rekords.net/index.php?route=product/category&amp;path=395_318&amp;page=2">2</a>
					</li>
					<li>
						<a href="https://rekords.net/index.php?route=product/category&amp;path=395_318&amp;page=3">3</a>
					</li>
					<li>
						<a href="https://rekords.net/index.php?route=product/category&amp;path=395_318&amp;page=4">4</a>
					</li>
					<li>
						<a href="https://rekords.net/index.php?route=product/category&amp;path=395_318&amp;page=5">5</a>
					</li>
					<li>
						<a href="https://rekords.net/index.php?route=product/category&amp;path=395_318&amp;page=6">6</a>
					</li>
					<li>
						<a href="https://rekords.net/index.php?route=product/category&amp;path=395_318&amp;page=7">7</a>
					</li>
					<li>
						<a href="https://rekords.net/index.php?route=product/category&amp;path=395_318&amp;page=8">8</a>
					</li>
					<li>
						<a href="https://rekords.net/index.php?route=product/category&amp;path=395_318&amp;page=2">&gt;</a>
					</li>
					<li>
						<a href="https://rekords.net/index.php?route=product/category&amp;path=395_318&amp;page=8">&gt;|</a>
					</li>
				</ul>
			</div>
			<div class="col-sm-6 text-right">Showing 1 to 15 of 111 (8 Pages)</div>
		</div>
     </div>
    </div>
</div>