$def with (urlapp)

$var urlapp: $urlapp

<div id="product-category" class="container">
	<ul class="breadcrumb">
		<li>
			<a href="https://rekords.net/">
				<i class="fa fa-home"></i>
			</a>
		</li>
        <li>
			<a href="https://rekords.net/index.php?route=product/category&amp;path=395">Tapes</a>
		</li>
	</ul>
	<div class="row">
		<aside id="column-left" class="col-sm-3 hidden-xs">
			<div class="list-group">
				<a href="https://rekords.net/index.php?route=product/category&amp;path=396" class="list-group-item">Vinyl</a>
       
				<a href="https://rekords.net/index.php?route=product/category&amp;path=395" class="list-group-item active">Tapes</a> 
       
				<a href="https://rekords.net/index.php?route=product/category&amp;path=395_348" class="list-group-item">&nbsp;&nbsp;&nbsp;- New Hip Hop Tapes</a>
       
				<a href="https://rekords.net/index.php?route=product/category&amp;path=395_318" class="list-group-item">&nbsp;&nbsp;&nbsp;- Used Hip Hop Tapes</a>
				<a href="https://rekords.net/index.php?route=product/category&amp;path=155" class="list-group-item">CD &amp; DVD</a>
				<a href="https://rekords.net/index.php?route=product/category&amp;path=442" class="list-group-item">Merch &amp; Clothing</a>
			</div>

			<div class="swiper-viewport">
				<div id="banner0" class="swiper-container swiper-container-horizontal swiper-container-fade">
					<div class="swiper-wrapper"></div>
				</div>
			</div> 	
		</aside>
        <div id="content" class="col-sm-9">
			<h2>Tapes</h2>
            <h3>Refine Search</h3>
            <div class="row">
				<div class="col-sm-3">
					<ul>
                        <li>
							<a href="https://rekords.net/index.php?route=product/category&amp;path=395_348">New Hip Hop Tapes</a>
						</li>
                        <li>
							<a href="https://rekords.net/index.php?route=product/category&amp;path=395_318">Used Hip Hop Tapes</a>
						</li>
                    </ul>
				</div>
			</div>
             <div class="row">
				<div class="col-md-2 col-sm-6 hidden-xs">
					<div class="btn-group btn-group-sm">
						<button type="button" id="list-view" class="btn btn-default" data-toggle="tooltip" title="" data-original-title="List">
							<i class="fa fa-th-list"></i>
						</button>
						<button type="button" id="grid-view" class="btn btn-default active" data-toggle="tooltip" title="" data-original-title="Grid">
							<i class="fa fa-th"></i>
						</button>
					</div>
				</div>
				<div class="col-md-3 col-sm-6">       </div>
				<div class="col-md-4 col-xs-6">
					<div class="form-group input-group input-group-sm">
						<label class="input-group-addon" for="input-sort">Sort By:</label>
						<select id="input-sort" class="form-control" onchange="location = this.value;">
							<option value="https://rekords.net/index.php?route=product/category&amp;path=395&amp;sort=p.sort_order&amp;order=ASC" selected="selected">Default</option>
							<option value="https://rekords.net/index.php?route=product/category&amp;path=395&amp;sort=pd.name&amp;order=ASC">Name (A - Z)</option>
							<option value="https://rekords.net/index.php?route=product/category&amp;path=395&amp;sort=pd.name&amp;order=DESC">Name (Z - A)</option>

							<option value="https://rekords.net/index.php?route=product/category&amp;path=395&amp;sort=p.price&amp;order=ASC">Price (Low &gt; High)</option>
							<option value="https://rekords.net/index.php?route=product/category&amp;path=395&amp;sort=p.price&amp;order=DESC">Price (High &gt; Low)</option>
				  
							<option value="https://rekords.net/index.php?route=product/category&amp;path=395&amp;sort=rating&amp;order=DESC">Rating (Highest)</option>
							<option value="https://rekords.net/index.php?route=product/category&amp;path=395&amp;sort=rating&amp;order=ASC">Rating (Lowest)</option>

							<option value="https://rekords.net/index.php?route=product/category&amp;path=395&amp;sort=p.model&amp;order=ASC">Model (A - Z)</option>
							<option value="https://rekords.net/index.php?route=product/category&amp;path=395&amp;sort=p.model&amp;order=DESC">Model (Z - A)</option>
          
						</select>
					</div>
				</div>
				<div class="col-md-3 col-xs-6">
					<div class="form-group input-group input-group-sm">
						<label class="input-group-addon" for="input-limit">Show:</label>
						<select id="input-limit" class="form-control" onchange="location = this.value;">
   
							<option value="https://rekords.net/index.php?route=product/category&amp;path=395&amp;limit=15" selected="selected">15</option>
							<option value="https://rekords.net/index.php?route=product/category&amp;path=395&amp;limit=25">25</option>
							<option value="https://rekords.net/index.php?route=product/category&amp;path=395&amp;limit=50">50</option>
							<option value="https://rekords.net/index.php?route=product/category&amp;path=395&amp;limit=75">75</option>
                            <option value="https://rekords.net/index.php?route=product/category&amp;path=395&amp;limit=100">100</option>

            
						</select>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="product-layout product-grid col-lg-4 col-md-4 col-sm-6 col-xs-12">
					<div class="product-thumb">
						<div class="image" id="image-31434">
							<a href="https://rekords.net/index.php?route=product/product&amp;product_id=31434">
								<img src="https://rekords.net/image/cache/data/31434-228x228.jpg" alt="AV AV AV - No Statues, 2xLP" title="AV AV AV - No Statues, 2xLP" class="img-responsive">
							</a>
							<img style="position:absolute; top: 20px; left:20%; max-width: 60%; overflow:hidden;" src="https://rekords.net/image/catalog/widsoldout_228x110.png" class="img-responsive">
						</div>
						<div>
							<div class="caption">
								<h4>
									<a href="https://rekords.net/index.php?route=product/product&amp;product_id=31434">AV AV AV - No Statues, 2xLP</a>
								</h4>
								<p>2xLP from the Danish housetrio AV AV AV (Eloq, Unkwon, DJ E.D.D.E.H). Featuring Felix De Luca on the track ”Airplane Mode”.</p>
		    					<p>Catalog#: IMT6788085.1</p>
								<p>Press: Denmark</p>
								<p>Year: 2019</p>
								<p>Condition: NEW</p>
				                <p class="price">     DKK250.00 </p>
                                                   
							</div>
							<div class="button-group">
								<button type="button" id="button-cart-31434" onclick="cart.add('31434', '1');" disabled="" style="background: rgb(98, 98, 98) url(&quot;&quot;) no-repeat scroll right top;">
									<i class="fa fa-shopping-cart"></i>
										<span class="hidden-xs hidden-sm hidden-md">Sold Out</span>
								</button>
							</div>
						</div> 
					</div>
				</div>
                <div class="product-layout product-grid col-lg-4 col-md-4 col-sm-6 col-xs-12">
					<div class="product-thumb">
						<div class="image" id="image-31198">
							<a href="https://rekords.net/index.php?route=product/product&amp;product_id=31198">
								<img src="https://rekords.net/image/cache/data/31198-228x228.jpeg" alt="Fabeldyret &amp; Antik - Tys Tys, Cassette" title="Fabeldyret &amp; Antik - Tys Tys, Cassette" class="img-responsive">
							</a>
						</div>
						<div>
							<div class="caption">
								<h4>
									<a href="https://rekords.net/index.php?route=product/product&amp;product_id=31198">Fabeldyret &amp; Antik - Tys Tys, Cassette</a>
								</h4>
								<p>Nyt udspil fra Fabeldyret og Antik. Et uformeligt og absurd univers, både i tekst og lyd. Projektet indeholder ingen hele numre, men kun fragmenter der kolliderer og slanger sig ind mellem hinanden. Alting blev indspillet og sammensat en kold og ubarmhjertig februarnat. Gæstelisten tæller PsoriaKriz, Petta Bo, Loke Deph og oraklet Özgün Nergiz. Limited til 50 stk.&nbsp;</p>
		    					<p>Press: Denmark</p>
								<p>Year: 2019</p>
								<p>Condition: NEW</p>
								<p class="price">                   DKK90.00</p>
                                                   
							</div>
							<div class="button-group">
								<button type="button" id="button-cart-31198" onclick="cart.add('31198', '1');">
									<i class="fa fa-shopping-cart"></i> 
										<span class="hidden-xs hidden-sm hidden-md">Add to Cart</span>
								</button>
							</div>
						</div> 
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-6 text-left"></div>
				<div class="col-sm-6 text-right">Showing 1 to 2 of 2 (1 Pages)</div>
			</div>
        </div>
    </div>
</div>