$def with (urlapp)

$var urlapp: $urlapp


<div id="product-category" class="container">
  <ul class="breadcrumb">
        <li><a href="https://rekords.net/"><i class="fa fa-home"></i></a></li>
        <li><a href="https://rekords.net/index.php?route=product/category&amp;path=396">Vinyl</a></li>
        <li><a href="https://rekords.net/index.php?route=product/category&amp;path=396_323">Used Vinyl</a></li>
        <li><a href="https://rekords.net/index.php?route=product/category&amp;path=396_323_422">Reggae / Dancehall / Ragga Hip Hop</a></li>
      </ul>
  <div class="row"><aside id="column-left" class="col-sm-3 hidden-xs">
    <div class="list-group">
     
  <a href="https://rekords.net/index.php?route=product/category&amp;path=396" class="list-group-item active">Vinyl</a> 
       
  <a href="https://rekords.net/index.php?route=product/category&amp;path=396_325" class="list-group-item">&nbsp;&nbsp;&nbsp;- New Vinyl</a>
        <a href="https://rekords.net/index.php?route=product/category&amp;path=396_323" class="list-group-item active">&nbsp;&nbsp;&nbsp;- Used Vinyl</a> 
             <a href="https://rekords.net/index.php?route=product/category&amp;path=395" class="list-group-item">Tapes</a>
       <a href="https://rekords.net/index.php?route=product/category&amp;path=155" class="list-group-item">CD &amp; DVD</a>
       <a href="https://rekords.net/index.php?route=product/category&amp;path=442" class="list-group-item">Merch &amp; Clothing</a>
    </div>

    <div class="swiper-viewport">
  <div id="banner0" class="swiper-container swiper-container-horizontal swiper-container-fade">
    <div class="swiper-wrapper"></div>
  </div>
</div> </aside>

                <div id="content" class="col-sm-9">
      <h2>Reggae / Dancehall / Ragga Hip Hop</h2>
                        <div class="row">
        <div class="col-md-2 col-sm-6 hidden-xs">
          <div class="btn-group btn-group-sm">
            <button type="button" id="list-view" class="btn btn-default" data-toggle="tooltip" title="" data-original-title="List"><i class="fa fa-th-list"></i></button>
            <button type="button" id="grid-view" class="btn btn-default active" data-toggle="tooltip" title="" data-original-title="Grid"><i class="fa fa-th"></i></button>
          </div>
        </div>
        <div class="col-md-3 col-sm-6">
        </div>
        <div class="col-md-4 col-xs-6">
          <div class="form-group input-group input-group-sm">
            <label class="input-group-addon" for="input-sort">Sort By:</label>
            <select id="input-sort" class="form-control" onchange="location = this.value;">
              
              
              
                                          
              
              
              <option value="https://rekords.net/index.php?route=product/category&amp;path=396_323_422&amp;sort=p.sort_order&amp;order=ASC" selected="selected">Default</option>
              
              
              
                                                        
              
              
              <option value="https://rekords.net/index.php?route=product/category&amp;path=396_323_422&amp;sort=pd.name&amp;order=ASC">Name (A - Z)</option>
              
              
              
                                                        
              
              
              <option value="https://rekords.net/index.php?route=product/category&amp;path=396_323_422&amp;sort=pd.name&amp;order=DESC">Name (Z - A)</option>
              
              
              
                                                        
              
              
              <option value="https://rekords.net/index.php?route=product/category&amp;path=396_323_422&amp;sort=p.price&amp;order=ASC">Price (Low &gt; High)</option>
              
              
              
                                                        
              
              
              <option value="https://rekords.net/index.php?route=product/category&amp;path=396_323_422&amp;sort=p.price&amp;order=DESC">Price (High &gt; Low)</option>
              
              
              
                                                        
              
              
              <option value="https://rekords.net/index.php?route=product/category&amp;path=396_323_422&amp;sort=rating&amp;order=DESC">Rating (Highest)</option>
              
              
              
                                                        
              
              
              <option value="https://rekords.net/index.php?route=product/category&amp;path=396_323_422&amp;sort=rating&amp;order=ASC">Rating (Lowest)</option>
              
              
              
                                                        
              
              
              <option value="https://rekords.net/index.php?route=product/category&amp;path=396_323_422&amp;sort=p.model&amp;order=ASC">Model (A - Z)</option>
              
              
              
                                                        
              
              
              <option value="https://rekords.net/index.php?route=product/category&amp;path=396_323_422&amp;sort=p.model&amp;order=DESC">Model (Z - A)</option>
              
              
              
                                        
            
            
            </select>
          </div>
        </div>
        <div class="col-md-3 col-xs-6">
          <div class="form-group input-group input-group-sm">
            <label class="input-group-addon" for="input-limit">Show:</label>
            <select id="input-limit" class="form-control" onchange="location = this.value;">
              
              
              
                                          
              
              
              <option value="https://rekords.net/index.php?route=product/category&amp;path=396_323_422&amp;limit=15" selected="selected">15</option>
              
              
              
                                                        
              
              
              <option value="https://rekords.net/index.php?route=product/category&amp;path=396_323_422&amp;limit=25">25</option>
              
              
              
                                                        
              
              
              <option value="https://rekords.net/index.php?route=product/category&amp;path=396_323_422&amp;limit=50">50</option>
              
              
              
                                                        
              
              
              <option value="https://rekords.net/index.php?route=product/category&amp;path=396_323_422&amp;limit=75">75</option>
              
              
              
                                                        
              
              
              <option value="https://rekords.net/index.php?route=product/category&amp;path=396_323_422&amp;limit=100">100</option>
              
              
              
                                        
            
            
            </select>
          </div>
        </div>
      </div>
      <div class="row">         <div class="product-layout product-grid col-lg-4 col-md-4 col-sm-6 col-xs-12">
          <div class="product-thumb">
            <div class="image" id="image-31091"><a href="https://rekords.net/index.php?route=product/product&amp;product_id=31091"><img src="https://rekords.net/image/cache/data/31091-228x228.jpg" alt="Aswad / Fatman Riddim Section - Radikal Roots Re-Edits Volume 8, 12&quot;" title="Aswad / Fatman Riddim Section - Radikal Roots Re-Edits Volume 8, 12&quot;" class="img-responsive"></a></div>
            <div>
              <div class="caption">
                <h4><a href="https://rekords.net/index.php?route=product/product&amp;product_id=31091">Aswad / Fatman Riddim Section - Radikal Roots Re-Edits Volume 8, 12"</a></h4>
                <p></p>
		    								<p>Catalog#: ROOTS 8</p>
												<p>Press: UK</p>
												<p>Year: 2005</p>
												<p>Condition: VG+/Generic</p>
				                                <p class="price">                   DKK100.00
                                                   </p></div>
              <div class="button-group">
                <button type="button" id="button-cart-31091" onclick="cart.add('31091', '1');"><i class="fa fa-shopping-cart"></i> <span class="hidden-xs hidden-sm hidden-md">Add to Cart</span></button>
              </div>
            </div> 
 </div>
        </div>
                <div class="product-layout product-grid col-lg-4 col-md-4 col-sm-6 col-xs-12">
          <div class="product-thumb">
            <div class="image" id="image-31117"><a href="https://rekords.net/index.php?route=product/product&amp;product_id=31117"><img src="https://rekords.net/image/cache/data/31117-228x228.jpg" alt="Babatunde Tony Ellis - No Place To Run, LP" title="Babatunde Tony Ellis - No Place To Run, LP" class="img-responsive"></a></div>
            <div>
              <div class="caption">
                <h4><a href="https://rekords.net/index.php?route=product/product&amp;product_id=31117">Babatunde Tony Ellis - No Place To Run, LP</a></h4>
                <p>Swedish first pressing. Writing on label. Strong VG/VG.</p>
		    								<p>Catalog#: MNW 93P</p>
												<p>Press: Sweden</p>
												<p>Year: 1979</p>
												<p>Condition: VG/VG</p>
				                                <p class="price">                   DKK40.00
                                                   </p></div>
              <div class="button-group">
                <button type="button" id="button-cart-31117" onclick="cart.add('31117', '1');"><i class="fa fa-shopping-cart"></i> <span class="hidden-xs hidden-sm hidden-md">Add to Cart</span></button>
              </div>
            </div> 
 </div>
        </div>
                <div class="product-layout product-grid col-lg-4 col-md-4 col-sm-6 col-xs-12">
          <div class="product-thumb">
            <div class="image" id="image-26381"><a href="https://rekords.net/index.php?route=product/product&amp;product_id=26381"><img src="https://rekords.net/image/cache/data/26381-228x228.jpg" alt="Bass And Trouble - Deep, LP" title="Bass And Trouble - Deep, LP" class="img-responsive"></a></div>
            <div>
              <div class="caption">
                <h4><a href="https://rekords.net/index.php?route=product/product&amp;product_id=26381">Bass And Trouble - Deep, LP</a></h4>
                <p>With printed inner sleeve.</p>
		    								<p>Catalog#: SPR 502-1</p>
												<p>Press: Denmark</p>
												<p>Year: 1991</p>
												<p>Condition: Used: VG+/VG+</p>
				                                <p class="price">                   DKK60.00
                                                   </p></div>
              <div class="button-group">
                <button type="button" id="button-cart-26381" onclick="cart.add('26381', '1');"><i class="fa fa-shopping-cart"></i> <span class="hidden-xs hidden-sm hidden-md">Add to Cart</span></button>
              </div>
            </div> 
 </div>
        </div>
                <div class="product-layout product-grid col-lg-4 col-md-4 col-sm-6 col-xs-12">
          <div class="product-thumb">
            <div class="image" id="image-26380"><a href="https://rekords.net/index.php?route=product/product&amp;product_id=26380"><img src="https://rekords.net/image/cache/data/26380-228x228.jpg" alt="Bass And Trouble - Deep, LP+12”" title="Bass And Trouble - Deep, LP+12”" class="img-responsive"></a></div>
            <div>
              <div class="caption">
                <h4><a href="https://rekords.net/index.php?route=product/product&amp;product_id=26380">Bass And Trouble - Deep, LP+12”</a></h4>
                <p>Limited edition with bonus 12” (bonus 12” in vg condition). With printed inner sleeve.</p>
		    								<p>Catalog#: SPR 502-1</p>
												<p>Press: Denmark</p>
												<p>Year: 1991</p>
												<p>Condition: Used: VG+/VG+</p>
				                                <p class="price">                   DKK100.00
                                                   </p></div>
              <div class="button-group">
                <button type="button" id="button-cart-26380" onclick="cart.add('26380', '1');"><i class="fa fa-shopping-cart"></i> <span class="hidden-xs hidden-sm hidden-md">Add to Cart</span></button>
              </div>
            </div> 
 </div>
        </div>
                <div class="product-layout product-grid col-lg-4 col-md-4 col-sm-6 col-xs-12">
          <div class="product-thumb">
            <div class="image" id="image-31383"><a href="https://rekords.net/index.php?route=product/product&amp;product_id=31383"><img src="https://rekords.net/image/cache/data/31383-228x228.jpg" alt="Beres Hammond - In Control, LP" title="Beres Hammond - In Control, LP" class="img-responsive"></a></div>
            <div>
              <div class="caption">
                <h4><a href="https://rekords.net/index.php?route=product/product&amp;product_id=31383">Beres Hammond - In Control, LP</a></h4>
                <p></p>
		    								<p>Catalog#: HH 0101</p>
												<p>Press: Jamaica</p>
												<p>Year: 1994</p>
												<p>Condition: VG+/VG+</p>
				                                <p class="price">                   DKK100.00
                                                   </p></div>
              <div class="button-group">
                <button type="button" id="button-cart-31383" onclick="cart.add('31383', '1');"><i class="fa fa-shopping-cart"></i> <span class="hidden-xs hidden-sm hidden-md">Add to Cart</span></button>
              </div>
            </div> 
 </div>
        </div>
                <div class="product-layout product-grid col-lg-4 col-md-4 col-sm-6 col-xs-12">
          <div class="product-thumb">
            <div class="image" id="image-32460"><a href="https://rekords.net/index.php?route=product/product&amp;product_id=32460"><img src="https://rekords.net/image/cache/data/32460-228x228.jpg" alt="Bikstok Røgsystem - DK's Koner, 12&quot;" title="Bikstok Røgsystem - DK's Koner, 12&quot;" class="img-responsive"></a></div>
            <div>
              <div class="caption">
                <h4><a href="https://rekords.net/index.php?route=product/product&amp;product_id=32460">Bikstok Røgsystem - DK's Koner, 12"</a></h4>
                <p></p>
		    								<p>Catalog#: CPHREC0014</p>
												<p>Press: Denmark</p>
												<p>Year: 2005</p>
												<p>Condition: EX/Generic</p>
				                                <p class="price">                   DKK250.00
                                                   </p></div>
              <div class="button-group">
                <button type="button" id="button-cart-32460" onclick="cart.add('32460', '1');"><i class="fa fa-shopping-cart"></i> <span class="hidden-xs hidden-sm hidden-md">Add to Cart</span></button>
              </div>
            </div> 
 </div>
        </div>
                <div class="product-layout product-grid col-lg-4 col-md-4 col-sm-6 col-xs-12">
          <div class="product-thumb">
            <div class="image" id="image-31142"><a href="https://rekords.net/index.php?route=product/product&amp;product_id=31142"><img src="https://rekords.net/image/cache/data/31142-228x228.jpg" alt="Bob Drumbago &amp; Drumbago Experienced Band - Play Paverty For Me, 12&quot;, Reissue" title="Bob Drumbago &amp; Drumbago Experienced Band - Play Paverty For Me, 12&quot;, Reissue" class="img-responsive"></a></div>
            <div>
              <div class="caption">
                <h4><a href="https://rekords.net/index.php?route=product/product&amp;product_id=31142">Bob Drumbago &amp; Drumbago Experienced Band - Play Paverty For Me, 12", Reissue</a></h4>
                <p>Sealed copy.</p>
		    								<p>Catalog#: TUF 173</p>
												<p>Press: UK</p>
												<p>Year: 2018</p>
												<p>Condition: M/M</p>
				                                <p class="price">                   DKK120.00
                                                   </p></div>
              <div class="button-group">
                <button type="button" id="button-cart-31142" onclick="cart.add('31142', '1');"><i class="fa fa-shopping-cart"></i> <span class="hidden-xs hidden-sm hidden-md">Add to Cart</span></button>
              </div>
            </div> 
 </div>
        </div>
                <div class="product-layout product-grid col-lg-4 col-md-4 col-sm-6 col-xs-12">
          <div class="product-thumb">
            <div class="image" id="image-26415"><a href="https://rekords.net/index.php?route=product/product&amp;product_id=26415"><img src="https://rekords.net/image/cache/data/26415-228x228.jpg" alt="Freddie McGregor - Magic In The Air, LP" title="Freddie McGregor - Magic In The Air, LP" class="img-responsive"></a></div>
            <div>
              <div class="caption">
                <h4><a href="https://rekords.net/index.php?route=product/product&amp;product_id=26415">Freddie McGregor - Magic In The Air, LP</a></h4>
                <p>Original UK. Import sticker on back of sleeve. Strong VG sleeve.</p>
		    								<p>Catalog#: BSLP 5</p>
												<p>Press: UK</p>
												<p>Year: 1995</p>
												<p>Condition: Used: EX/VG</p>
				                                <p class="price">                   DKK200.00
                                                   </p></div>
              <div class="button-group">
                <button type="button" id="button-cart-26415" onclick="cart.add('26415', '1');"><i class="fa fa-shopping-cart"></i> <span class="hidden-xs hidden-sm hidden-md">Add to Cart</span></button>
              </div>
            </div> 
 </div>
        </div>
                <div class="product-layout product-grid col-lg-4 col-md-4 col-sm-6 col-xs-12">
          <div class="product-thumb">
            <div class="image" id="image-33419"><a href="https://rekords.net/index.php?route=product/product&amp;product_id=33419"><img src="https://rekords.net/image/cache/data/33419-228x228.jpg" alt="Ham Der Hasse - Stil &amp; Facon, 7&quot;" title="Ham Der Hasse - Stil &amp; Facon, 7&quot;" class="img-responsive"></a></div>
            <div>
              <div class="caption">
                <h4><a href="https://rekords.net/index.php?route=product/product&amp;product_id=33419">Ham Der Hasse - Stil &amp; Facon, 7"</a></h4>
                <p></p>
		    								<p>Catalog#: SFA001</p>
												<p>Press: Denmark</p>
												<p>Year: 2013</p>
												<p>Condition: NM/Generic</p>
				                                <p class="price">                   DKK400.00
                                                   </p></div>
              <div class="button-group">
                <button type="button" id="button-cart-33419" onclick="cart.add('33419', '1');"><i class="fa fa-shopping-cart"></i> <span class="hidden-xs hidden-sm hidden-md">Add to Cart</span></button>
              </div>
            </div> 
 </div>
        </div>
                <div class="product-layout product-grid col-lg-4 col-md-4 col-sm-6 col-xs-12">
          <div class="product-thumb">
            <div class="image" id="image-31112"><a href="https://rekords.net/index.php?route=product/product&amp;product_id=31112"><img src="https://rekords.net/image/cache/data/31112-228x228.jpg" alt="Herbie Mann - Reggae, LP" title="Herbie Mann - Reggae, LP" class="img-responsive"></a></div>
            <div>
              <div class="caption">
                <h4><a href="https://rekords.net/index.php?route=product/product&amp;product_id=31112">Herbie Mann - Reggae, LP</a></h4>
                <p></p>
		    								<p>Catalog#: K 50053</p>
												<p>Press: UK</p>
												<p>Year: 1974</p>
												<p>Condition: VG+/VG</p>
				                                <p class="price">                   DKK40.00
                                                   </p></div>
              <div class="button-group">
                <button type="button" id="button-cart-31112" onclick="cart.add('31112', '1');"><i class="fa fa-shopping-cart"></i> <span class="hidden-xs hidden-sm hidden-md">Add to Cart</span></button>
              </div>
            </div> 
 </div>
        </div>
                <div class="product-layout product-grid col-lg-4 col-md-4 col-sm-6 col-xs-12">
          <div class="product-thumb">
            <div class="image" id="image-26419"><a href="https://rekords.net/index.php?route=product/product&amp;product_id=26419"><img src="https://rekords.net/image/cache/data/26419-228x228.jpg" alt="Jamal-Ski - A Piece Of Reality, 12&quot;" title="Jamal-Ski - A Piece Of Reality, 12&quot;" class="img-responsive"></a></div>
            <div>
              <div class="caption">
                <h4><a href="https://rekords.net/index.php?route=product/product&amp;product_id=26419">Jamal-Ski - A Piece Of Reality, 12"</a></h4>
                <p>Original US. DJ stickers in centerhole and on labels. Generic sleeve still in shrinkwrap with hype sticker.</p>
		    								<p>Catalog#: 44 74780</p>
												<p>Press: US</p>
												<p>Year: 1992</p>
												<p>Condition: Used: VG/VG+</p>
				                                <p class="price">                   DKK35.00
                                                   </p></div>
              <div class="button-group">
                <button type="button" id="button-cart-26419" onclick="cart.add('26419', '1');"><i class="fa fa-shopping-cart"></i> <span class="hidden-xs hidden-sm hidden-md">Add to Cart</span></button>
              </div>
            </div> 
 </div>
        </div>
                <div class="product-layout product-grid col-lg-4 col-md-4 col-sm-6 col-xs-12">
          <div class="product-thumb">
            <div class="image" id="image-31788"><a href="https://rekords.net/index.php?route=product/product&amp;product_id=31788"><img src="https://rekords.net/image/cache/data/31788-228x228.jpg" alt="Josie Wales - Ha Fi Say So, LP" title="Josie Wales - Ha Fi Say So, LP" class="img-responsive"></a></div>
            <div>
              <div class="caption">
                <h4><a href="https://rekords.net/index.php?route=product/product&amp;product_id=31788">Josie Wales - Ha Fi Say So, LP</a></h4>
                <p>Feelable scratch on track b3 causing some clicks.</p>
		    								<p>Catalog#: none</p>
												<p>Press: Jamaica</p>
												<p>Year: 1986</p>
												<p>Condition: VG/VG</p>
				                                <p class="price">                   DKK80.00
                                                   </p></div>
              <div class="button-group">
                <button type="button" id="button-cart-31788" onclick="cart.add('31788', '1');"><i class="fa fa-shopping-cart"></i> <span class="hidden-xs hidden-sm hidden-md">Add to Cart</span></button>
              </div>
            </div> 
 </div>
        </div>
                <div class="product-layout product-grid col-lg-4 col-md-4 col-sm-6 col-xs-12">
          <div class="product-thumb">
            <div class="image" id="image-25274"><a href="https://rekords.net/index.php?route=product/product&amp;product_id=25274"><img src="https://rekords.net/image/cache/data/25274-228x228.jpg" alt="Junkyard Productions - Colour Me, LP" title="Junkyard Productions - Colour Me, LP" class="img-responsive"></a></div>
            <div>
              <div class="caption">
                <h4><a href="https://rekords.net/index.php?route=product/product&amp;product_id=25274">Junkyard Productions - Colour Me, LP</a></h4>
                <p></p>
		    								<p>Catalog#: Murena 045LP</p>
												<p>Press: Denmark</p>
												<p>Year: 2009</p>
												<p>Condition: Used: NM/NM</p>
				                                <p class="price">                   DKK200.00
                                                   </p></div>
              <div class="button-group">
                <button type="button" id="button-cart-25274" onclick="cart.add('25274', '1');"><i class="fa fa-shopping-cart"></i> <span class="hidden-xs hidden-sm hidden-md">Add to Cart</span></button>
              </div>
            </div> 
 </div>
        </div>
                <div class="product-layout product-grid col-lg-4 col-md-4 col-sm-6 col-xs-12">
          <div class="product-thumb">
            <div class="image" id="image-33743"><a href="https://rekords.net/index.php?route=product/product&amp;product_id=33743"><img src="https://rekords.net/image/cache/data/33743-228x228.jpg" alt="Merry Makers Of Sainte-Lucia - Merry Makers , LP" title="Merry Makers Of Sainte-Lucia - Merry Makers , LP" class="img-responsive"></a></div>
            <div>
              <div class="caption">
                <h4><a href="https://rekords.net/index.php?route=product/product&amp;product_id=33743">Merry Makers Of Sainte-Lucia - Merry Makers , LP</a></h4>
                <p>Strong VG+ vinyl. </p>
		    								<p>Catalog#: HPR 85</p>
												<p>Press: Martinique</p>
																<p>Condition: VG+/VG+</p>
				                                <p class="price">                   DKK600.00
                                                   </p></div>
              <div class="button-group">
                <button type="button" id="button-cart-33743" onclick="cart.add('33743', '1');"><i class="fa fa-shopping-cart"></i> <span class="hidden-xs hidden-sm hidden-md">Add to Cart</span></button>
              </div>
            </div> 
 </div>
        </div>
                <div class="product-layout product-grid col-lg-4 col-md-4 col-sm-6 col-xs-12">
          <div class="product-thumb">
            <div class="image" id="image-33164"><a href="https://rekords.net/index.php?route=product/product&amp;product_id=33164"><img src="https://rekords.net/image/cache/data/33164-228x228.jpg" alt="Pluto - Ire Mas Rockers Carnival, LP" title="Pluto - Ire Mas Rockers Carnival, LP" class="img-responsive"></a></div>
            <div>
              <div class="caption">
                <h4><a href="https://rekords.net/index.php?route=product/product&amp;product_id=33164">Pluto - Ire Mas Rockers Carnival, LP</a></h4>
                <p>Original US. Full seamsplit in top spine of sleeve.</p>
		    								<p>Catalog#: TRI-3240</p>
												<p>Press: US</p>
												<p>Year: 1981</p>
												<p>Condition: VG/VG</p>
				                                <p class="price">                   DKK100.00
                                                   </p></div>
              <div class="button-group">
                <button type="button" id="button-cart-33164" onclick="cart.add('33164', '1');"><i class="fa fa-shopping-cart"></i> <span class="hidden-xs hidden-sm hidden-md">Add to Cart</span></button>
              </div>
            </div> 
 </div>
        </div>
         </div>
      <div class="row">
        <div class="col-sm-6 text-left"><ul class="pagination"><li class="active"><span>1</span></li><li><a href="https://rekords.net/index.php?route=product/category&amp;path=396_323_422&amp;page=2">2</a></li><li><a href="https://rekords.net/index.php?route=product/category&amp;path=396_323_422&amp;page=2">&gt;</a></li><li><a href="https://rekords.net/index.php?route=product/category&amp;path=396_323_422&amp;page=2">&gt;|</a></li></ul></div>
        <div class="col-sm-6 text-right">Showing 1 to 15 of 27 (2 Pages)</div>
      </div>
                  </div>
    </div>
</div>

 