$def with (urlapp)

$var urlapp: $urlapp



<div id="product-category" class="container">
  <ul class="breadcrumb">
        <li><a href="https://rekords.net/"><i class="fa fa-home"></i></a></li>
        <li><a href="https://rekords.net/index.php?route=product/category&amp;path=396">Vinyl</a></li>
        <li><a href="https://rekords.net/index.php?route=product/category&amp;path=396_323">Used Vinyl</a></li>
        <li><a href="https://rekords.net/index.php?route=product/category&amp;path=396_323_473">Library</a></li>
      </ul>
  <div class="row"><aside id="column-left" class="col-sm-3 hidden-xs">
    <div class="list-group">
     
  <a href="https://rekords.net/index.php?route=product/category&amp;path=396" class="list-group-item active">Vinyl</a> 
       
  <a href="https://rekords.net/index.php?route=product/category&amp;path=396_325" class="list-group-item">&nbsp;&nbsp;&nbsp;- New Vinyl</a>
        <a href="https://rekords.net/index.php?route=product/category&amp;path=396_323" class="list-group-item active">&nbsp;&nbsp;&nbsp;- Used Vinyl</a> 
             <a href="https://rekords.net/index.php?route=product/category&amp;path=395" class="list-group-item">Tapes</a>
       <a href="https://rekords.net/index.php?route=product/category&amp;path=155" class="list-group-item">CD &amp; DVD</a>
       <a href="https://rekords.net/index.php?route=product/category&amp;path=442" class="list-group-item">Merch &amp; Clothing</a>
    </div>

    <div class="swiper-viewport">
  <div id="banner0" class="swiper-container swiper-container-horizontal swiper-container-fade">
    <div class="swiper-wrapper"></div>
  </div>
</div> </aside>

                <div id="content" class="col-sm-9">
      <h2>Library</h2>
                        <div class="row">
        <div class="col-md-2 col-sm-6 hidden-xs">
          <div class="btn-group btn-group-sm">
            <button type="button" id="list-view" class="btn btn-default" data-toggle="tooltip" title="" data-original-title="List"><i class="fa fa-th-list"></i></button>
            <button type="button" id="grid-view" class="btn btn-default active" data-toggle="tooltip" title="" data-original-title="Grid"><i class="fa fa-th"></i></button>
          </div>
        </div>
        <div class="col-md-3 col-sm-6">
        </div>
        <div class="col-md-4 col-xs-6">
          <div class="form-group input-group input-group-sm">
            <label class="input-group-addon" for="input-sort">Sort By:</label>
            <select id="input-sort" class="form-control" onchange="location = this.value;">
              
              
              
                                          
              
              
              <option value="https://rekords.net/index.php?route=product/category&amp;path=396_323_473&amp;sort=p.sort_order&amp;order=ASC" selected="selected">Default</option>
              
              
              
                                                        
              
              
              <option value="https://rekords.net/index.php?route=product/category&amp;path=396_323_473&amp;sort=pd.name&amp;order=ASC">Name (A - Z)</option>
              
              
              
                                                        
              
              
              <option value="https://rekords.net/index.php?route=product/category&amp;path=396_323_473&amp;sort=pd.name&amp;order=DESC">Name (Z - A)</option>
              
              
              
                                                        
              
              
              <option value="https://rekords.net/index.php?route=product/category&amp;path=396_323_473&amp;sort=p.price&amp;order=ASC">Price (Low &gt; High)</option>
              
              
              
                                                        
              
              
              <option value="https://rekords.net/index.php?route=product/category&amp;path=396_323_473&amp;sort=p.price&amp;order=DESC">Price (High &gt; Low)</option>
              
              
              
                                                        
              
              
              <option value="https://rekords.net/index.php?route=product/category&amp;path=396_323_473&amp;sort=rating&amp;order=DESC">Rating (Highest)</option>
              
              
              
                                                        
              
              
              <option value="https://rekords.net/index.php?route=product/category&amp;path=396_323_473&amp;sort=rating&amp;order=ASC">Rating (Lowest)</option>
              
              
              
                                                        
              
              
              <option value="https://rekords.net/index.php?route=product/category&amp;path=396_323_473&amp;sort=p.model&amp;order=ASC">Model (A - Z)</option>
              
              
              
                                                        
              
              
              <option value="https://rekords.net/index.php?route=product/category&amp;path=396_323_473&amp;sort=p.model&amp;order=DESC">Model (Z - A)</option>
              
              
              
                                        
            
            
            </select>
          </div>
        </div>
        <div class="col-md-3 col-xs-6">
          <div class="form-group input-group input-group-sm">
            <label class="input-group-addon" for="input-limit">Show:</label>
            <select id="input-limit" class="form-control" onchange="location = this.value;">
              
              
              
                                          
              
              
              <option value="https://rekords.net/index.php?route=product/category&amp;path=396_323_473&amp;limit=15" selected="selected">15</option>
              
              
              
                                                        
              
              
              <option value="https://rekords.net/index.php?route=product/category&amp;path=396_323_473&amp;limit=25">25</option>
              
              
              
                                                        
              
              
              <option value="https://rekords.net/index.php?route=product/category&amp;path=396_323_473&amp;limit=50">50</option>
              
              
              
                                                        
              
              
              <option value="https://rekords.net/index.php?route=product/category&amp;path=396_323_473&amp;limit=75">75</option>
              
              
              
                                                        
              
              
              <option value="https://rekords.net/index.php?route=product/category&amp;path=396_323_473&amp;limit=100">100</option>
              
              
              
                                        
            
            
            </select>
          </div>
        </div>
      </div>
      <div class="row">         <div class="product-layout product-grid col-lg-4 col-md-4 col-sm-6 col-xs-12">
          <div class="product-thumb">
            <div class="image" id="image-30243"><a href="https://rekords.net/index.php?route=product/product&amp;product_id=30243"><img src="https://rekords.net/image/cache/data/30243-228x228.jpg" alt="Barbara Rustin Staton - Move Into Music - Volume 2, LP" title="Barbara Rustin Staton - Move Into Music - Volume 2, LP" class="img-responsive"></a></div>
            <div>
              <div class="caption">
                <h4><a href="https://rekords.net/index.php?route=product/product&amp;product_id=30243">Barbara Rustin Staton - Move Into Music - Volume 2, LP</a></h4>
                <p>Still in shrinkwrap.</p>
		    								<p>Catalog#: 75 140 02</p>
												<p>Press: US</p>
																<p>Condition: NM/VG+</p>
				                                <p class="price">                   DKK120.00
                                                   </p></div>
              <div class="button-group">
                <button type="button" id="button-cart-30243" onclick="cart.add('30243', '1');"><i class="fa fa-shopping-cart"></i> <span class="hidden-xs hidden-sm hidden-md">Add to Cart</span></button>
              </div>
            </div> 
 </div>
        </div>
                <div class="product-layout product-grid col-lg-4 col-md-4 col-sm-6 col-xs-12">
          <div class="product-thumb">
            <div class="image" id="image-33744"><a href="https://rekords.net/index.php?route=product/product&amp;product_id=33744"><img src="https://rekords.net/image/data/33744.jpg" alt="Edward Simon, Richard L. Blank, Matt Matthews - Production Music, LP" title="Edward Simon, Richard L. Blank, Matt Matthews - Production Music, LP" class="img-responsive"></a></div>
            <div>
              <div class="caption">
                <h4><a href="https://rekords.net/index.php?route=product/product&amp;product_id=33744">Edward Simon, Richard L. Blank, Matt Matthews - Production Music, LP</a></h4>
                <p></p>
		    								<p>Catalog#: 6073</p>
												<p>Press: US</p>
												<p>Year: 1973</p>
												<p>Condition: VG+/VG+</p>
				                                <p class="price">                   DKK250.00
                                                   </p></div>
              <div class="button-group">
                <button type="button" id="button-cart-33744" onclick="cart.add('33744', '1');"><i class="fa fa-shopping-cart"></i> <span class="hidden-xs hidden-sm hidden-md">Add to Cart</span></button>
              </div>
            </div> 
 </div>
        </div>
                <div class="product-layout product-grid col-lg-4 col-md-4 col-sm-6 col-xs-12">
          <div class="product-thumb">
            <div class="image" id="image-27818"><a href="https://rekords.net/index.php?route=product/product&amp;product_id=27818"><img src="https://rekords.net/image/cache/data/27818-228x228.jpg" alt="F. McDonald / C. Rae - Sound &amp; Vision, LP" title="F. McDonald / C. Rae - Sound &amp; Vision, LP" class="img-responsive"></a></div>
            <div>
              <div class="caption">
                <h4><a href="https://rekords.net/index.php?route=product/product&amp;product_id=27818">F. McDonald / C. Rae - Sound &amp; Vision, LP</a></h4>
                <p></p>
		    								<p>Catalog#: HMCS/LP 545</p>
												<p>Press: UK</p>
												<p>Year: 1984</p>
												<p>Condition: EX/VG+</p>
				                                <p class="price">                   DKK80.00
                                                   </p></div>
              <div class="button-group">
                <button type="button" id="button-cart-27818" onclick="cart.add('27818', '1');"><i class="fa fa-shopping-cart"></i> <span class="hidden-xs hidden-sm hidden-md">Add to Cart</span></button>
              </div>
            </div> 
 </div>
        </div>
                <div class="product-layout product-grid col-lg-4 col-md-4 col-sm-6 col-xs-12">
          <div class="product-thumb">
            <div class="image" id="image-28405"><a href="https://rekords.net/index.php?route=product/product&amp;product_id=28405"><img src="https://rekords.net/image/cache/data/28405-228x228.jpg" alt="Georges Delerue - Musiques De Georges Delerue, LP" title="Georges Delerue - Musiques De Georges Delerue, LP" class="img-responsive"></a></div>
            <div>
              <div class="caption">
                <h4><a href="https://rekords.net/index.php?route=product/product&amp;product_id=28405">Georges Delerue - Musiques De Georges Delerue, LP</a></h4>
                <p></p>
		    								<p>Catalog#: PW 21</p>
												<p>Press: France</p>
																<p>Condition: NM/VG</p>
				                                <p class="price">                   DKK100.00
                                                   </p></div>
              <div class="button-group">
                <button type="button" id="button-cart-28405" onclick="cart.add('28405', '1');"><i class="fa fa-shopping-cart"></i> <span class="hidden-xs hidden-sm hidden-md">Add to Cart</span></button>
              </div>
            </div> 
 </div>
        </div>
                <div class="product-layout product-grid col-lg-4 col-md-4 col-sm-6 col-xs-12">
          <div class="product-thumb">
            <div class="image" id="image-28406"><a href="https://rekords.net/index.php?route=product/product&amp;product_id=28406"><img src="https://rekords.net/image/cache/data/28406-228x228.jpg" alt="Georges Delerue / Jack Arel / Carlos Leresche / Vladimir Cosma - Cordes &amp; Instruments Solistes, LP" title="Georges Delerue / Jack Arel / Carlos Leresche / Vladimir Cosma - Cordes &amp; Instruments Solistes, LP" class="img-responsive"></a></div>
            <div>
              <div class="caption">
                <h4><a href="https://rekords.net/index.php?route=product/product&amp;product_id=28406">Georges Delerue / Jack Arel / Carlos Leresche / Vladimir Cosma - Cordes &amp; Instruments Solistes, LP</a></h4>
                <p></p>
		    								<p>Catalog#: PW 47</p>
												<p>Press: France</p>
												<p>Year: 1979</p>
												<p>Condition: NM/VG</p>
				                                <p class="price">                   DKK80.00
                                                   </p></div>
              <div class="button-group">
                <button type="button" id="button-cart-28406" onclick="cart.add('28406', '1');"><i class="fa fa-shopping-cart"></i> <span class="hidden-xs hidden-sm hidden-md">Add to Cart</span></button>
              </div>
            </div> 
 </div>
        </div>
                <div class="product-layout product-grid col-lg-4 col-md-4 col-sm-6 col-xs-12">
          <div class="product-thumb">
            <div class="image" id="image-33790"><a href="https://rekords.net/index.php?route=product/product&amp;product_id=33790"><img src="https://rekords.net/image/cache/data/33790-228x228.jpg" alt="International Studio Orchestra - Sea Music, LP" title="International Studio Orchestra - Sea Music, LP" class="img-responsive"></a></div>
            <div>
              <div class="caption">
                <h4><a href="https://rekords.net/index.php?route=product/product&amp;product_id=33790">International Studio Orchestra - Sea Music, LP</a></h4>
                <p>TV station sticker on front and back of sleeve. Sticker on labels.</p>
		    								<p>Catalog#: DW/LP 3189</p>
												<p>Press: UK</p>
												<p>Year: 1971</p>
												<p>Condition: EX/VG</p>
				                                <p class="price">                   DKK180.00
                                                   </p></div>
              <div class="button-group">
                <button type="button" id="button-cart-33790" onclick="cart.add('33790', '1');"><i class="fa fa-shopping-cart"></i> <span class="hidden-xs hidden-sm hidden-md">Add to Cart</span></button>
              </div>
            </div> 
 </div>
        </div>
                <div class="product-layout product-grid col-lg-4 col-md-4 col-sm-6 col-xs-12">
          <div class="product-thumb">
            <div class="image" id="image-27821"><a href="https://rekords.net/index.php?route=product/product&amp;product_id=27821"><img src="https://rekords.net/image/cache/data/27821-228x228.jpg" alt="Jack Trombey - Topsy Turvy, LP" title="Jack Trombey - Topsy Turvy, LP" class="img-responsive"></a></div>
            <div>
              <div class="caption">
                <h4><a href="https://rekords.net/index.php?route=product/product&amp;product_id=27821">Jack Trombey - Topsy Turvy, LP</a></h4>
                <p></p>
		    								<p>Catalog#: RMS/LP 158</p>
												<p>Press: UK</p>
												<p>Year: 1985</p>
												<p>Condition: NM/VG</p>
				                                <p class="price">                   DKK80.00
                                                   </p></div>
              <div class="button-group">
                <button type="button" id="button-cart-27821" onclick="cart.add('27821', '1');"><i class="fa fa-shopping-cart"></i> <span class="hidden-xs hidden-sm hidden-md">Add to Cart</span></button>
              </div>
            </div> 
 </div>
        </div>
                <div class="product-layout product-grid col-lg-4 col-md-4 col-sm-6 col-xs-12">
          <div class="product-thumb">
            <div class="image" id="image-33695"><a href="https://rekords.net/index.php?route=product/product&amp;product_id=33695"><img src="https://rekords.net/image/cache/data/33695-228x228.jpg" alt="Jean-Michel Lorgere - Homere Instrumental Serie N° 1, LP" title="Jean-Michel Lorgere - Homere Instrumental Serie N° 1, LP" class="img-responsive"></a></div>
            <div>
              <div class="caption">
                <h4><a href="https://rekords.net/index.php?route=product/product&amp;product_id=33695">Jean-Michel Lorgere - Homere Instrumental Serie N° 1, LP</a></h4>
                <p>Sticker on labels.</p>
		    								<p>Catalog#: HO 5013</p>
												<p>Press: France</p>
																<p>Condition: VG+/VG</p>
				                                <p class="price">                   DKK400.00
                                                   </p></div>
              <div class="button-group">
                <button type="button" id="button-cart-33695" onclick="cart.add('33695', '1');"><i class="fa fa-shopping-cart"></i> <span class="hidden-xs hidden-sm hidden-md">Add to Cart</span></button>
              </div>
            </div> 
 </div>
        </div>
                <div class="product-layout product-grid col-lg-4 col-md-4 col-sm-6 col-xs-12">
          <div class="product-thumb">
            <div class="image" id="image-27825"><a href="https://rekords.net/index.php?route=product/product&amp;product_id=27825"><img src="https://rekords.net/image/cache/data/27825-228x228.jpg" alt="John Leach - Zithers And Cimbalom, LP" title="John Leach - Zithers And Cimbalom, LP" class="img-responsive"></a></div>
            <div>
              <div class="caption">
                <h4><a href="https://rekords.net/index.php?route=product/product&amp;product_id=27825">John Leach - Zithers And Cimbalom, LP</a></h4>
                <p></p>
		    								<p>Catalog#: DWS/LP 3444</p>
												<p>Press: UK</p>
												<p>Year: 1980</p>
												<p>Condition: VG+/VG+</p>
				                                <p class="price">                   DKK80.00
                                                   </p></div>
              <div class="button-group">
                <button type="button" id="button-cart-27825" onclick="cart.add('27825', '1');"><i class="fa fa-shopping-cart"></i> <span class="hidden-xs hidden-sm hidden-md">Add to Cart</span></button>
              </div>
            </div> 
 </div>
        </div>
                <div class="product-layout product-grid col-lg-4 col-md-4 col-sm-6 col-xs-12">
          <div class="product-thumb">
            <div class="image" id="image-27832"><a href="https://rekords.net/index.php?route=product/product&amp;product_id=27832"><img src="https://rekords.net/image/cache/data/27832-228x228.jpg" alt="Keith Papworth - Scallywag, LP" title="Keith Papworth - Scallywag, LP" class="img-responsive"></a></div>
            <div>
              <div class="caption">
                <h4><a href="https://rekords.net/index.php?route=product/product&amp;product_id=27832">Keith Papworth - Scallywag, LP</a></h4>
                <p></p>
		    								<p>Catalog#: DWS/LP 3551</p>
												<p>Press: UK</p>
												<p>Year: 1985</p>
												<p>Condition: NM/NM</p>
				                                <p class="price">                   DKK40.00
                                                   </p></div>
              <div class="button-group">
                <button type="button" id="button-cart-27832" onclick="cart.add('27832', '1');"><i class="fa fa-shopping-cart"></i> <span class="hidden-xs hidden-sm hidden-md">Add to Cart</span></button>
              </div>
            </div> 
 </div>
        </div>
                <div class="product-layout product-grid col-lg-4 col-md-4 col-sm-6 col-xs-12">
          <div class="product-thumb">
            <div class="image" id="image-28407"><a href="https://rekords.net/index.php?route=product/product&amp;product_id=28407"><img src="https://rekords.net/image/cache/data/28407-228x228.jpg" alt="Leon Berger, John Cooke, Phil Moore - Sports Themes, LP" title="Leon Berger, John Cooke, Phil Moore - Sports Themes, LP" class="img-responsive"></a></div>
            <div>
              <div class="caption">
                <h4><a href="https://rekords.net/index.php?route=product/product&amp;product_id=28407">Leon Berger, John Cooke, Phil Moore - Sports Themes, LP</a></h4>
                <p></p>
		    								<p>Catalog#: SBH 3096</p>
												<p>Press: UK</p>
												<p>Year: 1985</p>
												<p>Condition: EX/VG+</p>
				                                <p class="price">                   DKK60.00
                                                   </p></div>
              <div class="button-group">
                <button type="button" id="button-cart-28407" onclick="cart.add('28407', '1');"><i class="fa fa-shopping-cart"></i> <span class="hidden-xs hidden-sm hidden-md">Add to Cart</span></button>
              </div>
            </div> 
 </div>
        </div>
                <div class="product-layout product-grid col-lg-4 col-md-4 col-sm-6 col-xs-12">
          <div class="product-thumb">
            <div class="image" id="image-28408"><a href="https://rekords.net/index.php?route=product/product&amp;product_id=28408"><img src="https://rekords.net/image/cache/data/28408-228x228.jpg" alt="Louis De La Cour - Rythmes, LP" title="Louis De La Cour - Rythmes, LP" class="img-responsive"></a></div>
            <div>
              <div class="caption">
                <h4><a href="https://rekords.net/index.php?route=product/product&amp;product_id=28408">Louis De La Cour - Rythmes, LP</a></h4>
                <p></p>
		    								<p>Catalog#: MP 03</p>
												<p>Press: France</p>
																<p>Condition: EX/VG+</p>
				                                <p class="price">                   DKK150.00
                                                   </p></div>
              <div class="button-group">
                <button type="button" id="button-cart-28408" onclick="cart.add('28408', '1');"><i class="fa fa-shopping-cart"></i> <span class="hidden-xs hidden-sm hidden-md">Add to Cart</span></button>
              </div>
            </div> 
 </div>
        </div>
                <div class="product-layout product-grid col-lg-4 col-md-4 col-sm-6 col-xs-12">
          <div class="product-thumb">
            <div class="image" id="image-33751"><a href="https://rekords.net/index.php?route=product/product&amp;product_id=33751"><img src="https://rekords.net/image/cache/data/33751-228x228.jpg" alt="Mario Molino - Mario Molino 2, LP" title="Mario Molino - Mario Molino 2, LP" class="img-responsive"></a></div>
            <div>
              <div class="caption">
                <h4><a href="https://rekords.net/index.php?route=product/product&amp;product_id=33751">Mario Molino - Mario Molino 2, LP</a></h4>
                <p>TV station sticker on front and back of sleeve. Sticker on labels.</p>
		    								<p>Catalog#: CmL 051</p>
												<p>Press: Italy</p>
												<p>Year: 1974</p>
												<p>Condition: VG+/VG</p>
				                                <p class="price">                   DKK200.00
                                                   </p></div>
              <div class="button-group">
                <button type="button" id="button-cart-33751" onclick="cart.add('33751', '1');"><i class="fa fa-shopping-cart"></i> <span class="hidden-xs hidden-sm hidden-md">Add to Cart</span></button>
              </div>
            </div> 
 </div>
        </div>
                <div class="product-layout product-grid col-lg-4 col-md-4 col-sm-6 col-xs-12">
          <div class="product-thumb">
            <div class="image" id="image-33725"><a href="https://rekords.net/index.php?route=product/product&amp;product_id=33725"><img src="https://rekords.net/image/cache/data/33725-228x228.jpg" alt="Ole Jensen And His Music - Chappell Recorded Music, LP" title="Ole Jensen And His Music - Chappell Recorded Music, LP" class="img-responsive"></a></div>
            <div>
              <div class="caption">
                <h4><a href="https://rekords.net/index.php?route=product/product&amp;product_id=33725">Ole Jensen And His Music - Chappell Recorded Music, LP</a></h4>
                <p>TV station sticker on front and back of sleeve. Sticker on labels.</p>
		    								<p>Catalog#: LPC 1044</p>
												<p>Press: UK</p>
												<p>Year: 1971</p>
												<p>Condition: VG+/VG</p>
				                                <p class="price">                   DKK500.00
                                                   </p></div>
              <div class="button-group">
                <button type="button" id="button-cart-33725" onclick="cart.add('33725', '1');"><i class="fa fa-shopping-cart"></i> <span class="hidden-xs hidden-sm hidden-md">Add to Cart</span></button>
              </div>
            </div> 
 </div>
        </div>
                <div class="product-layout product-grid col-lg-4 col-md-4 col-sm-6 col-xs-12">
          <div class="product-thumb">
            <div class="image" id="image-33727"><a href="https://rekords.net/index.php?route=product/product&amp;product_id=33727"><img src="https://rekords.net/image/cache/data/33727-228x228.jpg" alt="Ole Jensen And His Music - Chappell Recorded Music, LP" title="Ole Jensen And His Music - Chappell Recorded Music, LP" class="img-responsive"></a></div>
            <div>
              <div class="caption">
                <h4><a href="https://rekords.net/index.php?route=product/product&amp;product_id=33727">Ole Jensen And His Music - Chappell Recorded Music, LP</a></h4>
                <p>TV station sticker on front and back of sleeve. Sticker on labels.</p>
		    								<p>Catalog#: LPC 1041</p>
												<p>Press: UK</p>
												<p>Year: 1971</p>
												<p>Condition: EX/VG</p>
				                                <p class="price">                   DKK150.00
                                                   </p></div>
              <div class="button-group">
                <button type="button" id="button-cart-33727" onclick="cart.add('33727', '1');"><i class="fa fa-shopping-cart"></i> <span class="hidden-xs hidden-sm hidden-md">Add to Cart</span></button>
              </div>
            </div> 
 </div>
        </div>
         </div>
      <div class="row">
        <div class="col-sm-6 text-left"><ul class="pagination"><li class="active"><span>1</span></li><li><a href="https://rekords.net/index.php?route=product/category&amp;path=396_323_473&amp;page=2">2</a></li><li><a href="https://rekords.net/index.php?route=product/category&amp;path=396_323_473&amp;page=3">3</a></li><li><a href="https://rekords.net/index.php?route=product/category&amp;path=396_323_473&amp;page=2">&gt;</a></li><li><a href="https://rekords.net/index.php?route=product/category&amp;path=396_323_473&amp;page=3">&gt;|</a></li></ul></div>
        <div class="col-sm-6 text-right">Showing 1 to 15 of 36 (3 Pages)</div>
      </div>
                  </div>
    </div>
</div>