$def with (urlapp)

$var urlapp: $urlapp

<div id="product-category" class="container">
  <ul class="breadcrumb">
        <li><a href="https://rekords.net/"><i class="fa fa-home"></i></a></li>
        <li><a href="https://rekords.net/index.php?route=product/category&amp;path=396">Vinyl</a></li>
        <li><a href="https://rekords.net/index.php?route=product/category&amp;path=396_323">Used Vinyl</a></li>
        <li><a href="https://rekords.net/index.php?route=product/category&amp;path=396_323_483">Swedish &amp; Norwegian Hip Hop</a></li>
      </ul>
  <div class="row"><aside id="column-left" class="col-sm-3 hidden-xs">
    <div class="list-group">
     
  <a href="https://rekords.net/index.php?route=product/category&amp;path=396" class="list-group-item active">Vinyl</a> 
       
  <a href="https://rekords.net/index.php?route=product/category&amp;path=396_325" class="list-group-item">&nbsp;&nbsp;&nbsp;- New Vinyl</a>
        <a href="https://rekords.net/index.php?route=product/category&amp;path=396_323" class="list-group-item active">&nbsp;&nbsp;&nbsp;- Used Vinyl</a> 
             <a href="https://rekords.net/index.php?route=product/category&amp;path=395" class="list-group-item">Tapes</a>
       <a href="https://rekords.net/index.php?route=product/category&amp;path=155" class="list-group-item">CD &amp; DVD</a>
       <a href="https://rekords.net/index.php?route=product/category&amp;path=442" class="list-group-item">Merch &amp; Clothing</a>
    </div>

    <div class="swiper-viewport">
  <div id="banner0" class="swiper-container swiper-container-horizontal swiper-container-fade">
    <div class="swiper-wrapper"></div>
  </div>
</div> </aside>

                <div id="content" class="col-sm-9">
      <h2>Swedish &amp; Norwegian Hip Hop</h2>
                        <div class="row">
        <div class="col-md-2 col-sm-6 hidden-xs">
          <div class="btn-group btn-group-sm">
            <button type="button" id="list-view" class="btn btn-default" data-toggle="tooltip" title="" data-original-title="List"><i class="fa fa-th-list"></i></button>
            <button type="button" id="grid-view" class="btn btn-default active" data-toggle="tooltip" title="" data-original-title="Grid"><i class="fa fa-th"></i></button>
          </div>
        </div>
        <div class="col-md-3 col-sm-6">
        </div>
        <div class="col-md-4 col-xs-6">
          <div class="form-group input-group input-group-sm">
            <label class="input-group-addon" for="input-sort">Sort By:</label>
            <select id="input-sort" class="form-control" onchange="location = this.value;">
              
              
              
                                          
              
              
              <option value="https://rekords.net/index.php?route=product/category&amp;path=396_323_483&amp;sort=p.sort_order&amp;order=ASC" selected="selected">Default</option>
              
              
              
                                                        
              
              
              <option value="https://rekords.net/index.php?route=product/category&amp;path=396_323_483&amp;sort=pd.name&amp;order=ASC">Name (A - Z)</option>
              
              
              
                                                        
              
              
              <option value="https://rekords.net/index.php?route=product/category&amp;path=396_323_483&amp;sort=pd.name&amp;order=DESC">Name (Z - A)</option>
              
              
              
                                                        
              
              
              <option value="https://rekords.net/index.php?route=product/category&amp;path=396_323_483&amp;sort=p.price&amp;order=ASC">Price (Low &gt; High)</option>
              
              
              
                                                        
              
              
              <option value="https://rekords.net/index.php?route=product/category&amp;path=396_323_483&amp;sort=p.price&amp;order=DESC">Price (High &gt; Low)</option>
              
              
              
                                                        
              
              
              <option value="https://rekords.net/index.php?route=product/category&amp;path=396_323_483&amp;sort=rating&amp;order=DESC">Rating (Highest)</option>
              
              
              
                                                        
              
              
              <option value="https://rekords.net/index.php?route=product/category&amp;path=396_323_483&amp;sort=rating&amp;order=ASC">Rating (Lowest)</option>
              
              
              
                                                        
              
              
              <option value="https://rekords.net/index.php?route=product/category&amp;path=396_323_483&amp;sort=p.model&amp;order=ASC">Model (A - Z)</option>
              
              
              
                                                        
              
              
              <option value="https://rekords.net/index.php?route=product/category&amp;path=396_323_483&amp;sort=p.model&amp;order=DESC">Model (Z - A)</option>
              
              
              
                                        
            
            
            </select>
          </div>
        </div>
        <div class="col-md-3 col-xs-6">
          <div class="form-group input-group input-group-sm">
            <label class="input-group-addon" for="input-limit">Show:</label>
            <select id="input-limit" class="form-control" onchange="location = this.value;">
              
              
              
                                          
              
              
              <option value="https://rekords.net/index.php?route=product/category&amp;path=396_323_483&amp;limit=15" selected="selected">15</option>
              
              
              
                                                        
              
              
              <option value="https://rekords.net/index.php?route=product/category&amp;path=396_323_483&amp;limit=25">25</option>
              
              
              
                                                        
              
              
              <option value="https://rekords.net/index.php?route=product/category&amp;path=396_323_483&amp;limit=50">50</option>
              
              
              
                                                        
              
              
              <option value="https://rekords.net/index.php?route=product/category&amp;path=396_323_483&amp;limit=75">75</option>
              
              
              
                                                        
              
              
              <option value="https://rekords.net/index.php?route=product/category&amp;path=396_323_483&amp;limit=100">100</option>
              
              
              
                                        
            
            
            </select>
          </div>
        </div>
      </div>
      <div class="row">         <div class="product-layout product-grid col-lg-4 col-md-4 col-sm-6 col-xs-12">
          <div class="product-thumb">
            <div class="image" id="image-27629"><a href="https://rekords.net/index.php?route=product/product&amp;product_id=27629"><img src="https://rekords.net/image/cache/data/27629-228x228.jpg" alt="Advance Patrol - Para Ti / Rock &amp; Juan, 12&quot;" title="Advance Patrol - Para Ti / Rock &amp; Juan, 12&quot;" class="img-responsive"></a></div>
            <div>
              <div class="caption">
                <h4><a href="https://rekords.net/index.php?route=product/product&amp;product_id=27629">Advance Patrol - Para Ti / Rock &amp; Juan, 12"</a></h4>
                <p>
</p>
		    								<p>Catalog#: PGMT23</p>
												<p>Press: Sweden</p>
												<p>Year: 2002</p>
												<p>Condition: VG+/VG+</p>
				                                <p class="price">                   DKK40.00
                                                   </p></div>
              <div class="button-group">
                <button type="button" id="button-cart-27629" onclick="cart.add('27629', '1');"><i class="fa fa-shopping-cart"></i> <span class="hidden-xs hidden-sm hidden-md">Add to Cart</span></button>
              </div>
            </div> 
 </div>
        </div>
                <div class="product-layout product-grid col-lg-4 col-md-4 col-sm-6 col-xs-12">
          <div class="product-thumb">
            <div class="image" id="image-28182"><a href="https://rekords.net/index.php?route=product/product&amp;product_id=28182"><img src="https://rekords.net/image/cache/data/28182-228x228.jpg" alt="Bashie - From The Smoke 2000, LP, EP" title="Bashie - From The Smoke 2000, LP, EP" class="img-responsive"></a></div>
            <div>
              <div class="caption">
                <h4><a href="https://rekords.net/index.php?route=product/product&amp;product_id=28182">Bashie - From The Smoke 2000, LP, EP</a></h4>
                <p>
</p>
		    								<p>Catalog#: none</p>
												<p>Press: Sweden</p>
												<p>Year: 2000</p>
												<p>Condition: EX/Generic</p>
				                                <p class="price">                   DKK200.00
                                                   </p></div>
              <div class="button-group">
                <button type="button" id="button-cart-28182" onclick="cart.add('28182', '1');"><i class="fa fa-shopping-cart"></i> <span class="hidden-xs hidden-sm hidden-md">Add to Cart</span></button>
              </div>
            </div> 
 </div>
        </div>
                <div class="product-layout product-grid col-lg-4 col-md-4 col-sm-6 col-xs-12">
          <div class="product-thumb">
            <div class="image" id="image-31296"><a href="https://rekords.net/index.php?route=product/product&amp;product_id=31296"><img src="https://rekords.net/image/cache/data/31296-228x228.jpg" alt="Chords - Wrap Your Chops / Slap Your Pops, 12&quot;" title="Chords - Wrap Your Chops / Slap Your Pops, 12&quot;" class="img-responsive"></a></div>
            <div>
              <div class="caption">
                <h4><a href="https://rekords.net/index.php?route=product/product&amp;product_id=31296">Chords - Wrap Your Chops / Slap Your Pops, 12"</a></h4>
                <p> Tracklist A1: Wrap Your Chops (Vocal)  A2: Wrap Your Chops (Instrumental)  A3: Wrap Your Chops (A Cappella)  B1: Slap Your Pops Rap - Timbuktu Vocals - Miki,  Zoro  B2: Slap Your Pops (Instrumental)  B3: Slap Your Pops (Accapella) </p>
		    								<p>Catalog#: JUJUMS033</p>
												<p>Press: Sweden</p>
												<p>Year: 2003</p>
												<p>Condition: VG+/VG+</p>
				                                <p class="price">                   DKK50.00
                                                   </p></div>
              <div class="button-group">
                <button type="button" id="button-cart-31296" onclick="cart.add('31296', '1');"><i class="fa fa-shopping-cart"></i> <span class="hidden-xs hidden-sm hidden-md">Add to Cart</span></button>
              </div>
            </div> 
 </div>
        </div>
                <div class="product-layout product-grid col-lg-4 col-md-4 col-sm-6 col-xs-12">
          <div class="product-thumb">
            <div class="image" id="image-29787"><a href="https://rekords.net/index.php?route=product/product&amp;product_id=29787"><img src="https://rekords.net/image/cache/data/29787-228x228.jpg" alt="Feven - Jag Kom, Jag Såg, 12&quot;, Promo" title="Feven - Jag Kom, Jag Såg, 12&quot;, Promo" class="img-responsive"></a></div>
            <div>
              <div class="caption">
                <h4><a href="https://rekords.net/index.php?route=product/product&amp;product_id=29787">Feven - Jag Kom, Jag Såg, 12", Promo</a></h4>
                <p> Tracklist A1: Jag Kom, Jag Såg  A2: Jag Kom, Jag Såg  B1: Untitled  B2: Untitled </p>
		    								<p>Catalog#: BMG PROM 94</p>
												<p>Press: Sweden</p>
												<p>Year: 2000</p>
												<p>Condition: VG+/VG+</p>
				                                <p class="price">                   DKK40.00
                                                   </p></div>
              <div class="button-group">
                <button type="button" id="button-cart-29787" onclick="cart.add('29787', '1');"><i class="fa fa-shopping-cart"></i> <span class="hidden-xs hidden-sm hidden-md">Add to Cart</span></button>
              </div>
            </div> 
 </div>
        </div>
                <div class="product-layout product-grid col-lg-4 col-md-4 col-sm-6 col-xs-12">
          <div class="product-thumb">
            <div class="image" id="image-33139"><a href="https://rekords.net/index.php?route=product/product&amp;product_id=33139"><img src="https://rekords.net/image/cache/data/33139-228x228.jpg" alt="Feven - Vill Ha / It's Only Love, 12&quot;" title="Feven - Vill Ha / It's Only Love, 12&quot;" class="img-responsive"></a></div>
            <div>
              <div class="caption">
                <h4><a href="https://rekords.net/index.php?route=product/product&amp;product_id=33139">Feven - Vill Ha / It's Only Love, 12"</a></h4>
                <p></p>
		    								<p>Catalog#: 74321 841631</p>
												<p>Press: Sweden</p>
												<p>Year: 2001</p>
												<p>Condition: EX/VG+ </p>
				                                <p class="price">                   DKK50.00
                                                   </p></div>
              <div class="button-group">
                <button type="button" id="button-cart-33139" onclick="cart.add('33139', '1');"><i class="fa fa-shopping-cart"></i> <span class="hidden-xs hidden-sm hidden-md">Add to Cart</span></button>
              </div>
            </div> 
 </div>
        </div>
                <div class="product-layout product-grid col-lg-4 col-md-4 col-sm-6 col-xs-12">
          <div class="product-thumb">
            <div class="image" id="image-29523"><a href="https://rekords.net/index.php?route=product/product&amp;product_id=29523"><img src="https://rekords.net/image/cache/data/29523-228x228.jpg" alt="Follow Him To The End Of The Desert - The Martial Law Stories, 12&quot;, EP" title="Follow Him To The End Of The Desert - The Martial Law Stories, 12&quot;, EP" class="img-responsive"></a></div>
            <div>
              <div class="caption">
                <h4><a href="https://rekords.net/index.php?route=product/product&amp;product_id=29523">Follow Him To The End Of The Desert - The Martial Law Stories, 12", EP</a></h4>
                <p> Tracklist : CDR  1: The Journey Featuring - Henry Bowers  2: Animal Liberation  3: Out Of Office  : Vinyl  A1: The Journey Featuring - Henry Bowers  A2: Animal Liberation  A3: Our Of Office  A4: Hidden Track  B1: The Journey (Instrumental)  B2: Animal Liberation (Instrumental)  B3: Our Of Office (Acapella) </p>
		    								<p>Catalog#: CTPLTS 003</p>
												<p>Press: Sweden</p>
												<p>Year: 2008</p>
												<p>Condition: VG+/VG+</p>
				                                <p class="price">                   DKK50.00
                                                   </p></div>
              <div class="button-group">
                <button type="button" id="button-cart-29523" onclick="cart.add('29523', '1');"><i class="fa fa-shopping-cart"></i> <span class="hidden-xs hidden-sm hidden-md">Add to Cart</span></button>
              </div>
            </div> 
 </div>
        </div>
                <div class="product-layout product-grid col-lg-4 col-md-4 col-sm-6 col-xs-12">
          <div class="product-thumb">
            <div class="image" id="image-17606"><a href="https://rekords.net/index.php?route=product/product&amp;product_id=17606"><img src="https://rekords.net/image/cache/data/17606-228x228.jpg" alt="Freddie Cruger - Just Chillin' In The Spot, 12&quot;, 33 ⅓ RPM, Album" title="Freddie Cruger - Just Chillin' In The Spot, 12&quot;, 33 ⅓ RPM, Album" class="img-responsive"></a></div>
            <div>
              <div class="caption">
                <h4><a href="https://rekords.net/index.php?route=product/product&amp;product_id=17606">Freddie Cruger - Just Chillin' In The Spot, 12", 33 ⅓ RPM, Album</a></h4>
                <p>Light scuffs on record, writing on side b label.
</p>
		    								<p>Catalog#: HGLP002</p>
												<p>Press: Sweden</p>
												<p>Year: 2008</p>
												<p>Condition: Used: VG+/Ge</p>
				                                <p class="price">  <span class="price-new">DKK60.00</span> <span class="price-old">DKK80.00</span>                                  </p></div>
              <div class="button-group">
                <button type="button" id="button-cart-17606" onclick="cart.add('17606', '1');"><i class="fa fa-shopping-cart"></i> <span class="hidden-xs hidden-sm hidden-md">Add to Cart</span></button>
              </div>
            </div> 
 </div>
        </div>
                <div class="product-layout product-grid col-lg-4 col-md-4 col-sm-6 col-xs-12">
          <div class="product-thumb">
            <div class="image" id="image-29522"><a href="https://rekords.net/index.php?route=product/product&amp;product_id=29522"><img src="https://rekords.net/image/cache/data/29522-228x228.jpg" alt="Goldmine - Natural, 12&quot;" title="Goldmine - Natural, 12&quot;" class="img-responsive"></a></div>
            <div>
              <div class="caption">
                <h4><a href="https://rekords.net/index.php?route=product/product&amp;product_id=29522">Goldmine - Natural, 12"</a></h4>
                <p> Tracklist A1: Natural (Radio Version)  A2: Natural (Mo Remix) Remix - Vladi C.  B1: Natural (Lésense Remix) Remix - Vladi C.  B2: Natural (Bubble Remix) Remix - Joakim Styrén </p>
		    								<p>Catalog#: RT2008</p>
												<p>Press: Sweden</p>
												<p>Year: 1996</p>
												<p>Condition: VG+/VG</p>
				                                <p class="price">                   DKK100.00
                                                   </p></div>
              <div class="button-group">
                <button type="button" id="button-cart-29522" onclick="cart.add('29522', '1');"><i class="fa fa-shopping-cart"></i> <span class="hidden-xs hidden-sm hidden-md">Add to Cart</span></button>
              </div>
            </div> 
 </div>
        </div>
                <div class="product-layout product-grid col-lg-4 col-md-4 col-sm-6 col-xs-12">
          <div class="product-thumb">
            <div class="image" id="image-18851"><a href="https://rekords.net/index.php?route=product/product&amp;product_id=18851"><img src="https://rekords.net/image/cache/data/18851-228x228.jpg" alt="Just D - Grannar, 7&quot;, 45 RPM" title="Just D - Grannar, 7&quot;, 45 RPM" class="img-responsive"></a></div>
            <div>
              <div class="caption">
                <h4><a href="https://rekords.net/index.php?route=product/product&amp;product_id=18851">Just D - Grannar, 7", 45 RPM</a></h4>
                <p>
</p>
		    								<p>Catalog#: T-36</p>
												<p>Press: Sweden</p>
												<p>Year: 1992</p>
												<p>Condition: Used: VG+/EX</p>
				                                <p class="price">                   DKK30.00
                                                   </p></div>
              <div class="button-group">
                <button type="button" id="button-cart-18851" onclick="cart.add('18851', '1');"><i class="fa fa-shopping-cart"></i> <span class="hidden-xs hidden-sm hidden-md">Add to Cart</span></button>
              </div>
            </div> 
 </div>
        </div>
                <div class="product-layout product-grid col-lg-4 col-md-4 col-sm-6 col-xs-12">
          <div class="product-thumb">
            <div class="image" id="image-17612"><a href="https://rekords.net/index.php?route=product/product&amp;product_id=17612"><img src="https://rekords.net/image/cache/data/17612-228x228.jpg" alt="Kashal-Tee - Emasculation, 12&quot;, Single, 33 ⅓ RPM, Repress, Limited Edition" title="Kashal-Tee - Emasculation, 12&quot;, Single, 33 ⅓ RPM, Repress, Limited Edition" class="img-responsive"></a></div>
            <div>
              <div class="caption">
                <h4><a href="https://rekords.net/index.php?route=product/product&amp;product_id=17612">Kashal-Tee - Emasculation, 12", Single, 33 ⅓ RPM, Repress, Limited Edition</a></h4>
                <p>Rare pressing on clear vinyl! Only 150 copes were made.
</p>
		    								<p>Catalog#: BOMBDK-3002</p>
												<p>Press: Denmark</p>
												<p>Year: 2000</p>
												<p>Condition: Used: NM/VG+</p>
				                                <p class="price">  <span class="price-new">DKK150.00</span> <span class="price-old">DKK200.00</span>                                  </p></div>
              <div class="button-group">
                <button type="button" id="button-cart-17612" onclick="cart.add('17612', '1');"><i class="fa fa-shopping-cart"></i> <span class="hidden-xs hidden-sm hidden-md">Add to Cart</span></button>
              </div>
            </div> 
 </div>
        </div>
                <div class="product-layout product-grid col-lg-4 col-md-4 col-sm-6 col-xs-12">
          <div class="product-thumb">
            <div class="image" id="image-32301"><a href="https://rekords.net/index.php?route=product/product&amp;product_id=32301"><img src="https://rekords.net/image/cache/data/32301-228x228.jpg" alt="Looptroop - Heads Or Tails EP, 12&quot;, EP" title="Looptroop - Heads Or Tails EP, 12&quot;, EP" class="img-responsive"></a></div>
            <div>
              <div class="caption">
                <h4><a href="https://rekords.net/index.php?route=product/product&amp;product_id=32301">Looptroop - Heads Or Tails EP, 12", EP</a></h4>
                <p>Without bonus instrumental 12”</p>
		    								<p>Catalog#: DVSG003</p>
												<p>Press: Sweden</p>
												<p>Year: 1998</p>
												<p>Condition: VG/VG</p>
				                                <p class="price">                   DKK150.00
                                                   </p></div>
              <div class="button-group">
                <button type="button" id="button-cart-32301" onclick="cart.add('32301', '1');"><i class="fa fa-shopping-cart"></i> <span class="hidden-xs hidden-sm hidden-md">Add to Cart</span></button>
              </div>
            </div> 
 </div>
        </div>
                <div class="product-layout product-grid col-lg-4 col-md-4 col-sm-6 col-xs-12">
          <div class="product-thumb">
            <div class="image" id="image-32234"><a href="https://rekords.net/index.php?route=product/product&amp;product_id=32234"><img src="https://rekords.net/image/cache/data/32234-228x228.jpg" alt="Looptroop - Looptroopland / Heads Day Off, 12&quot;" title="Looptroop - Looptroopland / Heads Day Off, 12&quot;" class="img-responsive"></a></div>
            <div>
              <div class="caption">
                <h4><a href="https://rekords.net/index.php?route=product/product&amp;product_id=32234">Looptroop - Looptroopland / Heads Day Off, 12"</a></h4>
                <p>Still in shrinkwrap.</p>
		    								<p>Catalog#: DVSG021</p>
												<p>Press: Sweden</p>
												<p>Year: 2002</p>
												<p>Condition: VG+/NM</p>
				                                <p class="price">                   DKK80.00
                                                   </p></div>
              <div class="button-group">
                <button type="button" id="button-cart-32234" onclick="cart.add('32234', '1');"><i class="fa fa-shopping-cart"></i> <span class="hidden-xs hidden-sm hidden-md">Add to Cart</span></button>
              </div>
            </div> 
 </div>
        </div>
                <div class="product-layout product-grid col-lg-4 col-md-4 col-sm-6 col-xs-12">
          <div class="product-thumb">
            <div class="image" id="image-32281"><a href="https://rekords.net/index.php?route=product/product&amp;product_id=32281"><img src="https://rekords.net/image/cache/data/32281-228x228.jpg" alt="Looptroop - The Struggle Continues Instrumentals, 2xLP" title="Looptroop - The Struggle Continues Instrumentals, 2xLP" class="img-responsive"></a></div>
            <div>
              <div class="caption">
                <h4><a href="https://rekords.net/index.php?route=product/product&amp;product_id=32281">Looptroop - The Struggle Continues Instrumentals, 2xLP</a></h4>
                <p></p>
		    								<p>Catalog#: DVSG.024</p>
												<p>Press: Sweden</p>
												<p>Year: 2002</p>
												<p>Condition: EX/Generic</p>
				                                <p class="price">                   DKK300.00
                                                   </p></div>
              <div class="button-group">
                <button type="button" id="button-cart-32281" onclick="cart.add('32281', '1');"><i class="fa fa-shopping-cart"></i> <span class="hidden-xs hidden-sm hidden-md">Add to Cart</span></button>
              </div>
            </div> 
 </div>
        </div>
                <div class="product-layout product-grid col-lg-4 col-md-4 col-sm-6 col-xs-12">
          <div class="product-thumb">
            <div class="image" id="image-4817"><a href="https://rekords.net/index.php?route=product/product&amp;product_id=4817"><img src="https://rekords.net/image/cache/data/4817-228x228.jpeg" alt="Looptroop / Spoonhead &amp; Kekke Kulcha - Schlook From Birth, 12&quot;, EP" title="Looptroop / Spoonhead &amp; Kekke Kulcha - Schlook From Birth, 12&quot;, EP" class="img-responsive"></a></div>
            <div>
              <div class="caption">
                <h4><a href="https://rekords.net/index.php?route=product/product&amp;product_id=4817">Looptroop / Spoonhead &amp; Kekke Kulcha - Schlook From Birth, 12", EP</a></h4>
                <p>The labelsticker on side A has some airbubbles under the sticker making it "bubbly". Not affecting the record, photo can be sent on request. The glue on the sleeve has started to loosen up a bit.
</p>
		    								<p>Catalog#: DVSG 005</p>
												<p>Press: SE</p>
												<p>Year: 1998</p>
												<p>Condition: Used: VG+/VG</p>
				                                <p class="price">  <span class="price-new">DKK150.00</span> <span class="price-old">DKK300.00</span>                                  </p></div>
              <div class="button-group">
                <button type="button" id="button-cart-4817" onclick="cart.add('4817', '1');"><i class="fa fa-shopping-cart"></i> <span class="hidden-xs hidden-sm hidden-md">Add to Cart</span></button>
              </div>
            </div> 
 </div>
        </div>
                <div class="product-layout product-grid col-lg-4 col-md-4 col-sm-6 col-xs-12">
          <div class="product-thumb">
            <div class="image" id="image-29079"><a href="https://rekords.net/index.php?route=product/product&amp;product_id=29079"><img src="https://rekords.net/image/cache/data/29079-228x228.jpg" alt="Mics Of Fury - The M.O.F Blend, LP" title="Mics Of Fury - The M.O.F Blend, LP" class="img-responsive"></a></div>
            <div>
              <div class="caption">
                <h4><a href="https://rekords.net/index.php?route=product/product&amp;product_id=29079">Mics Of Fury - The M.O.F Blend, LP</a></h4>
                <p> Tracklist A1: M.O.F Blend Featuring - P.S The Marginal Error Producer - Rusty James  A2: Slated To Be The Best Featuring - Gubb,  Leo Producer - Kristus  A3: Sesame Beat Street Featuring - DJ 4 Star Producer - Rusty James  B1: Comin' Of With Authority Producer - Kristus  B2: Arcade Avengers Featuring - Aegiz,  DJ 4 Star Producer - Rusty James  B3: Sitcom Producer - Rusty James  B4: Summervibes Part II Featuring - J.A.M Producer - Rusty James </p>
		    								<p>Catalog#: BLENDA005</p>
												<p>Press: Sweden</p>
												<p>Year: 2002</p>
												<p>Condition: NM/NM</p>
				                                <p class="price">                   DKK60.00
                                                   </p></div>
              <div class="button-group">
                <button type="button" id="button-cart-29079" onclick="cart.add('29079', '1');"><i class="fa fa-shopping-cart"></i> <span class="hidden-xs hidden-sm hidden-md">Add to Cart</span></button>
              </div>
            </div> 
 </div>
        </div>
         </div>
      <div class="row">
        <div class="col-sm-6 text-left"><ul class="pagination"><li class="active"><span>1</span></li><li><a href="https://rekords.net/index.php?route=product/category&amp;path=396_323_483&amp;page=2">2</a></li><li><a href="https://rekords.net/index.php?route=product/category&amp;path=396_323_483&amp;page=2">&gt;</a></li><li><a href="https://rekords.net/index.php?route=product/category&amp;path=396_323_483&amp;page=2">&gt;|</a></li></ul></div>
        <div class="col-sm-6 text-right">Showing 1 to 15 of 28 (2 Pages)</div>
      </div>
                  </div>
    </div>
</div>