$def with (urlapp)

$var urlapp: $urlapp

	<div id="product-category" class="container">
		<ul class="breadcrumb">
			<li><a href="https://rekords.net/"><i class="fa fa-home"></i></a></li>
			<li><a href="https://rekords.net/index.php?route=product/category&amp;path=396">Vinyl</a></li>
			<li><a href="https://rekords.net/index.php?route=product/category&amp;path=396_325">New Vinyl</a></li>
		</ul>
		<div class="row">
			<aside id="column-left" class="col-sm-3 hidden-xs">
				<div class="list-group">
		 
					<a href="https://rekords.net/index.php?route=product/category&amp;path=396" class="list-group-item active">Vinyl</a> 
					<a href="https://rekords.net/index.php?route=product/category&amp;path=396_325" class="list-group-item active">&nbsp;&nbsp;&nbsp;- New Vinyl</a> 
					<a href="https://rekords.net/index.php?route=product/category&amp;path=396_323" class="list-group-item">&nbsp;&nbsp;&nbsp;- Used Vinyl</a>
					<a href="https://rekords.net/index.php?route=product/category&amp;path=395" class="list-group-item">Tapes</a>
				   <a href="https://rekords.net/index.php?route=product/category&amp;path=155" class="list-group-item">CD &amp; DVD</a>
				   <a href="https://rekords.net/index.php?route=product/category&amp;path=442" class="list-group-item">Merch &amp; Clothing</a>
				</div>

				<div class="swiper-viewport">
					<div id="banner0" class="swiper-container swiper-container-horizontal swiper-container-fade">
						<div class="swiper-wrapper"></div>
					</div>	
				</div>
			</aside>

            <div id="content" class="col-sm-9">
				<h2>New Vinyl</h2>
                 <h3>Refine Search</h3>
				<div class="row">
					<div class="col-sm-3">
						<ul>
							<li><a href="$urlapp/newvinyl_dance_hiphop">Dansk Hip Hop</a></li>
							<li><a href="$urlapp/newninyl_funk_soul">Funk / Soul</a></li>
						</ul>
					</div>
					<div class="col-sm-3">
						<ul>
							<li><a href="$urlapp/newvinyl_hiphop">Hip Hop</a></li>
							<li><a href="$urlapp/newvinyl_jazz">Jazz</a></li>
                      </ul>
					</div>
					<div class="col-sm-3">
						<ul>
							<li><a href="$urlapp/newvinyl_reggae">Reggae</a></li>
							<li><a href="$urlapp/newvinyl_world">World &amp; Other</a></li>
						</ul>
					</div>
					<div class="col-sm-3">
						<ul>
							<li><a href="$urlapp/newvinyl_beats">Beats</a></li>
						</ul>
					</div>
				</div>
				<br>
				<div class="row">
					<div class="col-md-2 col-sm-6 hidden-xs">
						<div class="btn-group btn-group-sm">
							<button type="button" id="list-view" class="btn btn-default" data-toggle="tooltip" title="" data-original-title="List">
								<i class="fa fa-th-list"></i>
							</button>
							<button type="button" id="grid-view" class="btn btn-default active" data-toggle="tooltip" title="" data-original-title="Grid">
								<i class="fa fa-th"></i>
							</button>
						</div>
					</div>
					<div class="col-md-3 col-sm-6">
					</div>
					<div class="col-md-4 col-xs-6">
						<div class="form-group input-group input-group-sm">
							<label class="input-group-addon" for="input-sort">Sort By:</label>
							<select id="input-sort" class="form-control" onchange="location = this.value;">

								<option value="https://rekords.net/index.php?route=product/category&amp;path=396_325&amp;sort=p.sort_order&amp;order=ASC" selected="selected">Default</option>      
								<option value="https://rekords.net/index.php?route=product/category&amp;path=396_325&amp;sort=pd.name&amp;order=ASC">Name (A - Z)</option>
								<option value="https://rekords.net/index.php?route=product/category&amp;path=396_325&amp;sort=pd.name&amp;order=DESC">Name (Z - A)</option>
								<option value="https://rekords.net/index.php?route=product/category&amp;path=396_325&amp;sort=p.price&amp;order=ASC">Price (Low &gt; High)</option>              
								<option value="https://rekords.net/index.php?route=product/category&amp;path=396_325&amp;sort=p.price&amp;order=DESC">Price (High &gt; Low)</option>
								<option value="https://rekords.net/index.php?route=product/category&amp;path=396_325&amp;sort=rating&amp;order=DESC">Rating (Highest)</option>
								<option value="https://rekords.net/index.php?route=product/category&amp;path=396_325&amp;sort=rating&amp;order=ASC">Rating (Lowest)</option>              
								<option value="https://rekords.net/index.php?route=product/category&amp;path=396_325&amp;sort=p.model&amp;order=ASC">Model (A - Z)</option>
								<option value="https://rekords.net/index.php?route=product/category&amp;path=396_325&amp;sort=p.model&amp;order=DESC">Model (Z - A)</option>
							</select>
						</div>
					</div>
					<div class="col-md-3 col-xs-6">
						<div class="form-group input-group input-group-sm">
							<label class="input-group-addon" for="input-limit">Show:</label>
							<select id="input-limit" class="form-control" onchange="location = this.value;">
								<option value="https://rekords.net/index.php?route=product/category&amp;path=396_325&amp;limit=15" selected="selected">15</option>
								<option value="https://rekords.net/index.php?route=product/category&amp;path=396_325&amp;limit=25">25</option>
								<option value="https://rekords.net/index.php?route=product/category&amp;path=396_325&amp;limit=50">50</option>
								<option value="https://rekords.net/index.php?route=product/category&amp;path=396_325&amp;limit=75">75</option>
								<option value="https://rekords.net/index.php?route=product/category&amp;path=396_325&amp;limit=100">100</option>
							</select>
						</div>
					</div>
				</div>
				<div class="row"> 
					<div class="product-layout product-grid col-lg-4 col-md-4 col-sm-6 col-xs-12">
						<div class="product-thumb">
							<div class="image" id="image-33192">
							<a href="https://rekords.net/index.php?route=product/product&amp;product_id=33192">
								<img src="https://rekords.net/image/cache/data/33192-228x228.jpg" alt="2-Def - Str-8 Doin Tha Fool, 2xLP, Reissue" title="2-Def - Str-8 Doin Tha Fool, 2xLP, Reissue" class="img-responsive"></a><img style="position:absolute; top: 20px; left:20%; max-width: 60%; overflow:hidden;" src="https://rekords.net/image/catalog/widsoldout_228x110.png" class="img-responsive"></div>
								<div>
									<div class="caption">
										<h4>
											<a href="https://rekords.net/index.php?route=product/product&amp;product_id=33192">2-Def - Str-8 Doin Tha Fool, 2xLP, Reissue</a>
										</h4>
										<p>For the first time on vinyl, originally released in 1997. Limited to 175 copies.
										</p>
		    							<p>Catalog#: TVS004</p>
										<p>Press: UK &amp; Europe</p>
										<p>Year: 2020</p>
										<p>Condition: NEW</p>
				                        <p class="price">                   DKK300.00
                                        </p>
									</div>
									<div class="button-group">
										<button type="button" id="button-cart-33192" onclick="cart.add('33192', '1');" disabled="" style="background: rgb(98, 98, 98) url(&quot;&quot;) no-repeat scroll right top;">
											<i class="fa fa-shopping-cart"></i> 
											<span class="hidden-xs hidden-sm hidden-md">Sold Out</span>
										</button>
									</div>
								</div> 
							</div>
						</div>
						<div class="product-layout product-grid col-lg-4 col-md-4 col-sm-6 col-xs-12">
							<div class="product-thumb">
								<div class="image" id="image-30819">
									<a href="https://rekords.net/index.php?route=product/product&amp;product_id=30819">
										<img src="https://rekords.net/image/cache/data/30819-228x228.jpg" alt="2000F - Mennesker I, 12&quot;, EP" title="2000F - Mennesker I, 12&quot;, EP" class="img-responsive"></a></div>
								<div>
									<div class="caption">
										<h4>
											<a href="https://rekords.net/index.php?route=product/product&amp;product_id=30819">2000F - Mennesker I, 12", EP</a>
										</h4>
										<p>Flintøkse-hård fremtids-dub med ekkoer fra den før-kristne nordiske oldtid. Kompromisløs progressiv steppas dub i den såkaldte 'år 3000 stil' som nogle måske kender fra Iration Steppas og O.B.F. Peak-hour business!</p>
										<p>Catalog#: RASP010</p>
										<p>Press: Denmark</p>
										<p>Year: 2017</p>
										<p>Condition: NEW</p>
										<p class="price">                   DKK100.00
										</p>
									</div>
									<div class="button-group">
										<button type="button" id="button-cart-30819" onclick="cart.add('30819', '1');">
											<i class="fa fa-shopping-cart"></i>
											<span class="hidden-xs hidden-sm hidden-md">Add to Cart</span>
										</button>
									</div>
								</div> 
							</div>
						</div>
						<div class="product-layout product-grid col-lg-4 col-md-4 col-sm-6 col-xs-12">
							<div class="product-thumb">
								<div class="image" id="image-24412">
									<a href="https://rekords.net/index.php?route=product/product&amp;product_id=24412">
									<img src="https://rekords.net/image/cache/data/24412-228x228.jpg" alt="2Late - Waves, LP" title="2Late - Waves, LP" class="img-responsive"></a>
								</div>
								<div>
									<div class="caption">
										<h4>
											<a href="https://rekords.net/index.php?route=product/product&amp;product_id=24412">2Late - Waves, LP</a>
										</h4>
										<p>Debut solo album by very talented young producer from London 2LATE.</p>
		    							<p>Catalog#: HHV619</p>
										<p>Press: Europe</p>
										<p>Year: 2017</p>
										<p>Condition: NEW</p>
				                        <p class="price">                   DKK130.00
                                        </p>
									</div>
									<div class="button-group">
										<button type="button" id="button-cart-24412" onclick="cart.add('24412', '1');">
											<i class="fa fa-shopping-cart"></i>
											<span class="hidden-xs hidden-sm hidden-md">Add to Cart</span>
										</button>
									</div>		
								</div> 
							</div>	
						</div>
						<div class="product-layout product-grid col-lg-4 col-md-4 col-sm-6 col-xs-12">
							<div class="product-thumb">
								<div class="image" id="image-20959">
									<a href="https://rekords.net/index.php?route=product/product&amp;product_id=20959">
										<img src="https://rekords.net/image/cache/data/20959-228x228.jpg" alt="2Pac - 2Pacalypse Now, 2xLP, Reissue" title="2Pac - 2Pacalypse Now, 2xLP, Reissue" class="img-responsive"></a>
								</div>
								<div>
									<div class="caption">
										<h4>
											<a href="https://rekords.net/index.php?route=product/product&amp;product_id=20959">2Pac - 2Pacalypse Now, 2xLP, Reissue</a>
										</h4>
										<p>2Pac debut album from 1991 reissued on 2xLP 180 vinyl.</p>
		    							<p>Catalog#: 602527949857</p>
										<p>Press: Europe</p>
										<p>Year: 2017</p>
										<p>Condition: NEW</p>
				                        <p class="price">                   DKK240.00
                                        </p>
										</div>
										<div class="button-group">
											<button type="button" id="button-cart-20959" onclick="cart.add('20959', '1');">
												<i class="fa fa-shopping-cart"></i>
													<span class="hidden-xs hidden-sm hidden-md">Add to Cart</span>
											</button>
										</div>
								</div> 
							</div>
						</div>
						<div class="product-layout product-grid col-lg-4 col-md-4 col-sm-6 col-xs-12">
							<div class="product-thumb">
								<div class="image" id="image-32400">
									<a href="https://rekords.net/index.php?route=product/product&amp;product_id=32400">
										<img src="https://rekords.net/image/cache/data/32400-228x228.jpg" alt="2Pac - Me Against The World, 2xLP, Reissue" title="2Pac - Me Against The World, 2xLP, Reissue" class="img-responsive"></a>
								</div>
								<div>
									<div class="caption">
										<h4>
											<a href="https://rekords.net/index.php?route=product/product&amp;product_id=32400">2Pac - Me Against The World, 2xLP, Reissue</a>
										</h4>
										<p>Finally a reissue of this classic album by 2pac. Celebrating its 25th anniversary this year! Featuring Dear Mama, So Many Tears, Temptations and of course ”Old School” produced by Soulshock, Ezi Cut and Jay B!
										</p>
		    							<p>Catalog#: 602508448898</p>
										<p>Press: Europe</p>
										<p>Year: 2020</p>
										<p>Condition: NEW</p>
				                        <p class="price">                   DKK220.00
                                        </p>
									</div>
									<div class="button-group">
										<button type="button" id="button-cart-32400" onclick="cart.add('32400', '1');">
											<i class="fa fa-shopping-cart"></i> 
												<span class="hidden-xs hidden-sm hidden-md">Add to Cart</span>
										</button>
									</div>
								</div> 
							 </div>
						</div>
						<div class="product-layout product-grid col-lg-4 col-md-4 col-sm-6 col-xs-12">
							<div class="product-thumb">
								<div class="image" id="image-24580">
									<a href="https://rekords.net/index.php?route=product/product&amp;product_id=24580">
										<img src="https://rekords.net/image/cache/data/24580-228x228.jpg" alt="2Pac - Strictly 4 My N.I.G.G.A.Z..., 2xLP, Reissue" title="2Pac - Strictly 4 My N.I.G.G.A.Z..., 2xLP, Reissue" class="img-responsive"></a>
								</div>
								<div>
									<div class="caption">
										<h4>
											<a href="https://rekords.net/index.php?route=product/product&amp;product_id=24580">2Pac - Strictly 4 My N.I.G.G.A.Z..., 2xLP, Reissue</a>
										</h4>
										<p>25th Anniversary reissue of 2Pac’s second album. With ”Keep Ya Head Up”, ”I Get Around”, ”Holler If Ya Hear Me” and more.</p>
		    							<p>Catalog#: 602527950181</p>
										<p>Press: Europe</p>
										<p>Year: 2018</p>
										<p>Condition: NEW</p>
				                        <p class="price">                   DKK250.00
                                        </p>
									</div>
									<div class="button-group">
										<button type="button" id="button-cart-24580" onclick="cart.add('24580', '1');">
											<i class="fa fa-shopping-cart"></i> 
											<span class="hidden-xs hidden-sm hidden-md">Add to Cart</span>
										</button>
									</div>
								</div> 
							</div>
						</div>
						<div class="product-layout product-grid col-lg-4 col-md-4 col-sm-6 col-xs-12">
							<div class="product-thumb">
								<div class="image" id="image-32801">
									<a href="https://rekords.net/index.php?route=product/product&amp;product_id=32801">
										<img src="https://rekords.net/image/cache/data/32801-228x228.jpg" alt="38 Spesh - 5 Shots (Samples Of Raw), LP" title="38 Spesh - 5 Shots (Samples Of Raw), LP" class="img-responsive"></a><img style="position:absolute; top: 20px; left:20%; max-width: 60%; overflow:hidden;" src="https://rekords.net/image/catalog/widsoldout_228x110.png" class="img-responsive">
								</div>
								<div>
									<div class="caption">
										<h4>
											<a href="https://rekords.net/index.php?route=product/product&amp;product_id=32801">38 Spesh - 5 Shots (Samples Of Raw), LP</a>
										</h4>
										<p>Deluxe Edition of Rochester’s own 38 Spesh’s “5 Shots” EP. Includes 2 bonus songs and instrumentals. Special guests include Elcamino, Eto &amp; Che Noir.
										</p>
		    							<p>Catalog#: GGBR-018</p>
										<p>Press: Canada</p>
										<p>Year: 2019</p>
										<p>Condition: NEW</p>
				                        <p class="price">                   DKK230.00
                                        </p>
									</div>
								<div class="button-group">
									<button type="button" id="button-cart-32801" onclick="cart.add('32801', '1');" disabled="" style="background: rgb(98, 98, 98) url(&quot;&quot;) no-repeat scroll right top;">
										<i class="fa fa-shopping-cart"></i> 
										<span class="hidden-xs hidden-sm hidden-md">Sold Out</span>
									</button>
								</div>
							</div> 
						</div>
					</div>
					<div class="product-layout product-grid col-lg-4 col-md-4 col-sm-6 col-xs-12">
						<div class="product-thumb">
							<div class="image" id="image-24751">
								<a href="https://rekords.net/index.php?route=product/product&amp;product_id=24751">
									<img src="https://rekords.net/image/cache/data/24751-228x228.jpg" alt="6 Kolonne - Mørket Kommer Listende / Hvem Skød Inger, 7”" title="6 Kolonne - Mørket Kommer Listende / Hvem Skød Inger, 7”" class="img-responsive"></a>
							</div>
							<div>
								<div class="caption">
									<h4>
										<a href="https://rekords.net/index.php?route=product/product&amp;product_id=24751">6 Kolonne - Mørket Kommer Listende / Hvem Skød Inger, 7”</a>
									</h4>
									<p>To tidligere unreleased tracks fra 6 Kolonne.</p>
		    						<p>Press: Denmark</p>
									<p>Year: 2018</p>
									<p>Condition: NEW</p>
				                    <p class="price">                   DKK100.00
                                    </p>
								</div>
								<div class="button-group">
									<button type="button" id="button-cart-24751" onclick="cart.add('24751', '1');">
										<i class="fa fa-shopping-cart"></i>
										<span class="hidden-xs hidden-sm hidden-md">Add to Cart</span>
									</button>
								</div>
							</div> 
						</div>
					</div>
					<div class="product-layout product-grid col-lg-4 col-md-4 col-sm-6 col-xs-12">
						<div class="product-thumb">
							<div class="image" id="image-29656">
								<a href="https://rekords.net/index.php?route=product/product&amp;product_id=29656">
									<img src="https://rekords.net/image/cache/data/29656-228x228.jpg" alt="7 9 13 - Bank Under Bordet, 12&quot;, EP" title="7 9 13 - Bank Under Bordet, 12&quot;, EP" class="img-responsive"></a>
							</div>
							<div>
								<div class="caption">
									<h4>
										<a href="https://rekords.net/index.php?route=product/product&amp;product_id=29656">7 9 13 - Bank Under Bordet, 12", EP</a>
									</h4>
									<p>
									</p>
		    						<p>Catalog#: ODD 002</p>
									<p>Press: Denmark</p>
									<p>Year: 2002</p>
									<p>Condition: NEW</p>
				                    <p class="price"> 
									<span class="price-new">DKK20.00</span> 
									<span class="price-old">DKK100.00</span>                                  </p>
								</div>
								<div class="button-group">
									<button type="button" id="button-cart-29656" onclick="cart.add('29656', '1');">
										<i class="fa fa-shopping-cart"></i>
										<span class="hidden-xs hidden-sm hidden-md">Add to Cart</span>
									</button>
								</div>
							</div> 
						</div>
					</div>
					<div class="product-layout product-grid col-lg-4 col-md-4 col-sm-6 col-xs-12">
						<div class="product-thumb">
							<div class="image" id="image-31815">
								<a href="https://rekords.net/index.php?route=product/product&amp;product_id=31815">
									<img src="https://rekords.net/image/cache/data/31815-228x228.jpg" alt="8-Off - Wrap Your Lips Around This, 2xLP" title="8-Off - Wrap Your Lips Around This, 2xLP" class="img-responsive"></a>
							</div>
							<div>
								<div class="caption">
									<h4>
										<a href="https://rekords.net/index.php?route=product/product&amp;product_id=31815">8-Off - Wrap Your Lips Around This, 2xLP</a>
									</h4>
									<p>For the first time available on vinyl. Originally released in 1995.
									</p>
		    						<p>Catalog#: Taha021</p>
									<p>Press: Europe</p>
									<p>Year: 2019</p>
									<p>Condition: NEW</p>
				                    <p class="price">                   DKK250.00
                                    </p>
								</div>
								<div class="button-group">
									<button type="button" id="button-cart-31815" onclick="cart.add('31815', '1');">
										<i class="fa fa-shopping-cart"></i>
										<span class="hidden-xs hidden-sm hidden-md">Add to Cart</span>
									</button>
								</div>
							</div> 
						</div>
					</div>
					<div class="product-layout product-grid col-lg-4 col-md-4 col-sm-6 col-xs-12">
						<div class="product-thumb">
							<div class="image" id="image-20848">
								<a href="https://rekords.net/index.php?route=product/product&amp;product_id=20848">
									<img src="https://rekords.net/image/cache/data/20848-228x228.jpg" alt="A Tribe Called Quest - Midnight Marauders, LP, Reissue" title="A Tribe Called Quest - Midnight Marauders, LP, Reissue" class="img-responsive"></a>
							</div>
						<div>
						<div class="caption">
							<h4>
								<a href="https://rekords.net/index.php?route=product/product&amp;product_id=20848">A Tribe Called Quest - Midnight Marauders, LP, Reissue</a>
							</h4>
							<p>Reissue of ATCQ's third album from 1993.
							</p>
		    				<p>Catalog#: 01241-41490-1</p>
							<p>Press: US</p>
							<p>Condition: NEW</p>
				            <p class="price">                   DKK180.00
                            </p>
							</div>
							<div class="button-group">
								<button type="button" id="button-cart-20848" onclick="cart.add('20848', '1');">
									<i class="fa fa-shopping-cart"></i>
									<span class="hidden-xs hidden-sm hidden-md">Add to Cart</span>
								</button>
							</div>
						</div> 
					</div>
				</div>
                <div class="product-layout product-grid col-lg-4 col-md-4 col-sm-6 col-xs-12">
					<div class="product-thumb">
						<div class="image" id="image-20849">
							<a href="https://rekords.net/index.php?route=product/product&amp;product_id=20849">
								<img src="https://rekords.net/image/cache/data/20849-228x228.jpg" alt="A Tribe Called Quest - People's Instinctive Travels And The Paths Of Rhythm, 2xLP, Reissue" title="A Tribe Called Quest - People's Instinctive Travels And The Paths Of Rhythm, 2xLP, Reissue" class="img-responsive"></a>
						</div>
						<div>
							<div class="caption">
								<h4>
									<a href="https://rekords.net/index.php?route=product/product&amp;product_id=20849">A Tribe Called Quest - People's Instinctive Travels And The Paths Of Rhythm, 2xLP, Reissue</a>
								</h4>
								<p>25th Anniversary Edition of ATCQs debut album. Remastered and includes 3 bonus remixes by Ceelo Green, Pharrell Williams &amp; J. Cole.
								</p>
		    					<p>Catalog#: 88875172371</p>
								<p>Press: Europe</p>
								<p>Year: 2015</p>
								<p>Condition: NEW</p>
				                <p class="price">                   DKK200.00
                                </p>
							</div>
							<div class="button-group">
								<button type="button" id="button-cart-20849" onclick="cart.add('20849', '1');">
									<i class="fa fa-shopping-cart"></i> <span class="hidden-xs hidden-sm hidden-md">Add to Cart</span>
								</button>
							</div>
						</div> 
					</div>
				</div>
                <div class="product-layout product-grid col-lg-4 col-md-4 col-sm-6 col-xs-12">
					<div class="product-thumb">
						<div class="image" id="image-20425">
							<a href="https://rekords.net/index.php?route=product/product&amp;product_id=20425">
								<img src="https://rekords.net/image/cache/data/20425-228x228.jpg" alt="A Tribe Called Quest - We Got It From Here…Thank You 4 Your Service, 2xLP" title="A Tribe Called Quest - We Got It From Here…Thank You 4 Your Service, 2xLP" class="img-responsive"></a>
						</div>
						<div>
							<div class="caption">
								<h4>
									<a href="https://rekords.net/index.php?route=product/product&amp;product_id=20425">A Tribe Called Quest - We Got It From Here…Thank You 4 Your Service, 2xLP</a>
								</h4>
								<p>Long awaited sixth LP by ATCQ. Feat. André 3000, Kendrick Lamar, Jack White, Elton John, Kanye West, Anderson Paak, Talib Kweli, Busta Rhymes.
								</p>
		    					<p>Catalog#: 88985377871</p>
								<p>Press: Europe</p>
								<p>Year: 2017</p>
								<p>Condition: NEW</p>
				                <p class="price">                   DKK200.00
                                </p>
							</div>
							<div class="button-group">
								<button type="button" id="button-cart-20425" onclick="cart.add('20425', '1');">
									<i class="fa fa-shopping-cart"></i> 
									<span class="hidden-xs hidden-sm hidden-md">Add to Cart</span>
								</button>
							</div>
						</div> 
					</div>
				</div>
                <div class="product-layout product-grid col-lg-4 col-md-4 col-sm-6 col-xs-12">
					<div class="product-thumb">
						<div class="image" id="image-29611">
							<a href="https://rekords.net/index.php?route=product/product&amp;product_id=29611">
								<img src="https://rekords.net/image/cache/data/29611-228x228.jpg" alt="A Tribe Called Quest vs. The Pharcyde - Bizarre Tribe: A Quest To The Pharcyde, 2xLP" title="A Tribe Called Quest vs. The Pharcyde - Bizarre Tribe: A Quest To The Pharcyde, 2xLP" class="img-responsive"></a><img style="position:absolute; top: 20px; left:20%; max-width: 60%; overflow:hidden;" src="https://rekords.net/image/catalog/widsoldout_228x110.png" class="img-responsive">
						</div>
						<div>
							<div class="caption">
								<h4>
									<a href="https://rekords.net/index.php?route=product/product&amp;product_id=29611">A Tribe Called Quest vs. The Pharcyde - Bizarre Tribe: A Quest To The Pharcyde, 2xLP</a>
								</h4>
								<p>Note: Bent corner! ATCQ productions re-orchestrated by using the original jazz, soul, and funk recordings sampled in their works paired with vocals from The Pharcyde. Produced by Amerigo Gazaway.</p>
								<p>Press: US</p>
								<p>Year: 2013</p>
								<p>Condition: NEW</p>
								<p class="price">                   DKK200.00 </p>
							</div>
							<div class="button-group">
								<button type="button" id="button-cart-29611" onclick="cart.add('29611', '1');" disabled="" style="background: rgb(98, 98, 98) url(&quot;&quot;) no-repeat scroll right top;">
									<i class="fa fa-shopping-cart"></i> 
									<span class="hidden-xs hidden-sm hidden-md">Sold Out</span>
								</button>
							</div>
						</div> 
					</div>
				</div>
                <div class="product-layout product-grid col-lg-4 col-md-4 col-sm-6 col-xs-12">
					<div class="product-thumb">
						<div class="image" id="image-21454">
							<a href="https://rekords.net/index.php?route=product/product&amp;product_id=21454">	
								<img src="https://rekords.net/image/cache/data/21454-228x228.jpg" alt="A-F-R-O &amp; Marco Polo - A-F-R-O Polo, LP" title="A-F-R-O &amp; Marco Polo - A-F-R-O Polo, LP" class="img-responsive">
							</a>
						</div>
						<div>
							<div class="caption">
								<h4>
									<a href="https://rekords.net/index.php?route=product/product&amp;product_id=21454">A-F-R-O &amp; Marco Polo - A-F-R-O Polo, LP</a>
								</h4>
								<p>Collabo LP by young up n comming rapper AFRO and producer Marco Polo.</p>
								<p>Catalog#: DDM2510LP</p>
								<p>Press: US</p>
								<p>Year: 2016</p>
								<p>Condition: NEW</p>
								<p class="price">                   DKK150.00  </p>
							</div>
							<div class="button-group">
								<button type="button" id="button-cart-21454" onclick="cart.add('21454', '1');">		
									<i class="fa fa-shopping-cart">									</i> 
									<span class="hidden-xs hidden-sm hidden-md">Add to Cart</span>
								</button>
							</div>
						</div> 
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-6 text-left">
					<ul class="pagination">
						<li class="active">
							<span>1</span>
						</li>
						<li>
							<a href="https://rekords.net/index.php?route=product/category&amp;path=396_325&amp;page=2">2</a>
						</li>
						<li>
							<a href="https://rekords.net/index.php?route=product/category&amp;path=396_325&amp;page=3">3</a>
						</li>
						<li>
							<a href="https://rekords.net/index.php?route=product/category&amp;path=396_325&amp;page=4">4</a>
						</li>
						<li>
							<a href="https://rekords.net/index.php?route=product/category&amp;path=396_325&amp;page=5">5</a>
						</li>
						<li>
							<a href="https://rekords.net/index.php?route=product/category&amp;path=396_325&amp;page=6">6</a>
						</li>
						<li>
							<a href="https://rekords.net/index.php?route=product/category&amp;path=396_325&amp;page=7">7</a>
						</li>
						<li>
							<a href="https://rekords.net/index.php?route=product/category&amp;path=396_325&amp;page=8">8</a>
						</li>
						<li>
							<a href="https://rekords.net/index.php?route=product/category&amp;path=396_325&amp;page=9">9</a>
						</li>
						<li>
							<a href="https://rekords.net/index.php?route=product/category&amp;path=396_325&amp;page=2">&gt;</a>
						</li>
						<li>
							<a href="https://rekords.net/index.php?route=product/category&amp;path=396_325&amp;page=58">&gt;|</a>
						</li>
					</ul>
				</div>
				<div class="col-sm-6 text-right">Showing 1 to 15 of 856 (58 Pages)</div>
			</div>
		</div>
    </div>
</div>